<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>From Ramayan to AIB | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post8-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Company Tales</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">From Ramayan to AIB</h1>
                    <div class="small m-b-20">Feb 19, 2017  |  <a href="/#">By: Rishabh K.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                    <p>
                                            A fortuitous Sunday, 1987.</p>
                                            <p>Location: A local Indian alley.
                                         </p>
                                         <br>
                                         <p style="text-align:center;">
                                            <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                                <img style="grid-column: 2/3" src="/blogimg/post8-1.jpg" alt="Fashion" style="height:500px;width:640px">
                                            </div>
                                        </p>
                                         <p>The thoroughfare had stopped.  As far as the sight ran, there was no trace of any human. The dust was rising and drifting away obliviously into the sunny afternoon under the lonesome trees only to be accompanied by the cattle chewing on cuds. The delis were shut the bakers had pulled their shutters down while some other stores were nonchalant of the fact that they were left open and unattended. Where was everyone? Was this like a “storm is coming” warning which was going to bamboozle the towns? A cracked window pane lay half open with three elderlies and ten children hogging on the small black and white television set which was especially cleaned for this afternoon ordeal. They were having their own family time with all their furniture, men women and children all pointed at that minuscule screen which was supposed to air something worthwhile.</p><br>
                                         <p>This was the age when television was becoming popular as a medium of entertainment. This was the age when the entertainment industry and the to-be-famed silver screen were airing its new found saga. This was a weekly ordeal and the scene, in almost every household and in every small town, was the same. It was the age of RAMAYAN! Our generation might not be acclimatized to this phenomenal TV series by Ramanand Sagar which was an all-in-one package deal for our elderlies. It was not just a show, it was a family gathering for all the townies. It was one for the books.</p><br>
                                         <p>Ramanand Sagar’s Ramayan, along with a few other of its kind opened a completely new field of entertainment for the Indian audience who thought that entertainment was only Bollywood movies and cricket matches. This unkempt path immediately attracted investors because of its humongous potential and within 10 years, the television was flooded with infinite number of similar weekly soaps which soon shifted gears into daily soaps. People, on other hand, duly welcomed it and recognized television as a very powerful source of entertainment. Thus began an era of silver-screen entertainment!</p>
                                         <p>With the advent of internet, the tables turned and they turned quickly. People discovered that internet could also be a medium of entertainment. This ideology gave birth to one of the most popular websites ever made – YouTube. If there was anything that had the ability to replace television, it was YouTube. But YouTube had the trump card to dominance. It was free! Not only for the people looking for entertainment but also for the entertainers and to be entrepreneurs. This was a huge opportunity for those who had the ability to entertain but were devoid of money. They created their own entertainment channel on YouTube and they were all set!</p><br>
                                         <p>The definition of entertainment start-ups has been changing ever since. Entertainment sector is the one unique amalgamation of the new and the old. While online platforms like YouTube and many more followed in the upcoming years they never made the old school television out-dated. It is much the same with evolution of man from monkey, right? Both of them co-exist in tandem.(Some people might argue over that). So, let’s take a dive in the entertainment start-ups on internet since they are the modernistic arena for the entertainment sector.</p><br>

                                         <p style="text-align:center;">
                                            <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                                <img style="grid-column: 2/3" src="/blogimg/post8-2.jpg" alt="Fashion" style="height:500px;width:640px">
                                            </div>
                                        </p>
                                         <p>TVF Pitchers, Permanent Roommates, Qtiyapa and the newest one -Tripling.</p><br>
                                         <p>We all know these shows (Those who don’t, please do watch). Since its conceptualization, TVF has been able to touch the very cord of Indian youth which was getting bored of the daily soaps which had taken the raunchy avatar of “Saas and Bahu”. Arunabh Kumar, a graduate from IIT Kharagpur, founded TVF with the idea of presenting problems faced by Indian youth in a comical manner. This idea reflects in all their works. TVF has been expanding ever since. Recently, they included Bhuvan Bam (BB Ki Vines fame) in their journey.</p><br>
                                         <p>This brings us to another entertainment channel, BB Ki Vines. BB Ki Vines became an overnight internet sensation with its extremely hilarious videos: “tickling our funny bones”.</p><br>
                                         <p>While TVF was becoming an internet sensation, the one man army show proved that it was no less a success. Mostly satirical in its nature, the videos targeted the audience above 18, throughout the world. Recently, BB got the ward for being the most popular YouTube channel in India from none other than YouTube.</p><br>
                                         <p>Before BB Ki Vines, YouTube channels managed by individuals mostly comprised of stand- up comedians. YouTube became a more popular stage for stand-up videos after the very successful show, The Great Indian Laughter Challenge albeit the decline in its viewership in its last seasons. Comedians like Vir Das, Tanmay Bhat, Kenny Sebastian and Sourabh Pant and many others took us on the humorous tour.</p><br>
                                         <p>Varun Pruthi, a social entrepreneur, took to YouTube as a medium to spread awareness about social issues that need to be dealt seriously. His video about the condition of ambulance in India showed us how irresponsible we are when it comes to traffic management in India.</p><br>
                                         <p>Sandeep Maheshwari, founder of ImagesBazaar, decided to share his share of struggles with the Indian youth and motivate them to achieve great heights in their lives.</p><br>
                                         <p>Over a thousand people from different age groups visit Sandeep’s seminar for motivation.</p><br>
                                         <p>Sandeep and his fans believe in the idea of “easy Hai” for every problem they face.</p><br>
                                         <p>The discussion about popular Indian YouTube channels cannot end without mentioning AIB.</p><br>
                                         <p style="text-align:center;">
                                            <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                                <img style="grid-column: 2/3" src="/blogimg/post8-3.jpg" alt="Fashion" style="height:500px;width:640px">
                                            </div>
                                        </p>
                                         <p>
                                            AIB (All India Bakchod) works along the lines of TVF but has gained its uniqueness because of the bold acts. AIB roast was first of its kind to be held in India starring celebs like Ranveer Singh and Arjun Kapoor apart from the usual AIB cavalry. AIB’s “Honest Indian Wedding”, “Every Bollywood Party Song” and the very recent “On Air with AIB” have managed to garner great admiration from Indian audience in this relatively bold genre.</p><br>
                                            <p>For all those aspiring entertainers, let it be known that the golden age of entertainment has dawned where investments are the bare minimum and the revenues hefty. All you need is the talent in the field, creativity and the will to work hard to create something new. Be it as simplistic and mesmerizing as making covers for popular songs like Sanam, Vidya Vox, Jonita Gndhi Shirley Setia and a lot more or as naïve as giving counter- strike and age of empires tips to the gamers or even reacting strangely to the videos which are already made! This is the time to tickle your senses because this is the age of digitization.</p><br>
                                            <p>All the world’s a stage!</p><br>
                                            <p>If you’re still hesitating, then remember the modern mantra, “Tu Beer Hai……”.</p><br>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-7" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-9" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
