<!DOCTYPE html>
<html lang="en">

  <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title> How EdarLabs is reinventing leARning ViRtually | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
 </head>

 <body>

 <!-- Body Inner -->
 <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="background-overlay-dark text-light" data-bg-parallax="/blogimg/post47.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Interview</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 40px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">How EdarLabs is reinventing leARning ViRtually</h1>
                    <div class="small m-b-20">September 09, 2020  |  <a href="/#">By: Ayesha</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                <p>A few weeks back, we had an insightful conversation with Yashwanth Kumar, the founder, and CEO of EdarLabs, an educational startup born in Insti, about the applications of AR and VR in education and the revolutionary changes that are foreseen in the Indian educational system, especially with the New Education Policy 2020 on board. Here’s how it went...</p><br>
                                <p><span style="font-size: 17px; font-weight: bolder;"><u>E-Cell IITM:</u> Congrats on EdarLabs! It's a great unique concept. Can you tell us a bit more about EdarLabs?<br>
                                  Yashwanth:</span> EdarLabs, we are an experiential learning platform. We offer science courses that are aligned with the CBSE curriculum from grades 6 to 10 as stimulations in the virtual environment using the technology of AR and VR. Right now we are also offering programming and coding courses too. Everything is gamified. Our vision is to challenge passive learning methods and get students involved in the learning process so that they are learning by themselves, which is the essence of experiential learning. Implementing experiential learning is tricky due to various factors such as budget constraints, availability of resources, and school’s receptivity towards it. So we decided to offer experiential learning in a virtual environment where students can get hands-on experience with experiments like the simple pendulum experiment and Ohm’s law experiment. And that’s how we began almost two and a half years ago. We currently have over 60 models that map out the NCERT curriculum.</p><br>
                                <p><span style="font-size: 17px; font-weight:bolder;"><u>E-Cell IITM:</u> What inspired you to start EdarLabs? Did your school experience influence your startup?<br>
                                Yashwanth:</span>I’m a tech enthusiast, I’m fascinated by technology and that’s what got me into (the idea of) EdarLabs. I started exploring AR and VR in my second year. I had built apps and products based on AR technology. I had also worked on a cloud tagging AR app which is useful in marketing and campaigning and helps build an emotional connection with the users. I was also approached by a company that offers educational services. I interned with them, visited a few schools and I realized that this was where the potential of AR can be utilized.</p>
                                <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post47-1.jpg" alt="Fashion" style="height:300px;width:340px">
                                    </div>
                                </p>
                                <br>
                                <p><span style="font-size: 17px; font-weight: bolder;"><u>E-Cell IITM:</u> How is EdarLabs facilitating the transition from rote learning to active learning?<br>
                                Yashwanth:</span> That is our vision and something we have been trying at EdarLabs. There are different types of students. There are students who can understand whatever the teacher is teaching, they don’t need great pedagogy based tools to help them understand the concepts. Then, there are average students whose attention span is less. So whenever a topic or a concept is being taught, it is usually presented to them. Say, Ohm’s law is V is equal to i times r and here’s a bunch of problems based on it. Solve it and you are done with it. You’ve learnt Ohm’s law. So whenever information is presented in this way, 60-70% students don’t really think, they just look at it, memorise it and apply it. With EdarLabs what they can do is, we don’t give information the first time, we just give them the background and resources. It's like, an Ohm’s law circuit will be there, you can increase the voltage and observe the changes in the current. For showing the current we don’t use ‘i’, we use electrons. So we provide the resources and the platform, and students can interact with it and deduce the results on their own. So instead of telling them this is Ohm’s law and this is the formula, we are telling them this is what is happening and observe what is happening.<br>
                                The funda is simple - whenever you show some dots and show how it is connected, the students will not actively learn it. Only when we give students the dots and ask them to connect them will they learn in the process of connecting them and it will also give them some time to think about it. This also develops their thought process and creativity.
                                </p><br>
                                <p><span style="font-size: 17px; font-weight: bolder;"><u>E-Cell IITM:</u> With any idea, the most important and daunting task in the process of execution is taking the first step. How did you get started?<br>
                                Yashwanth:</span>Getting started is tricky. What helped me is the industry insight by the company I’ve been consulting with. When we built our first prototype, just like any other prototype, it was not up-to the mark and we were unsure about where we should go from there. After talking to these industry experts, we came to know what all features should be added and what all could be done to improve it. So, I would say that proper mentorship and industry insight helped me have a smooth start.</p><br>
                                <p><span style="font-size: 17px; font-weight: bolder;"><u>E-Cell IITM:</u> What Insti resources helped you start up ?<br>
                                  Yashwanth:</span>Definitely, Nirmaan. I have been drawn to entrepreneurship since school and even in my first year I was always searching for an idea to work on. So, in my second year, I started working on an IoT project that was funded by Nirmaan and that’s how the journey began. After that project, I worked on AR cloud tagging and other technologies, which I then carried forward to EdarLabs. So, the mentorship and funding from Nirmaan helped me a lot.
                                  Also the lecture series from E-Cell. When it (EdarLabs) was still in the ideation stage, Aman Verma, who was one of the E-Cell heads at that time, actually told me that I had a pretty good idea and connected me with some of the VCs in his contacts. The network and connections that E-Cell has helped.
                                </p>
                                <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post47-2.jpg" alt="Fashion" style="height:300px;width:340px">
                                    </div>
                                </p><br>
                                <p><span style="font-size: 17px; font-weight: bolder;"><u>E-Cell IITM:</u> What are some of the factors that you look for in a potential teammate?<br>
                                Yashwanth:</span>The main important factor is the same vision. We are involved in education because we want to challenge the educational system and bring about a change. So, the first thing I look for in a potential teammate is the shared vision and passion for education. It's not about building some features and ideas like that when their vision and interests are aligned with ours, that’s when we know they are the right fit for us.</p><br>
                                <p><span style="font-size: 17px; font-weight: bolder;"><u>E-Cell IITM:</u> Aside from the shared vision, what are the things that actually build a team?<br>
                                Yashwanth:</span>The expertise of every individual should complement that of the other people. And it’s dedication and persistence. When you initially startup, you don’t see results immediately. It might take time to see the results but when you’re passionate about what you’re trying to solve, you don’t worry about it. That is where the dedication, persistence and shared vision plays an important role. Also, the ability to take and give constructive criticism is crucial. It’s every teammate’s responsibility to tell the others if they’re going in the right direction or not. There should be a sense of candor in the team. </p><br>
                                <p><span style="font-size: 17px; font-weight: bolder;"><u>E-Cell IITM:</u> One of the biggest changes the Indian education system has seen is the New Education Policy 2020, which was recently approved by the union cabinet. What are your opinions about it?<br>
                                Yashwanth:</span> It’s a revolutionary change that has been due for a while now. The mistake we’ve been making so far is that we've been telling ourselves that the education system is doing great, we have this many people graduating college and they have these many skills and are trained to do the job, but the actual number of people getting quality education is very low. NEP has recognized this and pointed out the fact that we’ve stuck to some of the methodologies we’ve been using to quantify the learning abilities and development of students for a long time. This is appreciable along with the initiative to replace marks with multidisciplinary learning. Currently, only around 10 % of the students are actually engaged in co-curricular activities or extracurricular activities. This policy allows students to explore some of their interests from grade 9 onwards. Even the curriculum for middle school has been laid out pretty well.</p>
                                <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post47-3.jpg" alt="Fashion" style="height:300px;width:340px">
                                    </div>
                                </p><br>
                                <p><span style="font-size: 17px; font-weight: bolder;"><u>E-Cell IITM:</u> What is the impact that EdarLabs aspires to make in the education system?<br>
                                Yashwanth:</span> Making students think on their own and motivating them to build things. So, schooling until tenth grade is not about grades and marks, it’s all about learning to think. So, you need to teach or equip the students to think on their own. If you’ve done that, then it means that you’ve built a revolutionary product. </p><br>
                                <p><span style="font-size: 17px; font-weight: bolder;"><u>E-Cell IITM:</u> What are the future plans for EdarLabs?<br>
                                Yashwanth:</span> Right now, EdarLabs is more B2B. We provide schools with digital pedagogical tools to use in the classrooms to teach students concepts. We are shifting this B2B product into a B2C product, where students can use our platform to learn on their own without the need for an instructor. Right now, our products are more teacher-centric, so it is only effective when a teacher uses it. But right now we have a new B2C product called ThinkVerse, where we offer a bunch of science and tech courses to students.</p><br>
                                <p><span style="font-size: 17px; font-weight:bolder;"><u>E-Cell IITM:</u> What advice would you like to give to young entrepreneurs? Something you wish you had heard when you started your entrepreneurial journey.<br>
                                Yashwanth:</span>So, the first mistake I had made, which usually most people starting up make, is thinking that your idea is this revolutionary thing, no one has thought about it and it's the best thing. Everything will come away. An idea for a startup or a product, is something that is experimental, you can’t tell this will work for sure. The first thing you need to do is you need to start early and do experimentation. Startup is all about trial and error. So even successful entrepreneurs can’t tell you what will work for your startup, they can only guide you and tell you what worked for them. When it comes to an idea while you are starting up, experiment. Experimentation is the only thing that can help you. Customer intimacy is appreciated. Talk to industry experts and your potential customers, who are actually willing to listen to you and give you valuable feedback in terms of constructive criticism. While building EdarLabs, I used to go to the KV school on the campus and talk to the students and teachers there. So, move fast and start early. You don’t know what’s going to work for you, keep trying. The greatest strength an entrepreneur should have is the courage to keep trying. If one thing doesn’t work you shouldn’t be demotivated or let go of it. There is surely something out there that will work for you. </p>
                                <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post47-4.jpg" alt="Fashion" style="height:300px;width:340px">
                                    </div>
                                </p><br>
                                <p>Some of the valuable takeaways from this interview are :
                                <ul style="font-size:17px;">
                                  <li>Start early and take risks</li>
                                  <li>Keep experimenting and searching for what works for you</li>
                                  <li>Funding, mentorship and connections offered by Insti resources are really helpful.</li>
                                  <li>Proper mentorship and industry insight can steer your startup in the right direction.</li>
                                </ul>
                                </p>
                                <p>These are some of our takeaways but we would love to hear your learnings from this interview in the comments section. Stay safe!</p>
                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-48" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                                 <i class="icon-grid"></i>
                                </a>
                                <a href="/blog/post-46" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end: Post single item-->

                    <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
