
<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Lessons on a Solo Trip | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post37-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Out Of The Box</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Lessons on a Solo Trip</h1>
                    <div class="small m-b-20">Oct 7, 2018  |  <a href="/#">By: Prajeet Oza.</a></div>
                   <!-- <div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                <p>Solo trips are a mysterious tryst between ‘observation’ and ‘entrepreneurship’. As you roam around the nooks and corners of the city, you experience some subtle actions and reactions which depict entrepreneurial thinking. Here are a few tales from my recent solo trip:</p>
                                <br>
                                <p style="text-align: center;"><em>“An hour to sunset, I strolled down a crowded street in Delhi that had street food vendors</em></p>
                                <p style="text-align: center;"><em>serving mouth-watering delicacies. I walk to a crossroad, which on one side has some spooky</em></p>
                                <p style="text-align: center;"><em>wooden houses. Facing these houses are some stalls and a spectacle shop in its inaugural</em></p>
                                <p style="text-align: center;"><em>week. I enter the shop, converse with the attendant and try a few pairs of sunglasses. I finally</em></p>
                                <p style="text-align: center;"><em>walk out with a new pair. Yeah. The attendant was too good to be just a salesperson.</em></p><br>
                                <p style="text-align: center;"><em>A few paces from the shop and a girl walks up to me and compliments my sunglasses. I blush a</em></p>
                                <p style="text-align: center;"><em>little and walk off to the bus stand on the opposite side of the road. While waiting at the stop, I</em></p>
                                <p style="text-align: center;"><em>notice the same girl is talking to a man who has just stepped out of the shop and was wearing</em></p>
                                <p style="text-align: center;"><em>peculiarly styled spectacles. A few minutes later, I notice she is not alone in this task. All of them</em></p>
                                <p style="text-align: center;"><em>are talking to or maybe complimenting the visitors.”</em></p>
                                <br>
                                <p>That’s definitely a ‘Customer Service 101’.</p><br>
                                <p style="text-align: center;"><em>“They may forget what you said,</em></p>
                                <p style="text-align: center;"><em>but they will never forget how</em></p>
                                <p style="text-align: center;"><em>you made them feel.”</em></p>
                                <p style="text-align: center;"><em>- Maya Angelou</em></p>
                                <br>
                                <p style="font-weight: bold;">WHAT IS CUSTOMER SERVICE?</p>
                                <p>In simple terms, it’s the maker or breaker of the market for any startup as well as any established firm and of course, it’s not only limited to attending customers with a smile. Apple, Amazon, Uber, Ola; all these ‘startups’ are obsessed with their customers. Founders and CEOs of these companies are often heard mentioning a statement similar to: ‘...consumed tons of caffeine to serve my customers, but even today I strive to serve them the best.’, because every ‘wow’ from the customers' matter. And what efforts do they put in for a ‘wow’?</p>
                                <br>
                                <p>Apple is analogous to expensive gadgets, yet its empire is expanding day-by-day. One of the major driving force is the addictive customer experience that spells out the acronym A-P-P-L-E.</p>
                                <p>A - Approach customers with a personalized, warm welcome</p>
                                <p>P - Probe politely to understand the customer’s needs</p>
                                <p>P - Present a solution for the customer to take home today</p>
                                <p>L - Listen for and resolve issues or concerns</p>
                                <p>E - End with a fond farewell and an invitation to return</p>
                                <p>Quite impressive, right? Though such exclusive customer services aren’t just limited to companies and firms. There have been cases where private cab drivers serve hot chocolate, ‘zines and newspapers, which extends to high-speed internet and Netflix access.</p>
                                <br>
                                <p>Moving on:</p><br>
                                <p style="text-align: center;"><em>“Later during the trip, I board a train to Chandigarh. Train travels are just to stare out the window</em></p>
                                <p style="text-align: center;"><em>if you are traveling alone. Though this one is a bit different, maybe because of the talking and</em></p>
                                <p style="text-align: center;"><em>chattering of this guy sitting next to me. An ordinary guy, seemingly clumsy, but commands an</em></p>
                                <p style="text-align: center;"><em>incredible clarity in thoughts. Moreover, he owns a startup based in Delhi and thus travels to</em></p>
                                <p style="text-align: center;"><em>Delhi every weekend after completing his weekly coursework. At this point, I’m completely</em></p>
                                <p style="text-align: center;"><em>awestruck. He then starts to explain his idea. After the explanation, he says he hasn’t patented</em></p>
                                <p style="text-align: center;"><em>his idea, and it’s accessible to everyone.”</em></p>
                                <br>
                                <p>I had no clue on how to react. And the only thought I could derive from his words was, “Is this guy trying to get inspired by Elon Musk’s Tesla? Maybe.”</p>
                                <br>
                                <p style="font-weight: bold;">BE OPEN ABOUT YOUR IDEA?</p>
                                <p>Idea. It takes a lot to ideate something original, so why should one share it or even speak about it in public? Of the many positives, one is getting feedback from potential customers at an early stage. That is an essential segment of market research because you need to know your target audience (and a market research cannot be entirely Google searches). And many times, these interactions shoot the anxiety meter of the entrepreneurs to the tipping point for they believe that their idea can be replicated. Well, that’s a myth. The execution of every idea has a personalized touch of the individuals working on it. For example, the e-commerce giants like Flipkart and Amazon, or the book-a-cab apps like Uber and Ola; they have similar ideas but execution? It’s different. In fact, competitors catalyze the research in services and products, while monopoly has the tendency to suppress further development. Nevertheless, there exists a fine line that differentiates ‘sharing’ and ‘oversharing’; but it’s quite relative to every individual. People can always exercise their choice between ‘sharing’ and ‘oversharing’.</p>
                                <br>
                                <p>Such tales are subtle observations which usually go unnoticed. It could happen that the guy in the train sitting next to you has an exciting story to tell, or your favorite bookstore has a peculiar way of treating visitors. They all are in a queue to be part of your next story. So when are you joining me in the journey of observations? Or you will be traveling solo? :-P</p>
                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-38" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-36" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
