<!DOCTYPE html>

<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>IIT Madras: Spearheading India’s Startup Fever | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post2-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">IIT Madras</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">IIT Madras: Spearheading India’s Startup Fever</h1>
                    <div class="small m-b-20">Jun 23, 2017  |  <a href="/#">By: Pranav Bharghav.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                    <p>
                                            IIT Madras is one of the new-era educational establishments – one of those which, for a long time now, have never been shy of going that extra mile to nurture or stimulate an entrepreneurial spirit among its students. This is the reason our institute currently possesses, arguably, the most vibrant startup culture among the IITs. Despite having to slog through our curriculum much the same as everywhere else, what sets the atmosphere apart here are the opportunities provided to the students to participate in innovation of some form or the other – and at the very least, gain experience in such areas to better prepare you for any undertaking you might pursue in the future.
                                         </p>
                                         <br>
                                         <p>
                                            Does this mind-set and support actually translate into something noticeable? Or are we all bark and no bite? Indeed it does. Just look at our presence at the annual ET Startup Awards. Student startups being eligible for the “Best on Campus” award, 4 out of the 5 final nominees were startups from IIT Madras last year. And indeed, IIT Madras’s Ather Energy, Founded by Tarun Mehta, took the prize. Theirs is the journey of a typical college startup – click here to know more about it, from the mouths of the founders themselves. Just three years ago, all they had was a vague idea of their eventual product. No plan, no vision, no target. IIT Madras gave them the opportunity they needed to expand – support, mentor-ship, research funding – anything they needed, the institute provided. And they thrived.
                                         </p>
                                         <br>
                                         <h2>Startups of IIT Madras:</h2>
                                         <p style="text-align:center;">
                                            <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                                <img style="grid-column: 2/3" src="/blogimg/post2-1.jpg" alt="Fashion" style="height:500px;width:640px">
                                            </div>
                                        </p>
                                         <p>
                                            There are dozens of stories like that in IIT Madras’s rich entrepreneurial history. The students of IIT Madras are encouraged to cultivate an entrepreneurial way of thinking in whatever they do in their time at the institute – the most visible aspect of our startup culture is the IIT Madras Research Park, which we’ve discussed further on. So many of the students here realize that they do indeed have what it takes to make an impact in this world. Even some of those who we couldn’t persuade initially eventually went on to become respectable entrepreneurs and innovators –  like Anand Rajaraman, Founder of Junglee (currently acquired by Amazon), and Raju Venkataraman, Founder of MedAll. Like Kris Gopalakrishnan, Co-Founder of Infosys, and Gururaj “Desh” Deshpande, Founder of Sycamore Networks.  And these amazing folk, in turn, are doing their bit to help the institute in its quest to change society itself. After all, the Gopalakrishnan Deshpande Center isn’t named after them for nothing.</p><br>
                                            <p>And the fruits of our labour have seemed to pay off, as IIT Madras leads India in the recent boom in startups around the world. More and more of our students are willing to take risks, especially with the enormous support and encouragement the institute provides them. In fact, some of our most successful student startups were started by students just one or two years older than yourself, freshman. Take a look at some of them below –
                                         </p><br>
                                         <h3>HyperVerge Inc.</h3>
                                         <p>HyperVerge is at the top of the list of hot new startups emerging from IIT Madras in recent times. Though officially started July 25th, 2014, they trace their origins back to 2009, when they were a student team participating in robotics competitions around the world with the help of IIT Madras. It’s currently a Silicon Valley based startup with offices in Palo Alto, Chennai, and Bangalore.</p>
                                         <br>
                                         <h3>Ather Energy</h3>
                                         <p>Ather Energy: You’ve already heard about these guys. Winners of the annual ET “Best on Campus” Startup Award. Nothing more need be said. </p><br>
                                         <h3>Detect Technologies</h3>
                                         <p>One of the most popular startups to be located at the IITM Research Park, they’ve been claiming all sorts of local and national prizes for startups and innovation. They were inspired “by the loss of human life and property in gas and oil leakages”. Truly moved by the inefficiencies in current methods, they set out to provide to better methods for prediction and prevention. The Editorial Team, E-Cell will have their complete story up on our Blog in a few days. Look out for it!.</p><br>
                                         <h3>DocsApp</h3>
                                         <p>This is a mobile-only doctor consultation platform, founded by IIT Madras alumni Satish Kannan and Enbasekar Dinadalayane. They’ve been funded both by Facebook angel investors and a Japanese Venture Capital firm Rebright Partners. They currently have over 500 doctors and 3000 labs in their network, and it’s undergoing massive expansions every day. Stay tuned, and we’ll get you their story soon!</p><br>
                                         <h3>Urban Ladder</h3>
                                         <p>A company being by funded by Ratan Tata himself, Urban Ladder aims to provide a memorable consumer experience in the furniture industry – and in their own words, “Our vision is to set global benchmarks for distinctive products, consumer experiences and honest, best practices”. They currently have one of the largest collections of furniture and interior amenities available in India.</p><br>
                                         <h2>Our Ecosystem:</h2>
                                         <p style="text-align:center;">
                                            <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                                <img style="grid-column: 2/3" src="/blogimg/post2-2.jpg" alt="Fashion" style="height:500px;width:640px">
                                            </div>
                                        </p>
                                         <p>
                                            However advanced IIT Madras’s current entrepreneurship scene is, it was not always this easy (easy being relative here). Entrepreneurs have always been here, since decades, and the early ones had nearly no end to their struggles. They struggled for funding, for support, for knowledge, for recognition, for contacts, for feedback – nothing came easily to them. Worst was the attitude and condemnation they faced. But over the years, slowly, a system evolved at IIT Madras to help these people. The importance of nurturing the spirit of these folks was recognized, and organizations, both professor and student-run, were cropping up everywhere with two major purposes – to support existing innovators, and to get rid of the prejudice against them. And these organizations have evolved, eventually, to form the “ecosystem” we see now, a whole host of specialized institutions set up to guide entrepreneurs through all stages of their journey. Some of these are –
                                         </p><br>
                                         <h3>The Center for Innovation</h3>
                                         <p>The “CΦ”, as it’s called here, is our very own “Student Lab”. Set up with funds from the Alumni batch of 1981, they follow the quote “Walk in with an idea, walk out with a product”. </p>
                                         <br>
                                         <h3>The Gopalakrishnan Deshpande Centre</h3>
                                         <p>The GDC plans to play the role of an Angel Investor to a select few startups every year, along with its primary goal of encouraging entrepreneurial thinking among students here.</p><br>
                                         <h3>The Nirmaan Programme</h3>
                                         <p>Nirmaan is the “Pre-Incubation Cell” at IIT Madras. It encourages students to look beyond placements, easing their journey to incubation. With support like this, not many are easily discouraged.</p><br>
                                         <h3>IIT Madras Entrepreneurship Forum</h3>
                                         <p>The alumni of IIT Madras are an extremely valuable resource. This forum aims to make the most of their expertise – and not just through their advice, support, and information. Students can receive offers for apprenticeship in startups or request personal mentoring.</p><br>
                                         <h3>IIT Madras Research Park</h3>
                                         <p>The Research Park is home to dozens of startups and companies belonging to various fields. However, its primary purpose is to “facilitate the promotion of research and development, and assist in the growth of new ventures, while promoting economic development”. It is home to the highest echelon of our “ecosystem”, the Incubation Cell – helping startups make the final leap that takes them beyond the confines of the institute. Plans to replicate the Research Park in several locations all over India has been discussed by Narendra Modi himself.</p><br>
                                         <p>The Research Park is also home to sector specific organizations –</p><br>
                                         <h3>IIT Madras Entrepreneurship Forum</h3>
                                         <p>The alumni of IIT Madras are an extremely valuable resource. This forum aims to make the most of their expertise – and not just through their advice, support, and information. Students can receive offers for apprenticeship in startups or request personal mentoring.</p><br>
                                         <p>
                                            <ul style="color:#637693">
                                               <li>RTBI: The Rural Technology Business Incubator attempts to impact rural/underserved societal segments, resulting in social and economic development among these peoples. </li>
                                               <li>CSIE: This is the Center for Social Innovation and Entrepreneurship, predictably dedicated to the promotion of Social Entrepreneurship in the institute.</li>
                                               <li>Bio-Incubator: This was set up by BIRAC, under the Bio-Incubator Support Scheme, with support from our institutes Biotechnology department a couple of years ago. It has since incubated 2 companies.</li>
                                            </ul>
                                         </p><br>
                                         <p>MS Programme (Entrepreneurship): Even if circumstances, whether here at IIT Madras or elsewhere, have resulted in you skipping over entrepreneurship during your Bachelor’s degree, there’s no cause for distress. Our MS Programme (by Entrepreneurship) offers you the chance to follow your heart, exposing you to the various challenges and opportunities in entrepreneurship.</p><br>
                                         <p>Entrepreneurship Cell, IIT Madras: Last, but hardly least, E-Cell is where you can come to no matter what stage of your journey you are in, with the assurance that we are ready to and capable of assisting you through any kind of problem. E-Cell can be considered the origin of the ecosystem – from when it was started near two decades ago as “C-TIDES”, we’ve brought IIT Madras’s startup culture a long way, and now we are the bridge between you and success – we advise you, support you, equip you for whatever you might face.</p><br>
                                         <p>E-Cell has a finger in every pie, so to speak. We provide mentoring, support and to an extent, funding. We hold countless talks and events throughout the year to develop our institute’s startup culture. We conduct competitions and provide challenges that make people think in a way that will benefit them once they leave the confines of the institute. We provide budding entrepreneurs with a valuable network of contacts and advisors. E-Cell is absolutely essential to the functioning of the ecosystem, and it bears the responsibility admirably, always seeking to improve, looking for new members and bringing out the best in them.</p><br>
                                         <p>At the end of all of this, we want to leave you with an important message. The moment you decided to join IIT Madras, to take advantage of the institute’s stellar reputation, you also inherited the responsibility to maintain, and even build upon, that reputation. The institute gives you everything you need by way of support, and we ask for in return is simple – be yourself. Do not be shackled by anyone else’s expectations of your life. To be creative, one must first be free. This is what IIT Madras offers you, and we hope that you eventually find cause to make use of all of the above foundations setup to support you. Are you willing to begin your journey?</p><br>
                                         <blockquote>
                                            “In order to exercise creativity, freedom of thought is essential”<p style="text-align:right">– Dalai Lama</p>
                                         </blockquote>
                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-1" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-3" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
