<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Interview Tips 101 | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post23-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Missing Jigsaw</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Interview Tips 101</h1>
                    <div class="small m-b-20">Apr 13, 2018  |  <a href="/#">By: Arvind Pujari.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                 <p>
                                     Congratulations to the students who have cleared the first round of the internfair and have been invited for the interview. Out of around 1400 registrations, about 200 students have been selected for the second round. These students will be now going after 150+ internship offers.
                                 </p>
                                 <br>
                                 <p>For some people, this might be the first experience of an interview. Whether you’ve been through hundreds or it’s your first interview experience, the preparation process is filled with anxiety.</p>
                                     <br>
                                     <p>As an internship candidate, interviews may be slightly different than regular old job interviews. It’s not as rigorous as the job interview. Internship interviews are little more forgiving. But, the more you prepare, the more you’ll outshine the competition and become a front-runner for the position. Now, the next step is planning and preparing for the interview.</p>
                                     <br>
                                     <p>So, roll your sleeves and get ready for some last-minute preparations. Here I will share some last-minute tips that should help you to ace your interview.</p>

                                     <br>



                                      <ol>
                                      <li style="font-weight: bold;">Read up about the startup:</li>
                                      <p>Do your homework about the employer and the industry, so you are ready for the interview question “What do you know about this startup?” If this question is not asked, you should try to demonstrate what you know about the startup on your own. Go to their websites, posts on social media, latest news. You should be able to find out a lot of information about startup’s history, mission and values, staff, culture and recent successes on its website. Adding personal touches when answering this question can go a long way: something along the lines of, “I appreciate this company’s mission because…” or “I believe in these aims because…” will make you more memorable.</p>
                                      <br>
                                      <li style="font-weight: bold;">Give yourself a pep talk:</li>
                                      <p>Research has shown that giving yourself a pep talk before an interview can really boost your confidence.</p>
                                      <br>
                                      <li style="font-weight: bold;"> Make a nice first impression:</li>
                                      <p>Your first impression is very important. One of the main factors is how you present yourself. Dress professionally – no matter how informal you think the interview is going to be.</p>
                                      <p style="font-weight: normal;">"Making a great first impression during your job interview begins with a firm handshake, smile, and eye contact."</p>
                                      <p>Once you get the interview, it is your job to create a good first impression by being prompt, being yourself, attending to your body language, like having a firm handshake and maintaining eye contact throughout the interview and by taking the first few minutes to develop a rapport with your interviewer. A good first impression will set the stage for a successful interview.</p>
                                      <br>
                                      <li style="font-weight:bold;"> Bring a extra copy of your resume with you to the interview in case the interviewer does not have one on hand.</li>
                                      <br>
                                      <li style="font-weight: bold;"> Take a pen and paper with you:</li>
                                      <p>Also, ensure you have a pen and a notepad to take notes during the interview. It will show your interviewer that you find the information valuable and don’t want to risk forgetting anything. By taking a notepad, interviewers will also get to know that you are serious about the internship.</p>
                                      <br>
                                      <li style="font-weight: bold;"> Practice frequently asked questions:</li>
                                      <p>To avoid some “uhms” “aaas”. Spend time before the interview considering the answers to some common questions. You don’t have to memorize a scripted response; the point is to have some focused ideas in your head that will convey your best side to the interviewer. You should at least know the answers to those questions:</p>
                                      <p>Here are some of the General interview questions:</p>
                                      <ul>
                                         <li>Tell me a little bit about yourself.</li>
                                         <li> What are your strengths and weaknesses?</li>
                                         <li> What accomplishments are you most proud of?</li>
                                         <li>  Do you work better under pressure or with time to plan and organize?</li>
                                         <li>  Why are you interested in this internship?</li>
                                         <li>  Why should we consider you for this internship?</li>
                                         <li>  What do you know about this startup?</li>
                                         <li>  What are your career goals?</li>
                                         <li> How would your faculty/friends describe you?</li>
                                         <li> What three words would you choose to best describe yourself?</li>
                                         <li>  Why did you choose your major?</li>
                                         <li>  What do you think makes you a good candidate?</li>
                                         <li> What do you think you will gain from an internship with this company?</li>
                                         <li>  How does this internship relate to your career goals?</li>
                                         <li>  Which classes do you like the most and least?</li>
                                         <li>  What do you expect this position to be like?</li>
                                         <li>  Tell me about some of your school involvements and how they relate to this job.</li>
                                         <li>  What are your salary expectations?</li>
                                         <li>  What are your plans after graduation?</li>
                                         <li>  Why did you pick your branch?</li>
                                         <li>What do you know about this specific industry and what are some trends that occurred in the past few years?</li>
                                      </ul>
                                      <br>
                                      <p>You should not only be prepared to answer questions similar to those above, but you also want to be prepared for questions that are less conventional than those that are normally asked.</p>
                                      <p>The key is to remain composed and confident and quickly move on to the next question.</p>
                                      <p>Interviewers sometimes will ask tricky interview questions where the answer doesn’t matter. In these types of questions, the interviewer is looking to see the interviewee thought process rather than a specific answer.The STAR interview response technique can help. Using this method of answering interview questions lets you provide concrete examples or proof that you possess the experience and skills for the job at hand.</p>
                                      <p>STAR stands for Situation, Task, Action, Result.</p>
                                      <p>Using this strategy is particularly helpful in response to competency-focused questions, which typically start out with phrases such as “Tell about a time when…” and “Share an example of a situation where…”’</p>
                                      <p>First, you should describe the situation, then you should describe your task or role in that situation. Then explain what action did you take and then tell the result that you got.</p>
                                      <br>
                                      <li style="font-weight: bold;"> Know the interviewer’s name, job title, and contact information.</li>
                                      <br>
                                      <li style="font-weight: bold;"> Try to stay calm and confident throughout the interview</li>
                                      <br>
                                      <li style="font-weight: bold;"> Emphasize Your Skills and Accomplishments</li>
                                      <br>
                                      <li style="font-weight: bold;">   As you answer questions, maintain eye contact with the interview.</li>
                                      <br>
                                      <li style="font-weight: bold;">   Understand the Question Before Answering:</li>
                                      <p>Be sure to pay attention to the question so that you don’t forget it, and listen to the entire question before you answer, so you know exactly what the interviewer is trying to ask. Avoid cutting off the interviewer at all costs, especially when he or she is asking questions. It is OK to ask the interviewer for clarification or to repeat the question. You want to know what the interviewer is looking for before you go ahead and assume that you have the right answer. If you need to take a moment to think about your answer, that’s totally fine, and is a better option than starting out with multiple “ums” or “uhs.”</p>
                                      <br>
                                      <li style="font-weight: bold;">   Prepare a list of questions for the interviewers:</li>
                                      <p>Wait a minute – aren’t they supposed to be the ones asking you the questions? Not necessarily. Having thoughtful questions prepared for an interview shows the interest. In fact, employers expect questions.</p>
                                      <p>Here are some sample questions you might consider asking:</p>
                                      <ul>
                                         <li>  What’s the company’s philosophy behind hiring interns?</li>
                                         <li>  How many interns is the company hiring?</li>
                                         <li>  Who will be my boss? With whom will I be working?</li>
                                         <li>  What do you like about your job?</li>
                                         <li>  What is the office environment like?</li>
                                         <li>  How do you think this internship will benefit me?</li>
                                         <li>  How will you evaluate my performance?</li>
                                         <li>  How long have you been offering internships?</li>
                                         <li>  How have you managed interns in the past?</li>
                                         <li>  What will a typical work day be like?</li>
                                         <li>  With whom will I be working?</li>
                                         <li>  How much interaction will I have with other employees?</li>
                                         <li>  Could you tell me more about the company’s…?</li>
                                         <li>  How often do you hire interns for full-time jobs?</li>
                                      </ul>
                                      <br>
                                      <li style="font-weight: bold;">   If applicable, bring samples of your work:</li>
                                      <p>As many internships have been offered for web development, UI/UX, data analytics, content writing, the people applying for these profiles can show them samples of work done. That would really help you to impress the interviewers.</p>
                                      <br>
                                      <li style="font-weight: bold;">  Discuss it now</li>
                                      <p>If you have any concerns or constraints that could affect your internship, address them at the interview. Not only will the interviewer appreciate your candidness, but you’ll save yourself the awkwardness of having to ask for these allowances after you’ve been hired.</p>
                                      <br>
                                      <li style="font-weight: bold;">   Close the Interview with Confidence</li>
                                      <p>Thank the interviewer for his/her time, have a handshake and ask when you may expect to hear back from the employer.</p>
                                      <br>
                                      <li style="font-weight: bold;"> Follow up the Interview with a Thank You Note:</li>
                                      <p>Take the opportunity to clarify a topic discussed in the interview and to reaffirm your interest in the organization and the internship. Send a thank you note to everyone you interviewed with on the day of your interview.</p>
                                     </ol>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-30" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-22" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
