<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Swa’Desh’ : On Entrepreneurship and Impact | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post25-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Nation</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Swa’Desh’ : On Entrepreneurship and Impact | Blogs</h1>
                    <div class="small m-b-20">Jan 11, 2017  |  <a href="/#">By: Raj Kiriti.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                <p style="font-weight: bold; text-align: center;">
                                    “I think the future is yours. This is the time when you need to take
                                    risks. You got to make sure that you have a lot of fun in life. And you
                                    do things that are exciting. Don’t worry about risks and all that kind
                                    of stuff . After all what do you have to lose?”

                                 </p>
                                 <br>
                                 <p>Dr. Gururaj Deshpande (1973/BT/EE) (“Desh” Deshpande) is an Indian-American venture capitalist and entrepreneur, who is best known for co-founding the Chelmsford, MA-based internet equipment manufacturer Sycamore Networks, the Deshpande Center for Technological Innovation at MIT and the Deshpande Foundation. Presently, Deshpande is the Chairman of Sycamore Networks, Tejas Networks, HiveFire, Sandstone Capital, Sparta Group, and sits on the Board of Airvana.</p>
                                 <br>
                                 <p>Deshpande is also a Life Member of the MIT Corporation, the Board of Trustees of MIT. In July 2010, Deshpande was appointed by President Barack Obama to the Co-Chairmanship of the National Advisory Council on Innovation and Entrepreneurship, a group established to support the US President’s innovation strategy.</p>
                                 <br>
                                 <p style="text-align:center;">
                                    <div class ="imggrid2" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                            <img style="grid-column: 2/3" src="/blogimg/post25-1.jpg" alt="Fashion" style="height:500px;width:640px">
                                    </div>
                                    </p>
                                 <p>Amidst his tight schedule to inaugurate Gopalakrishnan-Deshpande Center for Innovation and Entrepreneurship on January 11, 2017, our editors were able to catch up with him over tea for a short interview. In this dialogue, he talks about his corporate job, his views on entrepreneurship and what led him to take on the challenges of Social sector.</p>
                                 <br>
                                 <p style="font-weight: bold;">What led you to choose the path of social entrepreneurship?</p>
                                 <p> We wanted to do something for India. I felt that social innovation is more relevant for the country  than technological innovation. Not that you don’t need both. Technological innovation can make big difference for people who are on the top of the pyramid. Whereas for bottom of the pyramid ,they don’t need  huge technological innovations, they need a social innovation. At the end of the day entrepreneurship is all about impact. It’s about how do you make the world different, how can it be made better.  So about ten years ago we got into this of social entrepreneurship to create that impact.</p>
                                 <br>
                                 <p style="font-weight: bold;">What according to you is the difference between the first generation entrepreneurs and the modern day entrepreneurs?</p>
                                 <p>Entrepreneurship now is a career. When we started entrepreneurship, it was very hard one time opportunity and also the consequences ,when we failed, were very deep. The situation has gotten a lot better now because you got venture capitalists who can fund you and keep the flame burning. So entrepreneurship now can be viewed as a career not as a onetime deal.</p>
                                 <br>
                                 <p style="font-weight: bold;">How do you juggle between the corporate career of investment banking and social entrepreneurship?</p>
                                 <p>After a while you realize that it is not that difficult. It is all about making a difference. It doesn’t matter whether its a corporate sector or the social sector. For social sector, you also need compassion because you don’t make money but you are driven by impact. Lot  of things are similar in both the careers , it’s all about how do you excite people to do things, how do you build teams , how do you energize teams. So it is basically the same skill sets that are required.</p>
                                 <br>
                                 <p style="font-weight: bold;">When you were at IIT Madras, how was the entrepreneurship scenario?</p>
                                 <p>It was nonexistent. In 1980s when I was an entrepreneur, entrepreneurship was unheard of. So we didn’t even know what entrepreneurship is. It was a new thing ,it wasn’t even in news. So when I started my first company in 1980s which is not even that early, I was a strange kid from some other country saying, “Hey!! I have an idea, somebody give me a million dollars”. Because the only way business were funded back then, was from the ancestors money. The venture capitalists was a new concept then, but now it’s everywhere.</p>
                                 <br>
                                 <p style="font-weight: bold;">What are your future plans?</p>
                                 <p>We want to impact both technological and social innovations. So the centre that we just launched, focuses on how we can make IIT Madras innovative and entrepreneurial, as opposed to making innovation and entrepreneurship into one little corner of the institute and call it a centre. Entrepreneurial doesn’t mean starting a company. It is a mindset. So our dream is that in 10 years, IIT Madras will be entrepreneurial and innovative, with their faculty, students, curriculum experiences ,administration and everything setting a role model for what a university should be in the 21st century.</p>
                                 <br>
                                 <p style="font-weight: bold;">Few words for the budding entrepreneurs...</p>
                                 <p>“I think the future is yours. This is the time when you need to take risks. You got to make sure that you have a lot of fun in life. And you do things that are exciting. Don’t  worry about risks and all that kind of stuff . After all  what do you have to lose?”</p>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-24" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-26" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
