<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Kshitij Kumar Pandey: The Life of a Student Filmmaker-To-Be | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post14-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">IIT Madras</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Kshitij Kumar Pandey: The Life of a Student Filmmaker-To-Be</h1>
                    <div class="small m-b-20">Oct 8, 2017  |  <a href="/#">By: K. Shivani.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                     <p>
                        Kshitij Kumar Pandey, a student of IIT Madras, is a brilliant example of subverting the conservative attitude most Indians bear towards life, career, and taking risks. He is currently pursuing not just a Management Degree but also his unstoppable passion for filmmaking. We learnt more about his story, his views, and his approach to life over a cup of coffee and some South Indian breakfast.
                     </p>
                     <br>
                     <p>
                        This is what he had to say for each of the numerous topics he was quizzed on.
                     </p>
                     <br>
                     <p style="font-weight: bold;">On taking a plunge into the sphere of filmmaking:</p>
                     <p>
                       This started when a lot of people began casually discussing films with me and suggested that I should try something of my own. So I began with the Facebook page, ‘The Bollywood Onlooker’, which is basically where I post reviews of latest movies. When I started I got quite a positive feedback which generally happens when something new begins. It steadied out with time and it has been more than a year since I created Bollywood Onlooker. I must say that overall it has been a very good and fulfilling journey.
                     </p>
                     <p style="text-align:center;">
                        <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                            <img style="grid-column: 2/3" src="/blogimg/post14-1.jpg" alt="Fashion" style="height:500px;width:640px">
                        </div>
                    </p>
                     <p style="font-weight: bold;">The Bollywood Onlooker - A perspective:</p>
                     <p>Content-wise, I have not been very strict with the process of reviewing. I have tried to base my reviews to meet the interest of balanced masses and classes. I keep vocabulary simple and to the point. I feel that my consistency is the key factor in retaining popularity of the page. So far I have reviewed over 50 films. Since that time I have been passionate, and now I can’t stop following my passion. In my opinion, as long as the spirit to follow one’s interest doesn’t die, the identity of your passion is alive.
                     </p>
                     <br>
                     <p style="font-weight: bold;">Young Critics Lab Workshop - Experiences and Lessons:</p>
                     <p>It was a program conducted by the Jio MAMI Mumbai Film Festival to select film critics all over the country and I was selected for its two-day workshop in Mumbai. The entire experience proved to be very overwhelming. Since it meant compromising with my already tight academic schedule, the support of my parents and teachers was extremely beneficial and encouraging.
                     </p>
                     <br>
                     <p>I got a wonderful opportunity to interact with Anupama Chopra. Leaving an impression on the experts was a validation of my efforts and was extremely encouraging for me. Those two days undoubtedly moved me in a tremendous way.</p>
                     <br>
                     <p style="font-weight: bold;">On short films and upcoming projects:</p>
                     <p>I was greatly inspired by Lumiere brothers, who are known to be the first prominent filmmakers, and my first short film is a sort of homage to them. For me, I had my younger brother who is extremely good at writing, and we wrote and reviewed scripts together. I had never officially worked with a cast and it was a unique experience. The first film I made was mostly for personal satisfaction and exploration, and I didn’t promote it heavily. It highlights my first instincts as a filmmaker and naturally, it is nostalgic for me. ‘Careful What You Wish For’, my second short film was a challenging experience, filled with a hectic schedule and unforeseen circumstances. Moreover, I spent one month with my cast before the shoot and devoted a lot of time to team building through treks and picnics. This pre-production went extremely well and eased out the shooting process since the cast had already been acquainted with their environment. The result was that actors did a fabulous job, and both the cast and the film garnered very positive responses. I am now working on two or three more scripts and it’s no longer an unknown domain for me. My first two films gave me a good and an encouraging start. I have even started applying for quite a many film festivals.</p>
                     <br>
                     <p style="font-weight: bold;">On his genres of interest: </p>
                     <p>I based one of my short films on a well-known macabre ‘Monkey’s Paw’ and wrote the script as its Indian adaptation. My next two films will be a socio-political drama and a psychological thriller.</p>
                     <br>
                     <p style="font-weight: bold;">On casting:</p>
                     <p>It has been pretty random so far, the actors are all non-professional people. They are usually acquaintances, friends or relatives. Luckily for my first film, everyone agreed in one go but then for the later ones, as I shifted to newer places, casting was moderately challenging and took some convincing since people are generally sceptical of being viewed on screen.</p>
                     <br>
                     <p style="font-weight: bold;">On balancing academics and film-making: </p>
                     <p>You have to make an effort to try ensuring that academics and filmmaking complement. The burden of clashing routines doesn’t stop me, however. Opportunities flow in and it’s possible to make things work in your favour. For instance, some business school was giving me an opportunity to compete in a management competition by submitting a video, which would actually allow my skills as a filmmaker to be utilized in a management competition. In fact, management plays an important role in filmmaking as well like it does in a lot many fields. Of course, it gets cumbersome, sleep deprivation is an issue and workload is extremely tight some days. I aim for proper time management as a solution to these problems. Ultimately I have no idea of the future, but for now, this is the sequence of routine that my passion demands.</p>
                     <br>
                     <p style="font-weight: bold;">On dealing with criticism: </p>
                     <p>I have faced extreme criticism. Once I rated a film as watchable, which turned out be a complete commercial flop. It was quite hard-hitting but then your views don’t always match with the public and that’s fine. Sometimes there is a case of passive criticism, for example when actors have worked hard and the scenes get ruined due to inevitable circumstances. There is a little crisis that arises when people take out time and effort for you and they don’t get what they deserve in return. It feels like promises have been left unfulfilled. I am reminded of Anurag Kashyap’s quote at these times –</p>
                     <p style="font-weight: normal;">"You owe it to yourself, if you waste time, money, you are guilty of it yourself.”</p>
                     <br>
                     <p style="font-weight: bold;">Advice for aspiring young filmmakers:</p>
                     <p>My advice would be, just start. That’s the only barrier one must cross and after that come up with your own idea and stick to it. You will get thrashed and battered as a result but the only trick is to be consistent, no matter how many ups and downs you have to face. Don’t let your work stagnate because no matter how deep you fall, something will definitely pull you up.</p>
                     <br>
                     <p>So there it is. The possible birth of – in his own way – another entrepreneur. Though the fields may be different, the principles and mindset you have to adapt to succeed, the pressure and criticism you will inevitably have to deal with, all this remains the same – and this is just one more a story of how passion and hard work can take you a long, long way.</p>
                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-15" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-13" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
