<!DOCTYPE html>

<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Why should you startup in college? | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">

</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post21-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">IIT Madras</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Why should you startup in college?</h1>
                    <div class="small m-b-20">Feb 23, 2018  |  <a href="/#"> By:Editorial and Research Team.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                <p>
                                    Talk about the dawn of the century! Guitarists and footballers were a sensation in colleges.  They used to be the coolest people (as Biswa calls it too :p),  but today,  times have changed.  Starting up in college is the new pseud and failed startups are the spikes in the resumes, as the world around us assumes. We have all see those say <a style="font-weight: bold;">“Oye uska dekh khud ka startup hai.  Resume me kya sahi lgega na“.</a> Well, as glamorous as this may sound, the reality is far different than that.  Let me tell you that entrepreneurs don’t startup because it glorifies their resume. In fact, those who think like that, are not entrepreneurs in a true sense. Probably, this is why it makes sense to write this article because I haven’t seen much literature that talks about entrepreneurship experience in college. Keeping the preconceived notions aside, I will try to explain why it is worth starting up in college.
                                 </p>
                                 <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post21-1.jpg" alt="Fashion" style="height:500px;width:640px">
                                    </div>
                                </p>
                                 <br>
                                 <p>Having been an entrepreneur for a year now, I think I can at least understand the challenges, if not able be able to provide solutions for all of them. I will also try to tell you how best you can use college resources that may not be available to you after you graduate.</p>
                                 <br>
                                 <p style="font-weight: bold;"> Just to get into the feelings of entrepreneurship, I would like to start with this:</p>
                                 <p>Starting up is not one of those easy things to do, it’s rather the hardest. At the darkest of those nights, when all your ideas about success crumble under their own weight and nobody else has the answers you are looking for;  when your team expects you to pull them out of the hole whose depth you cannot perceive and you have no clue as to what can save the company,  you will doubt yourself.  Those will be the longest nights of your life,  & surviving that night will need courage, so much that you feel like giving up,  but you can’t! How can you? So, you work unabated! But remember, regardless of the outcome, it was always the journey that mattered.</p>
                                 <br>
                                 <p style="font-weight: normal; text-align: center; ">“When you start-up in college, there ain’t no stakes!” </p>
                                 <br>
                                 <p style="font-weight: bold;"> What makes starting up worthwhile and what the benefits of starting up in college compared to starting up later in life, let’s say after the 30s! Let me put these into perspective:</p>
                                 <br>
                                 <p>I have always been a promoter of entrepreneurial thinking and I think starting up in college provides you exactly that. No matter how big or small your ideas are, or to the extent, you were able to push it forward, the experience and exposure will be there with you for a lifetime. When you start-up, you don’t have the privilege of choosing your work. As founding members, you end up doing anything and everything that is there to build your little project or company. In the morning you may be meeting important people in formals and just after an hour, you may as well be out on the ground in scorching heat trying to get your product/service ready. Everyone involved is driven by the vision that is defined by the team and takes ownership of the work that they do. And this is something that you can never learn unless you experience it and starting up will definitely provide you with that. It teaches you to rejoice the little successes that come along,  embrace the failures, get back on your feet the next instant and most importantly, it teaches you to be in the present!</p>
                                 <p>At this stage, I feel very blessed to have started up this early and when I look back, I realize how much I would have missed if I had not felt great about my idea, had I not had the will to just try it out once as a project!</p>
                                 <p>Coming back to why it makes sense to start in college, two things come to my mind.</p>
                                 <p>a) Resources</p>
                                 <p>b) No Stakes</p>
                                 <br>
                                 <p>Let’s say three friends decided to start-up. How much money do they need every month to work on their idea apart from the cost of materials/services required? Zero! And when you compare it with the expenses once you graduate, you can easily assume that 60k will be your expense every month just to live, irrespective of whether you are progressing or not. College provides that safe ground for you. It will give you a space, a talent pool of thousands of students and alumni networks which you can leverage any time, any day, and most importantly, people will work without asking for a fat salary, just for the idea! Also, given that our college has CFI, E-Cell, and Nirmaan, it makes the whole process easier. Like you literally don’t need to spend anything to test your idea except your time and commitment. What can be a better deal than this?</p>

                                 <p><a style="font-weight: bold;">NOTE: </a>: A spoonful of empathy and praise comes for free from everyone you meet. XP
                                    When I meet adults who had ideas but didn’t start up, the biggest reason behind it that I have come across is that the stakes of being an entrepreneur are very high. Because your idea doesn’t give your returns from day 1 and they have to support their families. Think of that conundrum. All of their friends are already earning millions and they are saving in every single thing. The struggle is what most people are afraid of. In college, there are no stakes. You are a free man and only responsible for yourself. In the worst case, in case of any ramification, you always have your placements + infinite learning. You don’t have to think about the food and the rent for next month, as your parents are already taking care of that. Simply put, you don’t have any responsibility for others.
                                    I would like to repeat myself here. When you start-up in college, there ain’t no stakes!
                                 </p>
                                 <br>
                                 <p><a style="font-weight: bold;">NOTE: </a>: Your friends will still be your friends even after you couldn’t make it.      Moreover, you have earned their respect for trying out something that you believed it.
                                    Even though I have mostly talked about failing in this article, you can see that starting up in college makes it sound very positive. Because this is! Barring a few things that you miss out on, there are no major downsides of trying out in college, as there are no bad ideas! Now imagine how would it feel if you taste success! If you make it big, think about how it would change your life, think about those shackles around you which no longer exist and bound you. You will become a torchbearer for many people. The “love what you do, and do what you love” thing, you will be living that forever, and that I would say is the best gift for any person!

                                 </p>
                                 <br>
                                 <p style="font-weight: bold;">Divanshu Kumar is a 4th-year Mechanical Engineering Undergrad, and the founder of Involve, a social startup focusing on peer-based learning.</p>
                                 <br>
                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-22" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-20" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
