<!DOCTYPE html>

<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Murphy’s Law Applied To Entrepreneurship | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post30-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Out Of The Box</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Murphy’s Law Applied To Entrepreneurship | Blogs</h1>
                    <div class="small m-b-20">Aug 15, 2018  |  <a href="/#">By: Sarah.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                <p style="font-weight: bold; text-align: center;">
                                    “Anything that can go wrong will most definitely go wrong”
                                 </p>
                                 <br>
                                 <p>I understand this was not the kind of reassurance you were looking for at this point in your life. But believe me, writing this article hasn’t been a smooth sailing expedition, with its first line continuously grinning at me.</p>
                                 <br>
                                 <p>Along similar lines, if one hopes for a prospering business, and decides to be very rational about it, that person would end up with a very rational decision to abandon all such hopes. Murphy’s Law manifests itself through every nuanced incident in life that one looks just a little bit closer into. In entrepreneurship too, it’s an essential planning tool. But before one starts obsessing over every single thing that can go wrong for the sake of usability of the adage, one should remember that Murphy’s Law is only a friend in small doses. And that too, only when the world ending scenario playing out in your head is backed up by a contingency plan.</p>
                                 <br>
                                 <p>Every serious entrepreneur will have an agenda - a list of tasks and goals for his company. The best ones will have one written for the day, the current week and well into the things they feel they should accomplish by the end of the year. Done properly, this leads to tremendous growth. Still, a to-do list is too rudimentary for those resolute on ambitious growth. These ones take more risk. So, the margin for error becomes leaner when faced with choices that would end up having serious repercussions lest everything goes south. Hence, the owner or another key member spends a substantial amount of time developing a disaster recovery and business continuity plan.</p>
                                 <br>
                                 <p>What are these disasters that businesses go through? For starters, it doesn’t always have to be a disaster that needs preparing for. How to stay course in events of unexpected gains also require contingency plans.</p>
                                 <br>
                                 <p>A contingency is any unexpected situation that effects the financial health, professional image, market share of a company. A contingency plan makes sure the company is prepared for anything out of the ordinary that can pop on any ordinary day. It ensures the flexibility in the company’s operations so that any change of plans is met with swift readiness. With a contingency plan at hand, leaders can skip the panic attack, because now there is only minimal figuring out to do.</p>
                                 <br>
                                 <p>Broadly, a contingency plan includes crisis management, continuity plan, asset security and other management.</p>
                                 <br>
                                 <p>There is no shortages of potential crises. Crisis management considers natural disasters, fire in warehouses, job injuries, angry customers etc. The important thing becomes to weed out the unlikely crises’ from those which have a genuine chance of happening. A critical SWOT analysis can prove to be powerful tool for drawing out contingencies for crisis management.
                                 </p>
                                 <br>
                                 <p>Continuity plans include deaths, crisis events, financial situations and unexpected events that threaten to destroy or end the company. In such an event, the contingency lays out plans that would ensure minimum disruption to the company’s operations and lists enough resources for the company to start rebuilding itself in events of irreversible damage. The solutions to this involves insurance policies that provide for the cost of keeping the company in operation.</p>
                                 <br>
                                 <p>Asset security protects intellectual property like trade secrets or computer programs from theft or destruction. A security plan along with backups to such assets is included in this part of the contingency plan.</p>
                                 <br>
                                 <p>Mismanagement would include fraud, theft, operational errors and other forms of mismanagement. A checks and balance system can be listed out in the contingency to tackle this.</p>
                                 <br>
                                 <p>Reorganisation includes how the company will re-establish its normal operations. Again, it includes routine revisions of contingencies so that the plan remains relevant.</p>
                                 <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post30-1.jpg" alt="Fashion" style="height:500px;width:640px">
                                    </div>
                                </p>
                                 <br>
                                 <p>Murphy’s Law is essentially the art of worrying. It builds solid principles of forward thinking and preparing effective contingency plans. This helps me recollect a fade memory of Bill Gates saying, “We always overestimate the change that will occur in next two years and underestimate the change that will occur in next ten.” So even if your plan doesn’t work, stay calm enough to improvise.</p>
                                 <br>
                                 <p>Still, Murphy’s Law is a rule of thumb and only a planning tool. It can’t be used to accurately gauge a situation. In reality, Murphy’s Law has no basis. It is the way humans come to perceive what happens to them that it starts seeming eerily true. In general, most things do improve. But foreseeability coupled with inaction imply liability. So, if there are hurdles that one can see, one is responsible to prepare as the hurdle approaches.</p>
                                 <br>

                                 <p>It’s tempting to think if only one could one come up with enough contingencies, one would end up with a divine plan to get exactly where one wants to. Although, it’s far too easy to get entangled in the chain of backups strangling the life out of us. Rather, Murphy’s Law offers objectivity in a marketplace that changes unpredictability, taking away the unnecessary frenzy that business owners might find themselves in.</p>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-31" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-23" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
