<!DOCTYPE html>

<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Torq-Moving Up the Gears! | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post16-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">IIT Madras</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Torq-Moving Up the Gears!</h1>
                    <div class="small m-b-20">Nov 7, 2017  |  <a href="/#">By: Arvind Pujari.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                    <p>
                                            In a step towards implementing a bicycle sharing system, the Committee for Monitoring General Facilities (CMGF) for students has signed 4 MoUs with PEDL (Zoom Cars), Ola, Torq, and OFO, for the next 3 months. PEDL, Ola, and OFO have agreed to start with 100 cycles and Torq with 30 cycles.
                                         </p>
                                         <br>
                                         <p>
                                           We were fortunate enough to catch up with the cofounders of Torq, <a style="font-weight: normal;">Manu John</a>, <a style="font-weight: normal;">Harishankar Pradeep</a> and <a style="font-weight: normal;">Binu George</a>.
                                         </p>
                                         <br>
                                         <p>
                                            On their first day of running the start up, the interviewer <a style="font-weight: normal;">Pritam Malakar</a>, a 1st year Humanities Undergrad caught up with them for a quick interview, whilst they were busy jotting down some numbers related to their venture’s performance. Here are the excerpts from the interview:
                                         </p>
                                         <br>
                                         <p style="font-weight: bold;">What was the impetus for your start up? </p>
                                         <p><a style="font-weight: normal;">Manu:</a> Being a student of IIT Madras, we found it very difficult to get our cycles maintained in good working condition and repaired it when required. That was the actual click to our idea to start a bicycle sharing system which doesn’t need the user to maintain it as it is a shared resource.
                                         </p>

                                         <br>
                                         <p><a style="font-weight: normal;">Hari:</a> The question of resource optimisation was also something which kept in our mind as we have found in our insti days that the number of bicycles present in insti is far more than the numbers of bicycles used at a time. This highlighted drainage of lot of money by entrant-students buying brand new bicycles to catch up with the pace of insti life. I found that the parking space outside each hostel occupied area worth five to six rooms and was an impediment to pristine green cover that our insti has. Our initiative will reduce the need for parking space also.
                                         </p>
                                         <p style="font-weight: normal;">“The question of resource optimization was also something which kept in
                                                  our mind as we have found in our insti days that the numbers of bicycles
                                                  present in the insti is far more than the numbers of bicycles used at a
                                                  time.” </p>
                                         <br>
                                         <p style="font-weight: bold;">Could you elaborate on your attempt to use cutting-edge technology to overcome issues such as cyber security or hacking of locks or location based information?</p>
                                         <p><a style="font-weight: normal;">Hari:</a> Right now, we are using smart locks which has a QR code on it which users can scan through the android application to unlock it and ride it for their purpose. We have got a tremendous response for our pilot project on the very starting day. The locks are not fully tamper-proof as our target consumer base is the insti junta who are basically students and since these cycles are to be used in the insti premises only, the possibility of getting it stolen is nil.
                                         </p>
                                         <br>
                                         <p><a style="font-weight: normal;">Manu:</a> Since, we have started this on an experimental basis, we anticipate many challenges and we will face it upfront. We are in the process of collecting anonymous data about frequency and magnitude of usage of our cycles in different parts of inst. This will help us draw plans for upcoming days. We don’t think high-tech solutions are relevant at the moment as our target consumer base is the insti junta and the geographical area is the insti only
                                         </p>
                                         <p style="text-align:center;">
                                            <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                                <img style="grid-column: 2/3" src="/blogimg/post16-1.jpg" alt="Fashion" style="height:500px;width:640px">
                                            </div>
                                        </p>
                                         <p style="font-weight: normal;">With Smart City Mission in progress, what are the possibilities and challenges that your initiative will face? Some of the challenges which are doing the rounds are bifurcated lanes for cyclists, poor infrastructure design of roads etc.</p>
                                         <br>
                                         <p><a style="font-weight: normal;">Manu:</a> Smart City Mission is something changed the way people perceived cities. It has revolutionised the idea of urban growth pattern. Now people tend to move towards a more sustainably developed urban space. Separate lanes for cyclists and poor infrastructure design of our present-day roads are a major problem that hinders the passage of sailing smart cities high on hope.
                                         </p>
                                         <br>
                                          <p><a style="font-weight: normal;">Hari:</a> Our initiative is confined to insti and that makes it unique. In Europe, there are docking stations which are pick-up and drop-off points for cycles. But in insti, we have not thought anything like. Our cycles will be free to be used once they are unlocked using the QR code through the android application.
                                         </p>
                                         <br>
                                         <p style="font-weight: bold;">In India, already 25-30 percent of daily trips are by walking or buses and auto-rickshaws where bicycles can have a prosperous avenue as it can efficiently be used for short commute by growing tribe of young people. It has also been found that cycles are most used by economically backward sections of India in the rural settings mostly. How do you contemplate this Rural- urban divide and how can young people be enticed to this legendary initiatives?</p>
                                         <p><a style="font-weight: normal;">Hari:</a> It is true that in rural settings, cycles tend to be an important medium of transport but in urban patches, the growth in cycle-use is slowly catching up. Now, I personally can see a couple of my friends and colleagues from where I interned at, cycle to their workplace as it serves as the best possible source of physical exercise, in their busy schedules.
                                         </p>
                                         <br>
                                         <p style="font-weight: bold;">CMFG, IIT Madras signed four MOUs to roll out bicycle sharing system and one among them is with you. What do you think about the competition that you may face in terms of getting consumers?</p>
                                         <p><a style="font-weight: normal;">Manu:</a> We started our first business day with best wishes and ended our day with optimism. We are overwhelmed by the response that insti junta registered on our first day. We are mindful that we are going compete with big brands like OLA, Zoom Cars etc. But we need to keep in mind that it is our bread and butter so our perseverance will have to be solid. We need to outsmart them in terms of the sheer amount of work that we put in. We need to outsmart, outwork and outperform them.
                                         </p>
                                         <br>
                                         <p style="font-weight: bold;">A study by Namma Cycle that opened its bicycle sharing service in IISc Bangalore showed that they helped prevent one tonne of CO2 and saved 300 liters of petrol. What is your prudent estimate?</p>
                                         <p><a style="font-weight: normal;">Hari:</a> Our venture is barely one day old. The time has not yet come to estimate something big like this. But I assure you I will get back if my venture works good.
                                         </p>
                                         <br>
                                         <p style="font-weight: bold;">Your words to the budding entrepreneurs of insti will illuminate their entrepreneurial spirit. So what’s your message to them?</p>
                                         <p><a style="font-weight: normal;">Hari(jocular mood):</a> We are not yet qualified as entrepreneurs as we ourselves are budding entrepreneurs. But yes, the insti nourishes the entrepreneurial spirit very well.
                                         </p>
                                         <p><a style="font-weight: normal;">Manu(jovial mood):</a> I indeed thank the insti, Professor Mahesh Panchagnula, Professor Ashwin Mahalingam, the Hostel Affairs Secretary (HAS), DoSt and Professor Sudarshan, who helped us get funds for our project and indeed guided us through the ups and downs of our journey.
                                         </p>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-17" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-15" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
