<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Work from Home : A Phase Change | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="background-overlay-dark text-light" data-bg-parallax="/blogimg/post44.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Covid Corner</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Work from Home : A Phase Change</h1>
                    <span class="post-meta-category" style="font-size: 1.4rem;">Let’s see how this comes up</span>
                    <div class="small m-b-20">June 19, 2020  |  <a href="/#">By: Manu</a>  |  4 mins Reading</div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                    <p>Working from home is awesome, right until your coffee mug spills its contents on your computer. And your internet, you can only assume is on a vacation, starts behaving like schrodinger’s cat (To be or not to be). And as the cherry on top, occasional shrieks and laughter of random neighbour’s children add to your agony. But is it really this bad?</p>
                                    <p style="text-align:center;">
                                        <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                            <img style="grid-column: 2/3" src="/blogimg/post44-1.jpg" alt="Fashion" style="height:500px;width:640px">
                                        </div>
                                    </p>
                                    <p>Waking up to a shining sun, make your coffee and stretch again in your bed. Power On the work from home cycle and skip your way into your office, not only eliminating honking roadblocks but also giving everyone a breath of life. Even though crude oil prices are in jam, all you need are fired up packets channeling through the web which were made almost negligible costing by giants of the telecom industry a couple of years ago. Is it better than the traditional four walled office approach?</p>
                                    <br>
                                    <p>Sometimes it’s intriguing how dire situations bring out the best changes. As the pandemic started being noticed, the unprecedented transition in work culture was witnessed, irrespective of the domain and the tier of companies. Some of them shifted everything, while others started planning exit strategies keeping in mind the lean methodology. The most scary phase of the 21st century made us aware of how we were exploiting resources, not only natural but also human. Looking for an entrepreneurial view, a new approach to the work environment is worth exploring. Although in the recent years, with the introduction of coworking spaces renting out working spaces has been a lot more economical but the complete new dimension for new upcoming startups with a wfh culture can completely make the costs for lease disappear. Not only this, the time saved from traffic distractions and transportation can definitely lead to an increased productivity.</p>
                                    <br>
                                    <p>Let’s consider an already working startup XYZ, as matter, constituting atoms. Prior to the Covid era, it was just pure solid, atoms tightly packed exerting themselves day and night. But with the change in phase, it’s like a gas…With every component spread around various parts of the country yet working in a synchronised manner, generating not only better output but reducing loads from many things (and putting on a few including the shirt buttons). But is this like a temporary bubble, showing us what we wanna believe or is a foundation for something big? This question is gonna generate debates for a long time, but we should savour while it lasts. Because the gas phase might escape your clutches even before you get a chance to embrace it.</p>
                                    <br>
                                    <p>According to some key remote work stats, 40% of individuals love the flexible schedule offered by the remote working jobs or WFH culture. It puts an end to the monotony of similar office surroundings with similar gloomy (though sometimes shining) faces thus facilitating creativity and innovative thinking. Almost 140% percent increase in the number of people opting to work from home has been witnessed since 2005. And with WFH implementation 24% of individuals are more happy and productive leading to not only the growth of the company but also their personal growth. Mental wellness has been on the radars of key traits required in the 21st century, and the wfh culture is definitely a leap in the segment. And the added advantage of caring for environment is definitely a huge plus, with a example of Sun Microsystems, when it allowed 24,000 employees to work from home, the change meant that 32,000 metric tons of carbon dioxide were not released into the air, is definitely a proof to the huge impact we can make. Thus, evolution in working culture can truly be the game changer in our fight against Global Warming. The above factors are in favour of more and more startups should focus on the WFH culture!</p>
                                    <br>
                                    <p>Will we be losing professionalism amid the calm of WFH culture, is a question that will arise in various minds. We are stepping into a pool of lazy activities, surely a lot of us have been dormantly working lying half down straining our eyes, nibbling on to the crunchiest junk we could find. I have personally witnessed the feet on the table drill a couple of times, where you turn on your cam for a meeting, get a bowlful of anything you can sabotage from the kitchen and face the camera with the uncombed hair and yawning mouth. Or maybe if you are a tad more responsible, it might be like a cleaned face with a crisp shirt, tight at the belly due to crisps and nuts with the pair of pyjamas in which you slept last night. But that isn’t the 100% of the WFH population. Many of them do have a dedicated work pod.</p>
                                    <p style="text-align:center;">
                                        <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                            <img style="grid-column: 2/3" src="/blogimg/post44-2.jpg" alt="Fashion" style="height:500px;width:640px">
                                        </div>
                                    </p>
                                    <p>Well as every coin has two sides, this one does too. The management of employees and having the optimum work output delivered is a cumbersome task for the management but the limited number of employees in growing startups and more and more apps including Asana, Team, Slack etc. being developed, it definitely is manageable. The hardest part, the killing of face to face interaction chances among various individuals would lead to a drastic psychological effect on everyone with an increased no. of people finding it harder to interact with people in the near future after being introduced to WFH culture. The key factor would of course be the opportunity cost, deciding on the tradeoffs feasible for both the society and the organization.</p>
                                    <br>
                                    <p>WFH can really be a ticking Time Bomb, but the outcomes are in our own hands, either we could slip into the blackhole of laziness or keep the work culture alive with a greater efficiency and more me-time. But yes, anytime snacking with your own wallpapers is definitely a plus for the WFH culture, and the positives do give WFH a chance to eyeball the current pre-pandemic work culture for a staredown.</p>
                                    <br>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-45" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                                 <i class="icon-grid"></i>
                                </a>
                                <a href="/blog/post-43" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end: Post single item-->

                    <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
