<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Brand Wars | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post5-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Marketing</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Brand Wars</h1>
                    <div class="small m-b-20">Mar 13, 2017  |  <a href="/#">By: Nikhil Roul.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                     <p>
                        The recent Twitter account activity of Wendy’s, a US based multi-billion dollar fast food chain, has been the object of an incredible amount of buzz on social networking sites everywhere. One would, perhaps, question the appropriateness of using the official account of such a reputable brand in this manner. For those unlikely few to whom this is news, the images below should put us on the same page.
                     </p>
                     <br>
                     <p style="text-align:center;">
                        <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                            <img style="grid-column: 2/3" src="/blogimg/post5-1.jpg" alt="Fashion" style="height:500px;width:640px">
                        </div>
                    </p>
                    <p style="text-align:center;">
                        <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                            <img style="grid-column: 2/3" src="/blogimg/post5-2.jpg" alt="Fashion" style="height:500px;width:640px">
                        </div>
                    </p>
                     <p>
                        The woman behind Wendy’s social networking accounts, Amy Brown, is clearly a creative genius. Not only are Wendy’s clever with the way they advertise, but the sassiness she shows when calling out other competing brands goes a long way in attracting more customers. This is what we call initiating a “Brand War”.</p><br>
                        <p>The world of marketing is fiercely competitive. While creative advertisement might be entertaining, comparative advertisement, one of the more aggressive forms of marketing, is a whole new ball game. We’ve all come across advertisements where brands take on one another, openly mocking the rival brand through print, digital or broadcast media. Apple vs. Microsoft, TOI vs. The Hindu, and obviously the cola wars (Coca Cola vs. Pepsi) are some famous Brand Wars, each one a not-so-friendly back and forth between competing organizations. Big brands rarely shy away from challenges from any of their counterparts. Their battleground? The world. Doubtless, such Wars give us a lot of interesting material to enjoy as well.</p><br>
                     </p>
                     <h2>So What exactly is Brand War?</h2>
                     <p>
                        A “Battle of Brands” or “Brand War” is an intense competition among several brands from the same product category for the retailer’s limited shelf space and for the market share. Usually, the brand with better and more effective promotional strategy emerges victorious. Often, the “battle” only relates to the brand itself since the products are very similar in nature. Owing to the insignificant difference between the products consumers base their purchase decision on the emotional utility they derive from a product instead of any enhanced functional utility provided by one or the other.</p><br>
                        <p>The personality, public image of the brand and the relationship it maintains with its customers also influences the purchase decision. A consumer will only prefer a certain brand over its competition if he feels attached to it. The brand identity is very important; it is the way in which the consumer sees the product.</p><br>
                     <h2>Some of the Famous Brand Wars:</h2>
                     <h3>Adidas V/S Puma</h3>
                     <p style="text-align:center;">
                        <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                            <img style="grid-column: 2/3" src="/blogimg/post5-3.jpg" alt="Fashion" style="height:500px;width:640px">
                        </div>
                    </p>
                     <p>
                        When you pair brothers and business, it can either end up strengthening a family bond or become a Cain and Abel-like situation where one or both individuals want to shed the shared blood that is pumping through each other’s veins. The latter could best describe what happened between Adi and Rudi Dossler just as World War II was starting.</p><br>
                        <p>Prior to the war, the brothers were in business together and operated under the Dassler Brothers Sports Shoe Company banner – working out of their mother’s laundry room in Herzogenaurach, Germany – and receiving their first taste of success when they managed to get Jesse Owens to wear their Waitzer model shoes as he competed and won four gold medals in the 1936 Olympics. While it may seem a strange notion for the Germans to help out an American runner, the head coach of the German track team, Jo Waltzer, and friend of Adi, saw the Olympics as a “fair play” display of sportsmanship. Thus, despite risking being found out by the Nazis, he got the shoes to Owens who “wanted those shoes or none at all.”</p><br>
                        <p>As the war escalated, there’s one particular instance that many suggest was the root of the feud. According to Fortune, “when the Allies were bombing Herzogenaurach, Adi and his wife climbed into a bomb shelter already occupied by Rudi and his wife. [Adi] exclaimed, ‘The dirty bastards are back again,’ referring to the Allied forces. Rudi was convinced the remark was directed at him and his family.” Continuing, “When Rudi got called up for service, he suspected Adi and his wife had schemed to get him sent to the front so they could have him out of the way at work. Later, Rudi was arrested first for deserting his post and then by the Allies on suspicion of working for the Gestapo. On both occasions, Rudi was convinced that Adi was the one ratting him out, his suspicions confirmed by a report filed by an American investigating officer. While Rudi languished in a prisoner of war camp, Adi rebuilt the business, selling shoes to American G.I.s.”</p><br>
                        <p>By 1948, the companies had been split between Adi’s “Adidas” and Rudi’s “Ruda” (which would later be changed to the more athletic sounding “PUMA”) with the Aurach River separating the two factories. Since so many people’s livelihoods were attached to who came out the victor, Herzogenaurach became known as the “the town of bent necks” because everyone would immediately look to see what kind of shoes you were wearing.</p><br>
                        <p>While there is ample room in the footwear world, even in death the two brothers couldn’t stand each other as they were buried at opposite ends of the cemetery from one another.
                     </p>
                     <br>
                     <h3>Apple V/S Samsung</h3>
                     <p style="text-align:center;">
                        <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                            <img style="grid-column: 2/3" src="/blogimg/post5-4.jpg" alt="Fashion" style="height:500px;width:640px">
                        </div>
                    </p>
                        <p>When Apple and Samsung decided to lock horns in a legal battle over patent infringements pertaining to cell and tablet technology, many assumed it would not only be a lengthy fight but one where each side was willing to pony up plenty of money for judicial victories given how lucrative the tech space was/is. As of June this year, over a billion dollars has been spent in court.</p><br>
                        <p>Focused heavily on the glaring similarities between Apple’s iPhone and Samsung’s Galaxy S, Samsung and their executives denied any theft, but Apple steamed forward by claiming that 22 more Samsung products ripped off Apple. According to Vanity Fair, “Two juries have found that Samsung did indeed plot to steal the iPhone’s appearance and technology, which is why a California jury, in 2012, awarded Apple more than a billion dollars in damages from Samsung (reduced to $890 million in late 2013 after the judge found that some of the calculations were faulty). But, as the litigation drags on, Samsung has grabbed an increasing share of the market (currently 31 percent versus Apple’s 15.6 percent), not only by pumping out ‘Apple-ish, only cheaper’ technology but by creating its own innovative features and products.”</p><br>
                     <h3>Ferrari V/S Lamborghini</h3>
                     <p style="text-align:center;">
                        <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                            <img style="grid-column: 2/3" src="/blogimg/post5-5.jpg" alt="Fashion" style="height:500px;width:640px">
                        </div>
                    </p>
                     <p>You know you have the foundation for a spicy rivalry when the dissatisfaction with one company results in the creation of another. Such is the case between Ferrari and Lamborghini. Founded by Enzo Ferrari in 1929 as Scuderia Ferrari, the Italian manufacturer thrived during the War despite having his factory bombed by the Allies in 1944. Twenty years later and Ferruccio Lamborghini would have something idling to challenge Ferrari’s supercar supremacy.</p><br>
                     <p>Lamborghini was an Italian tractor magnate whose dissatisfaction with his own Ferrari birthed the brand. As legend has it, Ferruccio approached Enzo regarding a noisy clutch to which Ferrari proclaimed, “if you don’t like it, go build your own!” While both companies have become synonymous with automotive luxury, they have achieved their successes by sticking to their initial guns. On one hand, Ferrari’s racing roots are hard to ignore on beauties like the Ferrari 250 GTO, Ferrari Dino, Ferrari Berlinetta Boxer, Ferrari Testarossa, Ferrari F40 – the last Ferrari model Enzo Ferrari lived to see before his passing in the same year – and the Ferrari 550 Maranello. On the other hand, Lamborghini has relied on building a superior sports car like the Lamborghini Miura, Lamborghini Espada, Lamborghini Countach, Lamborghini Diablo, Lamborghini Murcielago and Lamborghini Gallardo.</p><br>
                     <p>In 2013 Ferrari earned €2.3 billion EUR, while Lamborghini raked in €508 million EUR.</p><br>
                           </div>
                            <div class="post-navigation">
                                <a href="/blog/post-4" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-6" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
