<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Just starting up | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post20-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">E-Summit</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Just starting up</h1>
                    <div class="small m-b-20">Feb 12, 2018  |  <a href="/#">By: Prajeet Oza.</a></div>
                   <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                    <p style="font-weight: normal">
                                            “There are no risks attached. Whatever money is given to them, it is like a project.”
                                         </p>
                                         <br>
                                         <p>Interestingly bold and thought-provoking. A venturesome approach: ‘a project’ refers to a startup? Freakish? Definitely not, when it comes from the leader of the Indian Startup Fever – <a style="font-weight: bold;">IIT Madras</a>. The premier engineering institute is arguably at the forefront of pushing product innovation in India. The recipe for this dynamic startup culture that IIT Madras offers to its budding entrepreneurs, was never spiced up by a tastemaker. However, a proportionate mixture of spices such as; creating a thriving alumni network, pushing faculty-industry connections, providing the necessary infrastructure to allow students and alumni experiment with ideas, and listening to the feedback and learning on the move – has over a period of time enhanced the taste of this sophisticated recipe. The results of this were evident when 4 of 5 final nominees for ET Startup Award “Best on Campus” were IIT M startups. Moreover, Ather Energy, an IIT Madras startup, won the award.</p>

                                         <br>
                                         <p><a style="font-weight: bold;">Ather Energy to Torq.</a> The journey of an entrepreneur: when does it start? After graduation? After a decent work experience? In the first year of a Bachelor’s degree? Here, at IIT M, you never know:</p>
                                         <br>
                                            <ul>
                                               <li>Barely into their first job, Tarun Mehta and Swapnil Jain; approached their professor at IIT Madras, R Krishnakumar, with an idea to build a new design for lithium ion batteries. They were assured all possible support, and returned to IIT-M as project associates. Their project transformed into an electric vehicle, India’s first smart scooter – S340. Today, their company, Ather Energy is backed by Hero Motocorp, Sachin Bansal, and Binny Bansal.</li>
                                               <br>
                                               <p style="text-align:center;">
                                                <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                                    <img style="grid-column: 2/3" src="/blogimg/post20-1.jpg" alt="Fashion" style="height:500px;width:640px">
                                                </div>
                                            </p>
                                               <li>Torq – a cycle sharing initiative started by 2nd year undergraduates: Manu John, Harishankar Pradeep and Binu George was aimed at reducing the wastage associated with each new student buying a new cycle, and helping students who didn’t have a cycle. The outcome: 500 registered users, 1400 rides, 30 cycles; in a week!</li>
                                               <br>
                                            </ul>

                                         <p>Two stories, one source – IIT Madras. A key factor in both stories: entrepreneurial thinking. Entrepreneurial thinking has no boundaries; it exists beyond the limits of conventional thinking. But when a first year undergrad is thrown at terms like entrepreneurship and entrepreneurial thinking, he is clueless about the next step. Here the likes of Entrepreneurship Cell and Centre for Innovation (CΦ) come into picture; which cater to a huge fleet of future entrepreneurs who are naive enough to understand the meaning of ‘idea’.</p>
                                         <br>
                                         <p style="font-weight: bold;">The Pillar of the startup culture at IIT-M: E-Cell.</p>
                                         <p>Countless events, inspiring talks and competitions to ensure the exponential growth of a startup culture in IIT-M; all by a team of students with an entrepreneurial mindset. The team is equipped with all the artillery to investigate the nooks and corners of the entrepreneurial world. Over time, the team has grown strong enough to support, vast enough to connect and wise enough to advise entrepreneurs. Working in collaboration with CΦ, and Nirmaan (the Pre Incubation Cell); exposure to the competitive world of innovation has never been a matter of concern at IIT M. Hyperverge – a team of IIT-M students who initially struggled with installing CV libraries in Ubuntu is today a successful startup – an apt example of innovation and tech meeting hands with entrepreneurship. Many tech startups – <a style="font-weight: bold;">Detect Technologies, Aibono, Planys Technologies, DocsApp, Pi Beam</a> – have been incubated and emerged to taste success.</p>
                                         <br>
                                         <p>A dynamic startup culture is a dream, and IIT Madras is living it. The ecosystem is getting richer and richer with an increasing number of entrepreneurs linking to it everyday. Interactions with alumnus and exposure to industries have raised expectations from an IIT M startup. As said by Professor Mahesh Panchagnula, associate faculty-in-charge of IIT-M Incubation Cell, “(At) Nirmaan, presently, we have 27 teams masquerading as companies. They will look like a company. We want them to behave as a company. When they come for funding, we treat them as a company.” The world starts where the comfort of incubators ends. At IIT-M, an entrepreneurial culture is established. It’s time for these entrepreneurs to spread their wings and fly over to the outer world. Pushing the startups away from the cushioning provided by the incubators: the effort has started to produce results. Forbes India 30 (under 30 age group) List comprises of founders of two IIT Madras incubated startups: Ather Energy and DocsApp.</p>
                                         <br>
                                         <p>Every individual is capable of thinking in an entrepreneurial way. An entrepreneur’s journey consists of several dots. E-Cell helps an individual spot these dots.However, the task of connecting these dots remains one’s own. <a style="font-weight: bold;">An individual has dreams to describe, but an entrepreneur has a story to tell.</a> With the culture established, and the ideology of entrepreneurship acquiring deep roots in IIT Madras, it’s expected that many more dreams will be converted to stories.</p>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-21" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-19" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
