<!DOCTYPE html>

<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>E-Summit 2018: Taking the Entrepreneurial World by Storm! | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post22-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">E-Summit</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">E-Summit 2018: Taking the Entrepreneurial World by Storm!</h1>
                    <div class="small m-b-20">Apr 7, 2018  |  <a href="/#">By: Shikhar Prakash.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                    <p style="font-weight: normal">
                                            2 years ago, we made a tryst with entrepreneurship, and now the time has come when we shall reveal our 3rd edition: all wholly and in full measure yet very substantially.
                                         </p>
                                         <br>
                                         <p>Given IIT Madras’ tryst with entrepreneurship and Indian Entrepreneurship’s tryst with destiny, it can be said with an air of pride that it would perhaps be an understatement to say just that the startups have begun to gain a strong foothold at the campus entrepreneurial ground in IIT Madras. Entrepreneurship Cell, IIT M has come long way and is now prepared to embark on a bigger and even more fruitful journey. This April, the 13th to 15th, E-Summit 2018 is back again: IIT M’s annual flagship event focussed entirely on young entrepreneurship and entrepreneurial venture wherein a plethora of activities and interactions promise a fun-filled time to the future budding job-givers that one of the finest campuses in the world is incubating. A lot has been introduced, a lot has been amended and a lot has come as it is to this year’s E-Summit since its first one back in 2016.</p>
                                         <br>
                                         <p>As the month of April in 2018 approaches, E-Summit 3.0 will be on the lips of every budding entrepreneur and student. If you got friends at IITM and you click on that status button on WhatsApp, a zillion statuses about the events line-up and the speaker line-up await as the E-Summit approaches.</p>
                                         <br>
                                         <p>Due to the success of the previous two editions of E-Summit, a large number of entrepreneurship enthusiasts and investors are looking forward to the third edition and many startups are relying on this E-Summit, almost like the third instalment of a fantasy trilogy.</p>
                                         <br>
                                         <p>The motto of <a style="font-weight: bold;">Connect, Ascend and Conquer</a> of E-Cell is a dream to be realised by many. And E-Summit is ready to take the entrepreneurial world by storm. Even though we progress day-by-day linearly, the growth of entrepreneurship is progressing exponentially. Even for those in a position of uncertainty, the E-Summit lecture series and fire-chats will provide clarity and perhaps answer that burning question, for you might find out what you truly aspire to be!</p>
                                         <br>
                                         <p style="font-weight: bold;">Highlights of the Announced Events </p>
                                         <p style="font-weight: normal;">WHAT’S NEW</p>
                                         <p>E-Summit may only be three days long, but the content that can be packed into it is beyond imagination:</p><br>
                                            <ol>
                                               <li><a style="font-weight: bold;">E-Connect:</a> Perhaps the most novel event being introduced this year, led by  IIT Madras is the E-Connect. This is the first Inter College meet of its kind. E-Connect is a meet wherein all the Entrepreneurial Committee representatives from the various institutions such as NIT’s,  BITS, IIIT’s and IITs come together to foster integrity and pool in resources, skills and opportunities for internships and startups to compete on the global platform much stronger. This will also facilitate cross-mentoring.</li>
                                               <br>
                                               <li><a style="font-weight: bold;">Inspirit:</a> This will include talks and panel discussions on various entrepreneurial aspects in an interactive environment between the future entrants into the world of enterprise and those who have had successful startups and have a successful business model.</li>
                                               <br>
                                               <li><a style="font-weight: bold;">ElevateX:</a> This event carries the vision to create leaders of tomorrow.  This is basically a pre-version of  Elevate wherein campus ambassadors find entrepreneurs (already or the budding ones) and ideas amongst which people are selected for Elevate.</li>
                                               <br>
                                               <li><a style="font-weight: bold;">E-Awards:</a> The first initiative of its kind, E-Awards aims to recognize and reward IIT  M’s entrepreneurs and startups.</li>
                                            </ol>
                                            <br>
                                         <p>Apart from this, the legacy of E-Summits first two edition continues. These include Unconference, Biz Quiz, Intern-fair, Bootcamp and Workshops.</p>
                                         <br>
                                         <ol>
                                               <li><a style="font-weight: bold;">Unconference:</a> A feature from the previous E-Summits, this event never gets boring! It is about the student innovators getting together in a case study competition to solve and address the most pressing problems the country, world or the ecosystem is facing right now.</li>
                                               <br>
                                               <li><a style="font-weight: bold;">Bootcamp:</a> Perhaps the event that has the most appealing and non-high funda name, Bootcamp is the event that helps the aspiring “wantrepreneurs” to get the right mentorship and training and knowledge to get the business models and ideas in the correct structure. This is an excellent opportunity for an unknowing student to get the experience of the real world competition in this bizarre world of cut-throat pitching against each other, and hence get incubated with a hefty yet vital sum to begin their startup journey well-prepared: financially as well as psychologically.</li>
                                               <br>
                                               <li><a style="font-weight: bold;">Biz-Quiz:</a> If you are just observing the candidates and have the entrepreneurial knowledge and temperament, but are not ready yet to jump into the competition, fret not! E-Summit brings to you the Biz-Quiz, a competition for the audience that will help you check-off your what-to-know-about-entrepreneurship list and enjoy the E-Summit just as well.</li>
                                               <br>
                                               <li><a style="font-weight: bold;">Elevate:</a> Basically, a competition of pitching against to raise investments from VCs and Angel Investors. The selection process for the same is going to be quite different this year, as the teams would have to go through ElevateX (as described earlier) before they qualify for the perks of Elevate. Together, Elevate and ElevateX ensure a stronger and fairer means of acquiring investments and a sensible and responsible leadership for the future of avenues of entrepreneurship.</li>
                                            </ol>
                                         <br>
                                         <p>If you dream about high-tech meets and the best minds brainstorming together, E-Summit 2018 is your answer. In a way, that’s true but E-Summit is not out-of-reach high-funda fest. It’s an <a style="font-weight: bold;">Entrepreneur Fiesta.</a> If you have an entrepreneurial temperament or the zest to enter the world of enterprising, step in at IIT Madras from 13th to 15th of April and experience it for yourself.</p>
                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-23" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-21" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
