<!DOCTYPE html>
<html lang="en">

  <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Towards a safe and pollution free Indian roads : The story of Iris controls | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
 </head>

 <body>

 <!-- Body Inner -->
 <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="background-overlay-dark text-light" data-bg-parallax="/blogimg/post48-1.jpeg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 40px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Towards a safe and pollution free Indian roads : The story of Iris controls</h1>
                    <div class="small m-b-20">September 24, 2020  |  <a href="/#">By: Abhiram</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                <p>I looked at my watch. I was already late for the meeting. I took out my phone and saw a text from him</p>
                                <p><span style="font-size: 17px; font-weight: bolder;">“where are you da.”<br></span></p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“coming”</span>I texted back</p>
                                <p>I entered CCD and looked around. He was sitting in a quiet corner, with a book in his hand. I went and said hi. He smiled and asked me to sit. I had gotten used to these informal interviews. Having been in E-cell since freshie year, I have been able to meet and interview a diverse set of people. It was always wonderful talking to people and getting to know the various facets of entrepreneurship.
                                </p>
                                <p><span style="font-size: 17px; font-weight: bolder;">“So, Let’s start?”</span> I asked</p>
                                <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post48.jpeg" alt="Fashion" style="height:300px;width:340px">
                                    </div>
                                </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“Yeah sure”</span> he said</p>
                                <p>
                                    I had a notepad and a pen to jot down what he said. I started by asking him how he got involved with the project. He described himself as a Project associate. 
                                </p>
                                <p><span style="font-size: 17px; font-weight: bolder;">“A Project Associate? What’s that?”</span> I asked</p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“Well, IITs have many research projects which are funded by government bodies or other institutes. Each of these projects is managed by a Principal Investigator who is a professor from insti. The professor selects candidates who may or may not be students to work under the project. And those who are not already students of the IIT are brought under the title of Project Associate.”</span> </p>
                                <p>He described the vision of the team: </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“Everything we do, we aim at contributing to our society. We believe in thinking differently by developing products that are well designed, user-friendly and affordable. We believe in making the road transport-safe, pollution-free and pleasurable.”</span> </p>
                                <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post48-2.jpeg" alt="Fashion" style="height:300px;width:340px">
                                    </div>
                                </p>
                                <p>He showed me some brochures of what they were doing. He had a certain glow in his eyes as he continued explaining what they were doing. The team initially started with five like-minded researchers, all working in the Mechanical engineering department – Jensen, Jino, Jubin, Nithin and Mithun. </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“How did you people come across the idea of doing this?”</span> I asked</p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“Well, the basic idea came from a casual talk with an alumnus in an automotive company. And soon we started a project which eventually ended up becoming a start-up.”</span> </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“Oh, that’s nice. What are all the projects you are currently working on?”</span> </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“One of our major products is ‘EngineSim’, a sensor emulator for the engine control unit. It is a device capable of emulating signals produced by the wide variety of sensors found in today’s state of the art engines.  Some of the signals included are Crank, Cam, Manifold Pressure, intake air temperature, engine coolant temperature, Throttle position and the likes.”</span> </p>
                                <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post48-3.jpeg" alt="Fashion" style="height:300px;width:340px">
                                    </div>
                                </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“Okay, but how is your product different from the rest?”</span> </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“Well, our product is compact, portable and cost-effective. Most products in the market are costly; we offer a much cheaper option. Also, the interface is user-friendly.”</span> </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“Cool! What are the other areas you work on?”</span> </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“The other product we are working on is driver assistance. So, for example, if it’s drowsiness in the driver, we have cameras that will detect when the driver may fall asleep and notify the system. The sensors monitor how long the driver has been driving and sense how the steering wheel is operated. Similarly, we use a range of other sensors like GPS radar and other mechanisms and process the results. There is also a Lane Departure Warning (LDW) feature which warns the driver if s/he leaves a marked lane without using the indicator, or if the vehicle is drifting out of its travel lane.”</span> </p>
                                <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post48-6.jpeg" alt="Fashion" style="height:300px;width:340px">
                                    </div>
                                </p>
                                <p>I noticed that he went silent for a while. He continued. He told me that one of them had met with an accident which is what made them develop this product for driver assistance. </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“How did you get started with this? I’ve heard Nirmaan is where start-ups are first conceived, right?”</span> </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“Yes. We first approached Nirmaan and put our proposals for the engine simulator there. It got approved within a short span. The overall ecosystem here at IITM is overall welcoming, and there is ample space to innovate. We got the required infrastructure and capital support from insti bodies. We got funding of around two lakhs from nirmaan.  We also got guidance from our professors at IITM. We have professors Ramesh and Pratyush Kumar who mentor and guide us.”</span> </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“How did you manage to get enough funding?”</span> </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“We were the runners up in the Bajaj Mach challenge and got around five lakhs funding from that. We also competed in Shaastra’s caterpillar IDP challenge and got some funding as part of that.”</span> </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“Are UG students part of your team?”</span> </p>
                                <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post48-5.jpeg" alt="Fashion" style="height:300px;width:340px">
                                    </div>
                                </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“We have a team at CFI, a group of around 20 undergraduate students. I might add that they are the backbone of what we are doing. They put enthu in what they do, and it’s good to see them come together and work to develop our product.”</span> </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“Nice to hear that. What advice would you give to the students who would want to embark on a similar start-up?”</span> </p>
                                <p><span style="font-size: 17px; font-weight:bolder;">“Hmm. Well, the idea you have need not be new or big, it can just be a simple idea. A small thought can bring about a big change. You should be open in your outlook. A single person can’t do Everything. It would be best if you are available to collaborate and cooperate with other groups and people. At the moment, we are associating with a company in the research park. Likewise, you should keep space for collaboration open. Only then will you be able to grow as a company. “</span> </p>
                                <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post48-4.jpeg" alt="Fashion" style="height:300px;width:340px">
                                    </div>
                                </p>
                                <p>As I walked back to the hostel that evening, my mind lingered on that one thought. 
                                    <span style="font-size: 17px; font-weight:bolder;">“A simple idea can bring about a big change”</span>
                                </p>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-29" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                                 <i class="icon-grid"></i>
                                </a>
                                <a href="/blog/post-47" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end: Post single item-->

                    <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
