<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>The Prickly Path | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="background-overlay-dark text-light" data-bg-parallax="/blogimg/post39-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Missing Jigsaw</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">The Prickly Path</h1>
                    <div class="small m-b-20">Feb 28, 2019  |  <a href="/#">By: VSS Anirudh Sharma</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                    <p>When you planned everything through, repeatedly re-evaluated your path, sure to succeed, nonetheless failed, the emotional stress is capable of tearing you apart; push you to an irrecoverable state of depression. Or it could be the fuel to your growling fire to succeed, or stand as a lesson that would change your course forever.</p>
                                    <br>
                                    <p>The journey of an entrepreneur begins with many setbacks. Their ideas are not immediately received. Their products don’t attract as many consumers as they believed would approach them. Their ideas don’t behave in the practical world the way they simulated it to be. Gathering funds from venture capitalists, recruiting the right people, lack of versatility in the team, finding trustworthy partners, attracting customers and earning their trust…the list of challenges goes on. Statistically, nice out of ten startups fail. Let’s try to venture into some common reasons to why startups fail and what some successful startups have to say about it.</p>
                                    <br>
                                    <p style="font-weight: bold;">1. Seeking venture funding prematurely:</p>
                                    <p>One of the most common mistakes entrepreneurs make is seeking venture capital when they aren’t ready yet. You are probably not ready for venture funding if your growth is slow or if you’re not making money at all. Venture funders like to pile on after businesses have already shown the potential for rapid revenue growth. Avoid seeking venture investments if you can’t point to a publicly traded company that does something similar to what you do.</p>
                                    <br>
                                    <p style="text-align: center;"><em>“Savvy investors aren’t interested in experimenting,” according to Lucas Carlson of Craftsman Founder. “They are interested in pouring gasoline on a fire that is already burning.” Starting the fire is your job, he wrote. Fundable businesses generally shake up existing businesses, according to Carlson.</em></p>
                                    <br><br>
                                    <p style="font-weight: bold;">2. Lack of Diversification:</p>
                                    <p>Out of necessity, a small business owner might put a laser focus on a single product, initiative or segment of the market — often with a disastrous outcome. It is better to diversify the business, to safeguard the enterprise from losing profit-margins due to market fluctuations.</p>
                                    <br>
                                    <p style="text-align: center;"><em>“A few years ago, sales were up, we hired more employees to keep pace with demand and we could legitimately say we were working with the big boys,” said Ryan Hulland, vice president and co-owner of MonMan, a small, specialized firm in the high-tech, data center, healthcare and manufacturing industries. They focused primarily on one product that was selling particularly well. “In short, we put all our eggs in one basket,” he said. Then, the manufacturer, to whom they had committed nearly everything to, decided to part ways. The business nearly collapsed. Like many small businesses, they were operating on razor-thin margins — just one late payment away from missing payroll. The solution? Risk it all. “We instantly put our business into overdrive,” Hulland said. “We ramped up sales efforts on the other products. We were committed to making it work.” .The firm emerged dramatically: transformed and stronger.</em></p>
                                    <br><br>
                                    <p style="font-weight: bold;">3. Unscalable Business Model:</p>
                                    <p>Creating a business model with enough built-in elasticity to grow is a deliberate action — one that many founders either overlook or attempt too early. According to Inc., before you attempt to grow, you have to identify your core users, ensure that your product reaches market fit, identify the marketing channels with the biggest return on investment and develop the resources to make scaling possible. Focus on marketing, including social media, before any growth initiative. Automating processes such as employee training, bill paying and payroll is also essential, as is outsourcing some aspects of your business, such as design and legal. Finally, delegate responsibility. Take a leave of absence to force the team to function without you.</p>
                                    <br>
                                    <p style="text-align: center;"><em>“You must have the systems and processes in place to be able to scale,” said Clay Clark, founder of Thrive15.com. “Many entrepreneurs get stuck thinking they are the only ones that can do everything for their business,” Clark said. “If you systemize your entire business with checklists, you will be able to go on that dream vacation while your business keeps making money.”</em></p>
                                    <br><br>
                                    <p style="font-weight: bold;">4. Hiring the Wrong People:</p>
                                    <p>Every business has limited capital for personnel, so hiring the right people — and only the right people — is critical. According to Inc., you should only hire people who can do tasks that can’t be automated. Look for people who have more than one skill and can play different roles. Finally, put a premium on talent that brings ideas to the table — creativity is a crucial and undervalued trait.</p>
                                    <br>
                                    <p style="text-align: center;"><em>“As a business owner builds the business, he or she will require a team to buy into the mission of the company and get ready to do what’s necessary to deliver a service,” said Todd Horton, founder and CEO of KangoGift. “You can have the best idea, but without people, you are toast.” “It is critical for business owners to build a team that is adaptable, even-keeled and open to performing a variety of tasks,” Horton said. “As a founder, I’ve chosen to develop a smaller, yet more engaged team than to bring on people too quickly. Finding the right fit for team members will decrease the chance of business failure.”</em></p>
                                    <br><br>
                                    <p style="font-weight: bold;">5. Losing Key Clients:</p>
                                    <p>Clients leave for greener pastures, as part of a change in strategy or simply to cut costs. For you, it might be your biggest client, but for them, you’re probably just one vendor out of many. When a major client departs, company leadership has two responsibilities, starting with making up for lost business. The second responsibility is reassuring staff that everything is under control.</p>
                                    <br>
                                    <p style="text-align: center;"><em>“When we’ve lost major clients, I’ve pushed hard to replace the void by knocking on doors, hiring additional salespeople, putting in extra hours myself, canceling any apportionments that didn’t involve bringing in new business, making sales a top priority, calling everyone I know to try to find new clients, and pushing much harder with our marketing efforts,” said Tali Raphaely, president of Armour Title Company and author of “The Complete Guide on How to Negotiate: Master the Art of Getting What You Want in Business and in Life.” “The main thing as a business owner is demonstrating to your employees that the company will get through this situation and will survive no matter what,” he said.</em></p>
                                    <br><br>
                                    <p style="font-weight: bold;">6. Losing Key Employees:</p>
                                    <p>The problem with hiring great employees is that they have options. Whether they found something better or simply wanted a change, every business loses crucial employees who they believe to be irreplaceable. The company’s first responsibility is to fill the gap right away. Equally important is preventing an exodus by making sure other key workers don’t bolt for the exits.</p>
                                    <br>
                                    <p style="text-align: center;"><em>“When we’ve lost key employees, I placed employment ads anywhere and everywhere,” Raphaely said. “I offered existing staff bonuses for making introductions to qualified applicants, I reached out to everyone I know, especially those in our industry, and I made everyone in my network aware of the fact that we were hiring.” “Employees need to know that ownership and management can handle adversity so that they can feel secure,” he said. “If setbacks aren’t handled effectively, then staff becomes frightened because they won’t be convinced the company will always continue to thrive. People need to be assured that everything will be all right.”</em></p>
                                    <br><br>
                                    <p style="font-weight: bold;">7. Customers Who Can’t Be Satisfied:</p>
                                    <p>The old adage is that the customer is always right, but sometimes, the customer is just impossible to please. Problem customers, however, are still customers, and they must be treated accordingly.</p>
                                    <br>
                                    <p style="text-align: center;"><em>“One of the biggest setbacks small business owners face is the customer that is never satisfied, no matter what you do,” said Kendra Y. Hill, CEO of IASA Consulting. “They may come to you with the intent to buy — even make the purchase — and then they complain,” she said. “The product isn’t exactly what they’re looking for, or your design was perfect and then they found a peanut gallery to rip it up.” “Honestly, you will run into difficult clients in the life of your business; it is to be expected,” Hill said. “If you remain patient, keep a good attitude, and continue to provide great customer service, it will smooth things over and, in most cases, make the client realize that what they had from the beginning was perfect.”</em></p>
                                    <br><br>
                                    <p style="font-weight: bold;">8. Insufficient Cash Flow:</p>
                                    <p>Cash flow deficiency is the final nail in the coffin for many small businesses. The problem is that money owed is not money in hand. When invoices are outstanding and money is needed for immediate obligations like meeting payroll, however, pricey money might be the only option. Consider invoice factor financing, where a lender loans a business money on the promise of an outstanding invoice, as a temporary solution. If your business has an outstanding invoice of $1 million, for example, the lender might give you $750,000. But when the customer pays up, the factor lender takes the whole invoice payment.</p>
                                    <br>
                                    <p style="text-align: center;"><em>“There is almost always a gap between when a product or service is delivered and when payment is received,” said Sean De Clercq, CEO of Kickfurther.com. “Bridging that gap has been a persistent problem for businesses, and since 2008, small businesses have struggled to secure credit from traditional sources.” New companies have grown to fill that space, but most are merchant cash advance services that are expensive, like Paypal Working Capital and Kabbage, according to Clercq.</em></p>
                                    <br><br>
                                    <p style="font-weight: bold;">9. Lack of Marketing:</p>
                                    <p>It is natural for entrepreneurs to focus on their core competency, but there is no such thing as a product that sells itself. Businesses — especially new businesses with limited capital — often dedicate horribly inadequate resources to marketing. Without content marketing, social media marketing and other dedicated campaigns, however, the greatest product in the world is likely to be unknown to the masses.</p>
                                    <br>
                                    <p>Social media, like LinkedIn, Instagram, Facebook, etc. provides an excellent opportunity for small businesses to launch comprehensive marketing campaigns on a limited budget. Start by developing a social media calendar and strategy, which can help a business create a plan, assign responsibility and have accountability. A strategy that includes a consistent, unified stream of social media posts can help enhance branding efforts and build customer loyalty.</p>
                                    <br>
                                    <p style="text-align: center;"><em>“To be successful and grow the business, you must generate more and more leads, convert those leads to clients and close more transactions per customer,” said Walter Wise, marketing strategist and executive coach with BPI Strategy Group. “To do that, you have to get your marketing right.”</em></p>
                                    <br><br>
                                    <p style="font-weight: bold;">10. Overpaying for ‘Expert Leadership’:</p>
                                    <p>When launching businesses, founders are especially susceptible to aggressive pitches from individuals who are very good at marketing their high-priced skills. Great leadership is paramount to success, but it doesn’t always come from the highest-priced candidates with the most impressive qualifications.</p>
                                    <br>
                                    <p style="text-align: center;"><em>“When you decide to bring in help to run the business, don’t be overly impressed by big-name experience and huge salaries listed on their resume,” said business speaker and author Barry Maher. “First, check them out every way you can to make sure the person is everything they claim to be. If so, why did their last employer let such a wonder escape?” And even if they are what they say they are, will that expertise translate to your business? “A highly successful executive at Boeing or Johnson & Johnson may crash and burn disastrously when working in a startup without the kind of resources they were used to previously,” said Maher. “It is not necessarily the same skill set.”</em></p>
                                    <br><br>
                                    <p>Everybody fails; falls. What makes you the winner is your choice: choice to stand up to fight back, or just stay fallen. You can choose your failure to be a bane, or choose to learn from it; rise above it. We must never forget that every champion was once a contender, who chose to not give-up. Every success story is woven by lessons learnt from every failure. And yes, all this holds true only if you know how things are going to work in reality, without leaving a single factor unchecked. We must accept the fact that entrepreneurship is a path filled with painful thorns, but sweet fruits and work hard, every moment, every bloody moment, struggling to achieve our dream.</p>
                                    <br>
                                    <p>Never waste a fall. Respect it. Learn from it. Bleed success from every bruise.</p>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-40" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-38" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
