<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>The Falling Of a Giant – Yahoo! | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post9-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Company Tales</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">The Falling Of a Giant – Yahoo!</h1>
                    <div class="small m-b-20">Jan 31, 2017  |  <a href="/#">By: Anay M. Shembekar.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                <blockquote>
                                    For those of you who are running a company or planning to start one, learn from Yahoo’s mistakes. Understand its trek. Understand why and how it flopped. Introspecting on this journey promises to make one more prudent.
                                 </blockquote><br>
                                 <p>
                                    On July 25 2016, Verizon announced its decision to acquire all of Yahoo!’s internet business worth $4.8 billion dollars. So how did this company, once synonymous to internet technologies and advertisements, go from glory to insignificance in less than a decade?</p><br>
                                    <p>Established in January 1994, Yahoo epitomized a new era in which the internet was rapidly becoming the hottest marketplace. Because investors viewed internet as a huge advertisement platform, Yahoo easily secured sizeable investments. Following its IPO, Yahoo’s valuation shot to $896 billion in ’96. A further shift in the investors’ outlook – ‘from bricks to clicks’ – cause a sudden upsurge in Yahoo’s valuation to about $40 billion. With an additional swelling in the ‘Tech Bubble’, Yahoo’s market value rose to its peak in the early 2000’s- $125 billion. However, that was that; it didn’t increase any further.</p><br>
                                    <p>Having reaped great benefits in the short run, the Yahoo board was surely encouraged to maintain its sales over engineering strategies. However, it was disastrous in the long run. With the availability of a huge advertisement platform and no one else to share it with, Yahoo shifted its focus from engineering to sales (It continued to do so before realising that it was too late to turn around). A lot of its top products like Yahoo Mail, Yahoo Answers and Yahoo Search eventually lost the market to Gmail, Outlook, Quora, Google Search and Bing Search. In an increasingly crowded marketplace, Yahoo fell severely short of improving its products and outwitting its competitors. A lot of Yahoo ex-employees allegedly complained of a below par talent pool in the engineering department. Thus, in spite of being the reigning favorites to rule the web, Yahoo lost the battle for internet 2.0 to the then underdogs like Google and Facebook.</p><br>
                                    <p>A big driving force in the internet giants is the presence of a clear, visionary leader. Obviously, Yahoo lacked one. Jerry Yang & David Filo weren’t as involved in the major product decisions unlike their counterparts at Google, Facebook, Amazon, etc. Its lack of vision is so palpable that Yahoo changed its company description 24 times over a period of 23 years. Yahoo management also made another major blunder by appointing a series of  ‘professional CEOs’ in a very short time. Instead of promoting executives from within, Yahoo went on a CEO shopping spree to stop its descent. But this only worsened their condition as the new executives either lacked clear vision or their vision was perhaps too much for Yahoo. Terry Semel, now considered Yahoo’s worst CEO, blotched the deals to buy Google, Facebook and Double-Click (Google’s major advertising platform). He also missed his only shot at redemption by blocking Microsoft’s takeover for an approx. $45 billion. Scott Thompson, Yahoo CEO in the early 2012, reduced Yahoo’s workforce by 14%. He stayed at the helm for only 130 days and Yahoo had to part with another $7.3 million. In its final years, the board turned to Marissa Mayer to salvage something out of Yahoo; she quit after an overvalued Tumblr deal and selling a big chunk of its Alibaba stock (Yahoo’s only successful investment).</p><br>
                                 </p>
                                 <br>
                                 <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post9-1.jpeg" alt="Fashion" style="height:500px;width:640px">
                                    </div>
                                </p>
                                 <p>For a mammoth tech giant as Yahoo, prudent investment is another important issue. Yahoo visibly failed at this task. It made a series of inaccurate investments. First, it had an opportunity to buy PageRank- a website designed to search the most relevant site on the internet for a given typo. This search engine was getting way more traffic than Yahoo search and the two PhD. students who had made it- Larry and Sergey- demanded as little as $1 million for the sale (at the time, it was less than 0.02% of Yahoo’s market value). But Yahoo wanted more users to use its search engine instead of PageRank. So they turned down the offer. The same duo later went on to build Google- currently valued at about 4.5 times Yahoo’s peak valuation. Later, Yahoo again made an unsuccessful bid to buy Google for $1 billion. It also failed to acquire Facebook at $1.1 billion dollars.</p><br>
                                 <p>But it wasn’t just the deals that Yahoo failed to close. A lot of its investments bombed too. Yahoo, in ’99, made two highly publicised deals- a $4.6 billion deal to acquire GeoCities(a site that lets users create their own sites) and a $5.7 billion deal to acquire Broadcast.com(an online television viewing platform). Broadcast.com didn’t take off, mostly due to the lower than required internet speeds to broadcast videos and GeoCities shut down in 2009 because of an erroneous management. Later in 2013, Yahoo bought Tumblr for $1.1 billion which turned out to be an overvalued purchase.</p><br>
                                 <p>A successful leadership demands taking some bold steps, which Yahoo lacked. The Yahoo board was perhaps too afraid to take risks. Their products lacked new features. Even if any final products were launched, they used to be the watered down versions of their grand original ideas. For instance, Flickr wanted to create a social networking site before its’ acquisition. The photo sharing site could have been a direct competitor with Facebook and Instagram; but Yahoo management nipped that idea in the bud and later guided it to obscurity. In the end, Yahoo itself became insignificant.</p><br>
                                 <p>Of course, we all know how this story ends- Yahoo being sold to Verizon for less than 1% of Google’s market valuation or 3% of Facebook’s market value.</p><br>
                                 <p>For those of you who are running a company or planning to start one, learn from Yahoo’s mistakes. Understand its trek. Understand why and how it flopped. Introspecting on this journey promises to make one more prudent.</p><br>
                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-8" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-10" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
