<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Flipkart and Snapdeal: The Complete Story | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post13-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Company Tales</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Flipkart and Snapdeal: The Complete Story</h1>
                    <div class="small m-b-20">Aug 8, 2017  |  <a href="/#">By: Pranav Bhargav.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                    <p>
                                            The past few months have turned out to be a series of tumultuous affairs for Gurgaon-based Snapdeal. With Kunal Bahl as the CEO and Rohit Bansal as COO of the company, Snapdeal has finally decided to stride independently, terminating the long-held discussions and negotiations initiated by Flipkart. The course of events offers quite a histrionic view of the Indian startup world.
                                         </p>
                                         <br>
                                         <p>
                                            What now follows is a month by month breakdown of all the drama:
                                         </p>
                                         <br>
                                         <blockquote>April:</blockquote>
                                         <p>A little over a year ago, Flipkart co-founder Sachin Bansal found an opportune moment to take a dig at retailing rival Snapdeal. This was when Snapdeal was starved for funds, and a letter from Bahl to its employees implied its imminent acquisition. </p>
                                         <br>
                                         <blockquote>May:</blockquote>
                                         <p>The transaction, if successful, would have redefined India’s online retail industry, and sharpened the battle lines between home-grown contenders and their global rivals — America’s Amazon and China’s Alibaba.</p>
                                         <br>
                                         <p>The proposed sale of the Gurgaon-based company, being engineered by its largest shareholder SoftBank, had been held up due to objection from Nexus Venture Partners, an early backer of Snapdeal that holds about 11% stake in the venture – in effect, they could veto any potential deal.</p>
                                         <br>
                                         <p>As per the company’s shareholders agreement, SoftBank required the consent of at least two major Jasper Infotech shareholders to push through the sale of the company. Kalaari Capital, the second early investor on the Snapdeal board, had already given its assent to the proposed sale.</p>
                                         <br>
                                         <p>SoftBank, being the largest shareholder in Snapdeal, +ultimately persuaded Nexus Venture Partners to agree to terms. Kalaari Capital and the founders had earlier agreed to the merger, which called for Snapdeal’s valuation to be reduced to about $1 billion from its previous $6.5 billion. However, several hurdles and signatures from key individuals remained.</p>
                                         <br>
                                         <p>The Flipkart-Snapdeal combination was intended to create a stronger local competitor to battle Amazon. Founder Jeff Bezos has vowed to spend $5 billion in India to gain share as the market surges. He was determined not to miss out like he did in China, where Alibaba Group Holding Ltd. — backed by none other than SoftBank — came to dominate the local market. SoftBank founder Masayoshi Son was vocally in favor of the deal, believing it to be a win-win scenario for both local companies.</p>
                                         <br>
                                         <p>Towards the end of the month, all necessary parties had agreed to and signed the agreement, with Snapdeal now conclusively valued at $1 billion. Bahl and Bansal, the CEO and COO of Snapdeal, reached out to the minority stakeholders to get their assent for the sale to Flipkart.</p>
                                         <br>
                                         <blockquote>June:</blockquote>
                                         <p>This momentous acquisition proposal faced stiff opposition to its current form from the foreign exchange rules of the Reserve Bank of India, and would have to accommodate new clauses to protect the interests of its stakeholders.The rules introduced by the FEMA act were the major hurdles, which Flipkart, based out of Singapore, was subject to.
                                         </p>
                                         <br>
                                         <blockquote>July:</blockquote>
                                         <p>The Jasper Infotech board rejected an initial offer, estimated at $800-900 million, prompting Flipkart to up their bid to $900 million-$950 million, which was approved by the board.
                                         </p>
                                         <br>
                                         <p>The sticking point was the differential payments, which were seen as an attempt to win over larger Snapdeal investors and the founders who have had to agree to a vastly lowered valuation. Under the proposed terms, early investors, like Kalaari Capital and Nexus Venture Partners, would receive $60 million in addition to their new equity in Flipkart, while founders, Kunal Bahl and Rohit Bansal, would get a combined $30 million.</p>
                                         <br>
                                         <blockquote>August:</blockquote>
                                         <p>Somewhat surprisingly, Jasper Infotech terminated negotiations for the proposed sale, ending nearly seven months of tumultuous discussions initiated by SoftBank.</p>
                                         <br>
                                         <p>Snapdeal said that it will pursue an “independent path”, while the Japanese internet and telecom conglomerate said in a statement that “we respect the decision”, bringing the curtains down on a protracted saga that was almost sure to result in Flipkart’s acquisition of Snapdeal.</p>
                                         <br>
                                         <p>Snapdeal, to the disgust and disappointment of both their investors and employees, began preparations to lay off a large amount of its workforce – the target being to cut down 80% of its employee strength prior to the launch of a smaller, yet still independent, Snapdeal. This was tentatively termed Snapdeal 2.0.</p>
                                         <br>
                                         <p>Vani Kola, MD at Kalaari Capital and one of the earliest venture capitalists to back Snapdeal, lashed out at the decision of the founders to call off the deal, arguing that it was not in the interest of all shareholders. Her firm owns an 8% stake in the Gurgaon-based company and along with another early investor Nexus Venture was due to receive special pay-outs as part of the sale process.</p>
                                         <br>
                                         <p>“I was extremely disappointed in the founders and their disregard for investors and employees. A number of shareholders have already sent their emails to express their disappointment stating that the move to walk away from the deal “created no shareholder value”.”</p>
                                         <br>
                                         <p>Sources also added that this could be the start of shareholder activism and if there is enough momentum, there is a chance the deal may be back on the table.</p>
                                         <br>
                                         <p>The reason for the (apparent) sudden shift in interests was because founders Kunal Bahl and Rohit Bansal did not want to sell the company. The board was now effectively split into two – with Premji Invest, Ratan Tata, and the founders on one side, and Softbank, Nexus Ventures and Kalaari Capital on the other.</p>
                                         <br>
                                         <p>Early investors in Snapdeal have come out in support of the online marketplace’s decision to terminate its merger talks with larger rival Flipkart earlier this week, and move forward as an independent entity.</p>
                                         <br>
                                         <p>After the announcement of major layoff with an agenda to cut down 80% of its employee strength in the company, Snapdeal on Tuesday witnessed the exit of many senior members from the technology, product and engineering divisions.</p>
                                         <br>
                                         <p>Vice-President, Product, Pradeep Desai; Vice-President, Engineering, Viraj Chatterjee and Head of IT, Gaurav Gupta are some of the first names to have exited the company.</p>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-14" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-1" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">
            <footer id="footer">

                <div class="copyright-content p-t-20 p-b-20">
                    <div class="container">
                        <div class="row h5">
                            <div class="col-lg-6">
                                <div class="d-none d-xl-block d-lg-block">
                                    &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                    <br>
                                    All Rights Reserved.
                                </div>
                                <div class="d-block d-lg-none text-center">
                                    &copy;Developed by
                                    <br>
                                    <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                    <br>
                                    All Rights Reserved.
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-none d-xl-block d-lg-block">
                                    <span>For issues related to the website, contact:</span>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                            8171700616</div>

                                    </div>
                                </div>
                                <div class="d-block d-lg-none text-center">
                                    <br>
                                    <span>For issues related to the website, contact:</span>
                                    <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
