<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>The Ingredient amiss in your Startup Dream | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post36-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Missing Jigsaw</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">The Ingredient amiss in your Startup Dream</h1>
                    <div class="small m-b-20">Sep 30, 2018  |  <a href="/#">By: Sarah.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                <p style="font-weight: bold; text-align: center;">“If we will imagine the thing we want and do our part to “be in the</p>
                     <p style="font-weight: bold; text-align: center;">right place at the right time,” there isn’t anything</p>
                     <p style="font-weight: bold; text-align: center;">we can’t do, be, or attain.”</p>
                     <p style="font-weight: bold; text-align: center;">- Daniel Willey</p>
                     <br>
                     <p>You’re sitting in your corporate cubicle when it hits you. Wide-eyed, you look up. The ancient, rusty fan has disappeared, and the azure sky is beaming with possibilities. You walk back home, whilst the noise of the streets have numbed into the sweet melody of your new idea. You slip into slumber, determinate to wake up the next day and start building your own startup.</p>
                     <br>
                     <p>Soon, it’s 2 am and from outside your window comes a yellowish-orange glow. You are woken up from a loud indistinct chanting. You rub your eyes and walk to your window to meet the mob gathered in front of your home. Your family members are standing with pitchforks, your friends have flaming torches in their hands. And now the chanting is perfectly audible - “Three startups are launched every second worldwide. 90 percent of them fail”, again, and again, and again. Do you go back to your soul-crushing job? Because anyhow, what they’re saying is not wrong. Or just take a step back and figure out, if really, the odds are against you.</p>
                     <br>
                     <p>It is all too easy for startup founders to be lured by the ingenuity of their idea and forget to assess other risk factors that have swallowed whole, innumerable startups beforehand.</p>
                     <br>
                     <p>In his Ted talk, Bill Gross ponders on five key factors he believes, make or break a startup.</p>
                     <br>
                     <p style="text-align: center;">IDEA - EXECUTION - FUNDING - TEAM - TIMING</p>
                     <br>
                     <p>The startups who see success labor hard to get each of the above factors right. The media, as we know is obsessed with startup stories. “How did you get the idea?” is the first question all journalists will ask. It seems natural, therefore, to conclude that the idea is indeed everything. The execution of a sub-par idea will not bring in funding, much less culminate into a billion dollar establishment. And when things would not be taking off, individuals would eventually abandon the doomed ship. It is ingrained in our brains, idea is everything. But suppose two companies had the same idea. What aided one of them to flourish as one of the most popular content sharing website and reduced the other to a mere case study?</p>
                     <br>
                     <p style="font-weight: bold; text-align: center;">“We started a company called Z.com, it was an online</p>
                     <p style="font-weight: bold; text-align: center;">entertainment company. We were so excited about it -- we raised</p>
                     <p style="font-weight: bold; text-align: center;">enough money, we had a great business model, we even signed</p>
                     <p style="font-weight: bold; text-align: center;">incredibly great Hollywood talent to join the company. But</p>
                     <p style="font-weight: bold; text-align: center;">broadband penetration was too low in 1999-2000. It was too hard</p>
                     <p style="font-weight: bold; text-align: center;">to watch video content online, you had to put codecs in your</p>
                     <p style="font-weight: bold; text-align: center;">browser and do all this stuff, and the company eventually went out</p>
                     <p style="font-weight: bold; text-align: center;">of business in 2003.</p><br>
                     <p style="font-weight: bold; text-align: center;">Just two years later, when the codec problem was solved by Adobe</p>
                     <p style="font-weight: bold; text-align: center;">Flash and when broadband penetration crossed 50 percent in</p>
                     <p style="font-weight: bold; text-align: center;">America, YouTube was perfectly timed. Great idea, but</p>
                     <p style="font-weight: bold; text-align: center;">unbelievable timing. In fact, YouTube didn't even have a business</p>
                     <p style="font-weight: bold; text-align: center;">model when it first started. It wasn't even certain that that would</p>
                     <p style="font-weight: bold; text-align: center;">work out. But that was beautifully, beautifully timed.”</p>
                     <p style="font-weight: bold; text-align: center;">- Bill Gross</p>
                     <br>
                     <p style="text-align:center;">
                        <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                            <img style="grid-column: 2/3" src="/blogimg/post36-1.jpg" alt="Fashion" style="height:500px;width:640px">
                        </div>
                    </p>
                     <br>
                     <p>Another good example is Airbnb. It came after the recession when people were on the lookout for alternate means of income in a desperation that letting your house to a stranger seemed like an insignificant inconvenience.</p>
                     <br>
                     <p>Coffee Republic, Ola, Flipkart etc did not start out with original ideas but were able to address issues at the right time, just in a different country.</p>
                     <br>
                     <p>The concept of right timing ties itself neatly to the very idea of starting up. Taking up a problem when the existing government and private established companies are at a loss of how to solve it. That is what makes startups useful.</p>
                     <br>
                     <p style="font-weight: bold;">WHAT IS GOOD TIMING?</p>

                     <p>Being a little early can be dealt with. Being late is unforgivable.</p>
                     <p>Timing will always have a mysterious luck factor that will continue to delude us. There are some powerful tools you can read about on the internet. One of the most popular ones as mentioned by several websites was the PESTLE analysis, which to me reads like a checklist of factors to consider.</p>
                     <p>P - Political Factors</p>
                     <p>E - Economic Factors</p>
                     <p>S - Social Factors</p>
                     <p>T - Technological Factors</p>
                     <p>L - Legal Factors</p>
                     <p>E - Environmental Factors</p>
                     <br>
                     <p style="text-align:center;">
                        <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                            <img style="grid-column: 2/3" src="/blogimg/post36-2.jpg" alt="Fashion" style="height:500px;width:640px">
                        </div>
                    </p>
                     <br>
                     <p>Right now, there are two million apps in the apple store. There are 3.8 million of them in the android store. When first launched, they were an opportune platform for developers who could provide interactive content that the market was demanding. Not surprisingly, the App Store became more and more congested. Finding apps that were not from established developers required effort on the part of the customers. A very small fraction of developers thus own 50 percent of the revenue, the app store generates.</p>
                     <br>
                     <p>Everett Rogers in 1962, introduced an “Innovation Adoption Curve” analysis of which reveals that markets slowly uptake new innovation, accelerate towards the peak that marks maximum competition and eventually decelerates once the market consolidation sets it.</p>
                     <br>
                     <p>Startups need to have a thorough knowledge of the market and figure out the sweet spot when the market neither ripe nor raw. It so happens, it wasn’t always the early birds who were the most successful. The field they started out was new and it took a lot of trial and errors for them to gain the required traction. Societies don’t make it easier. Throughout history, people have been executed if they had too many ideas. Timing matters. Human societies are mutable. So, what might’ve been a brilliant technique that our ancestors felt generations would admire them by, we, their descendants are indifferent at best, otherwise horrified by that same technique. Culture keeps changing. What was once a great market fit, may become obsolete in no time.</p>
                     <br>
                     <p>It also makes sense that the reverse happens too. Apple dominates half the smartwatch market, followed by Samsung and Fitbit. But it was Microsoft that had introduced the first prototype of a smartwatch. Microsoft would have shut down, had it been a startup. Who knows? Google Glass might just come back with a different alias.</p>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-37" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-35" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
