<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Netscape: Lessons from the Rise and Fall of the Internet’s First Start-up | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post6-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Company Tales</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Netscape: Lessons from the Rise and Fall of the Internet’s First Start-up</h1>
                    <div class="small m-b-20">Mar 5, 2018  |  <a href="/#">By: Arvind Pujari.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                    <p>
                                       How many of us have heard of Google Chrome? Mozilla Firefox? And of course, the much-maligned Internet Explorer, now reincarnated as Microsoft Edge? These are the browsers we use every single day, and there’s a reasonable chance that you’re using one of them to view this article right now. Internet browsers are the tool we use to escape into the infinite stream of information that we call the World Wide Web. However, twenty years ago, the picture was quite different. Twenty-two years ago, over 90% of Internet users used only one browser. The Netscape Navigator.</p><br>
                                       <p>Netscape has often been described as the “first internet start-up that actually mattered”. Its place in internet history is ubiquitous.  It is often described as the first company to attempt to capitalize on the nascent World Wide Web. It was originally founded under the name Mosaic Communications Corporation on April 4, 1994, by Mark Andreessen, with ex-Stanford Professor Jim Clark as the majority shareholder. Netscape developed the world’s first graphical browser, Netscape Mosaic 0.9. This essentially meant that the browser had buttons which the user could click, instead of using text based commands. Mosaic was an overnight success. Sensing the potential in this uncharted new market, Netscape released the Netscape Navigator 1.0 in December 1994. It was a huge success, with millions of downloads within hours of its release. In 1995, the company went public on the New York Stock Exchange, a little over a year after it was founded. Its initial stocks were valued at $28. By the end of the day, the stock values closed at $58.25, giving Netscape a was value of $2.9 billion. Netscape’s rise was so dramatic, that people referred to using the World Wide Web, as “using Netscape”!</p><br>
                                       <p>Success invariably draws attention. And in this case, it drew the attention of Microsoft, the Emperor of the software world. Microsoft had long had a reputation in which it squashed its competitors, to ensure that it had a monopoly over the software market. Lotus, WordPerfect and the mighty IBM were just some of its competitors which had been ruthlessly destroyed along the way. Its sights were now trained on Netscape.</p><br>
                                       <p style="text-align:center;">
                                        <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                            <img style="grid-column: 2/3" src="/blogimg/post6-1.jpg" alt="Fashion" style="height:500px;width:640px">
                                        </div>
                                    </p>
                                    <p>
                                       Well, amongst several other meandering topics, start-ups were also high on the agenda. In what will come as a welcome boost for both Indian and Israeli entrepreneurs:</p><br>
                                       <p>Microsoft’s success had been based on monopoly over the software platform. 90% of the world’s desktop computers ran Windows. Any software company had to ensure that its product ran on Windows, or risk being cast into irrelevance. But Netscape belied this trend. The internet was a whole new world, and the access to it was being controlled not by Microsoft, but by Netscape. The years of monopoly that Microsoft held over the software world was now at risk.</p><br>
                                       <p>Netscape had the upper hand over Microsoft, but they were plagued by something else: arrogance. They thought they were invincible, and not only treated their allies with indifference, but took pot-shots at Microsoft. Mark Andreessen repeatedly targeted Microsoft by saying that “Windows is dead”, and referring to Windows as a “poorly debugged set of device drivers”, which in geek world, is the equivalent of a slur against your opponent’s family. This only catalyzed Microsoft to work harder and gave them an incentive to build a product which would wipe out Netscape.</p><br>
                                       <p>In 1995, Windows launched Windows 95, and bundled along with the software came the Internet Explorer. What followed was a series of browser launches from both companies. This period in the history of the Internet is often referred to the First Browser War, an epic battle to control the gateway to the Internet.</p><br>
                                       <p>Microsoft viewed the Internet as a highway, and for them, the Internet Explorer was the toll gate which would control access to the highway. Their years of controlled monopoly over every software hinged on their ability to win the browser war. And such was the desperation to win, that unethical means were propounded by the Microsoft hierarchy. They used a league of shadowy salesmen who would target PC manufacturers and compel them to install Internet Explorer on the computer, or else have their Microsoft license cancelled. One of the biggest reasons for Netscape’s decline was the four-year brain drain. After four years of the company’s growth, most of Netscape’s lead software engineers were millionaires, with no incentive to work harder. Microsoft however, was determined to destroy Netscape, to maintain its monopoly. The ball was now in Microsoft’s court. With their superior financial strength, Microsoft took the one move that destroyed Netscape. It released Internet Explorer 4 in 1997 as a free software. The First Browser War was over. Microsoft had won. By 1998, Netscape Navigator 3.0 had a market share of only 8%. Internet Explorer 4 had a market share of 90%.</p><br>
                                       <p>In 1998, AOL, perceived as a boring company bought Netscape. The end was nigh. The last Netscape browser, Netscape Navigator 7, was released in 2003.</p><br>
                                       <p>Netscape however, left behind a legacy which remains etched in history. In 1998, they founded the open source community, Mozilla. Netscape continues to live on, till this day, in a new form, Mozilla Firefox, which is one of the world’s most widely used web browsers. Netscape is also credited with the creation of JavaScript, the backbone of today’s World Wide Web. Netscape’s battle inspired many more companies to take on Microsoft, and led to the birth of Google and Yahoo among others. Microsoft meanwhile, was haunted by the ghosts of its unethical dealings, and became embroiled in a lengthy court battle which it never recovered from. Google Chrome and Mozilla Firefox emerged as victors of the Second Browser War, and the Internet Explorer is now on the brink of obscurity. Justice had been delivered for Netscape, finally.</p><br>
                                       <p>This is the story of Netscape, the small college start-up which went toe to toe with the giant of the software industry. It may have failed, but its legacy lives on today, as a guiding light for young entrepreneurs who wish to make it big in the software world today, because in the internet, empires can rise and fall with the click of a button.</p><br>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-5" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-7" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
