<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Hack2Glory: Insti’s Codemasters | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post18-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">IIT Madras</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Hack2Glory: Insti’s Codemasters</h1>
                    <div class="small m-b-20">Dec 11, 2018  |  <a href="/#">By: Arvind Pujari.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                <p style="font-weight: normal;">
                                    Its 5 o’ clock at Gurunath, when the impeccably dressed, forever busy Sidharth Ramesh, aka Sin B, who is also the Club Head of the CVI Club at CFI, strolls in. After he attends to a few phone calls and WhatsApp messages, we get to business, namely his recent success in the Hack2Innovate Hackathon, conducted in collaboration with E-Cell, and his subsequent visit to the Global Entrepreneurship Summit at Hyderabad. The team, consisting of Varun Sundar, Lokesh Kumar and Nikhil Krishna, won INR 1 lakh for their efforts. Here are some excerpts from the interview
                                 </p>
                                 <br>
                                 <p style="font-weight: bold;">On the nature of the Hackathon</p>
                                 <p>
                                   The Hackathon had multiple problem statements. We (the team consisting of) were supposed to pick one of them and work on it. So, we decided to work on the Hand Gesture problem statement, provided by Samsung. We were given exactly 24 hours from the time we started, to complete the task.
                                 </p>
                                 <br>
                                 <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post18-1.jpg" alt="Fashion" style="height:500px;width:640px">
                                    </div>
                                </p>
                                 <br>
                                 <p style="font-weight: bold;">The nature of the competition faced</p>
                                 <p>We had a couple of outside contenders and a group of researchers from one of the labs in the Department of Electrical Engineering.
                                 </p>
                                 <br>
                                 <p style="font-weight: bold;">About their ground-breaking solution</p>
                                 <p>We took three deep learning models, one was Deep Face and two other models was general models, one was ResNet, and another was a pre-trained model. We took all of them, we trained them with multiple datasets that we had online, and then we wrote another network to combine all the results from that, and then we trained them, to get the six classes that were required. Our solution had a 92% accuracy!
                                 </p>
                                 <br>
                                 <p style="font-weight: bold;">Are competitions the right way to promote innovation?</p>
                                 <p>I would say yes. Competitions always orient themselves towards something the world needs, and a lot of today’s competitions are aligned towards achieving 2030’s Sustainable Development Goals (SDG’s). Competitions such as the Smart India Hackathon, definitely promote amazing solutions to today’s solutions.</p>
                                 <a style="font-weight: bold;padding-left: 40px;padding-right: 40px;">“One thing we lack is the know-how of how to move from a prototype to a
                                             product. If we have established entrepreneurs, coming to CFI, and
                                             sharing their stories of success and failure, that would be of great
                                             help to most innovators. E-Cell is one organization which tends to
                                             organize these kind of events, and bring entrepreneurs to insti, to
                                             share their stories.”</a>

                                 <br>
                                 <br>
                                 <p style="font-weight: bold;">About his experience at GES, Hyderabad </p>
                                 <p>GES was a wonderful experience. There were a large number of innovative and creative minds, and I got a large number of networking opportunities. I met a lot of interesting people, and it was really an invaluable experience.</p>
                                 <p>It was a three-day event, but before that, we had a road to GES, in association with Niti Aayog and Inc. The two days of Road to GES had a lot of speeches, which was something like a Ted Talk, a couple of networking sessions and displays.</p>
                                 <p>On the first day, we had a networking dinner. The second day had a lot of panel discussions where experts came in and addressed issues which are prevalent in today’s society, and can be solved by entrepreneurship. We had another networking session, where people came up with creative and inventive ideas. There was also a pitch competition, where people were allowed to pitch their start-up ideas, and on the third day, they received prizes for it.
                                 </p>
                                 <p>On the third day, we had a closing ceremony and a huge dinner. As a whole, it proved to be a great opportunity if you’re seeking investors, and a great avenue to get contacts and learn.</p>
                                 <br>
                                 <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post18-2.jpg" alt="Fashion" style="height:500px;width:640px">
                                    </div>
                                </p>
                                 <p style="font-weight: bold;">How do you think CFI fares in terms of Entrepreneurship?</p>
                                 <p>CFI has a lot of ideas. The first time we went to T-Hub, they told us, “Come in with an idea, go out with a product”, which is the tagline of CFI too. The innovation which goes on inside CFI is crazy, but not a lot of that innovation is tapped. A couple of start-ups did come out of CFI, such as Hyperverge, and Detect, to some extent. However the number of start-ups coming out of CFI is slowing down, and if someone pushed it a little, it can become one of the biggest start-up hubs in India.</p>
                                 <br>
                                 <p style="font-weight: bold;">What do we need to improve the prototype to product transition in CFI?</p>
                                 <p>The way I see it is, there are a lot of products in CFI, but they don’t know how it’s applied in the world. We come up with a lot of fancy things, a lot of technical things that will bewilder a large number of people, even those involved in technology within IIT.</p>
                                 <p>However, that isn’t what people require. Sometimes, the solutions to the biggest problems are the simplest solutions. There is a fine line between making a product that sells, and making a fancy product that pushes the boundary of innovation. If that fine line can be met, wonders can happen.</p>
                                 <p>One thing we lack is the know-how of how to move from a prototype to a product. If we have established entrepreneurs, coming to CFI, and sharing their stories of success and failure, that would be of great help to most innovators. E-Cell is one organization which tends to organize these kind of events, and bring entrepreneurs to insti, to share their stories. Hence, entrepreneurship bodies such as E-Cell can help us a lot in pushing prototypes to products, and it would be extremely beneficial if we could have such a tie-up.</p>
                                 <br>
                                 <p>I saw 1700 people at the GES, which means that there were 1700 people just there, trying to solve the world’s problems. There were people over there talking about solutions to problems, for which we, at CFI, had already built prototypes. As technical people, we don’t see this side of what we build, we don’t see how our products can change the world. CFI needs more entrepreneurial activities, and the solution is right there, in our own insti bodies.</p>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-19" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-17" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
