<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Making Of Famous Logos | Blogs
    </title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
</head>

<body>

    <!-- Body Inner -->    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" >HOME</a></li>
                                    <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="/blog" >BLOGS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post7-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Marketing</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Making of Famous logos</h1>
                    <div class="small m-b-20">Feb 25, 2017  |  <a href="/#">By: K. Shivani.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                <p>
                                    A Logo is an intricate visual that attaches an identity to a corporation. It is a powerful symbol that can shape the destiny of a company as swiftly as I type. It seems a hyperbole but interestingly it isn’t. People make almost instantaneous judgments especially when it comes to choosing a desirable company of the product they intend to buy. A logo offers a quick insight into the brand, and the more captivating it turns out to be, more are its chances of successful popularity. As a result a lot of work goes into the making of a logo, with the intent of creating something that will communicate the idea of the startup in the most creative or sometimes quirky manner. After all the ultimate goal of any logo is marketing.</p><br>
                                    <p>With long episodes of brain scramming, creativity oozing out in no time, some brands have managed to come up with rather incredible and inspiring logos, something that startups in the business shouldn’t miss to learn from.  And also a tad bit of back story presented about each of them.</p><br>
                                 </p>
                                 <br>
                                 <h2>Domino's</h2>
                                 <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post7-1.jpg" alt="Fashion" style="height:500px;width:640px">
                                    </div>
                                </p>
                                 <p>Domino’s traces a humble start of one of the most successful and ever flourishing multinational corporations. Founded by two Brothers Tom and James Monaghan, in a small Michigan town in the 1960’s, Dominos was once just a tiny pizza joint called by the name DomiNick’s. It happens to be the 2nd largest pizza chain in the United States now and ever popular logo on the street offers a multi-fold delight to many of all ages.</p><br>
                                 <p>The very first Dominos logo, which was created in the 1960’s, was created for two reasons: First it aimed at attracting more customers due to the bright and cheerful colors of the logo. The red, white and blue colors were meant to be highly noticeable so as to appeal to the larger and large crowd of people possible. The three dots on the logo symbolize the three original Dominos locations that were open at the time. The company intended to add a dot with every subsequent franchise, though the idea was later dropped since otherwise it would have needed a thousand more. The simple and subtle design worked well, stuck in the minds of pizza lovers for eternity.</p><br>
                                 <h2>CocaCola</h2>
                                 <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post7-2.jpg" alt="Fashion" style="height:500px;width:640px">
                                    </div>
                                </p>
                                 <p>
                                    The woman behind Wendy’s social networking accounts, Amy Brown, is clearly a creative genius. Not only are Wendy’s clever with the way they advertise, but the sassiness she shows when calling out other competing brands goes a long way in attracting more customers. This is what we call initiating a “Brand War”.</p><br>
                                    <p>The world of marketing is fiercely competitive. While creative advertisement might be entertaining, comparative advertisement, one of the more aggressive forms of marketing, is a whole new ball game. We’ve all come across advertisements where brands take on one another, openly mocking the rival brand through print, digital or broadcast media. Apple vs. Microsoft, TOI vs. The Hindu, and obviously the cola wars (Coca Cola vs. Pepsi) are some famous Brand Wars, each one a not-so-friendly back and forth between competing organizations. Big brands rarely shy away from challenges from any of their counterparts. Their battleground? The world. Doubtless, such Wars give us a lot of interesting material to enjoy as well.</p><br>
                                 </p>
                                 <h2>Apple</h2>
                                 <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post7-3.jpg" alt="Fashion" style="height:500px;width:640px">
                                    </div>
                                </p>
                                 <p>
                                    This name needs no introduction perhaps. One of the most prominent technology companies, it designs, develops, and sells consumer electronics, computer software and online services, Apple Inc. is headquartered at Cupertino, California. Apple was founded by the evergreen innovators Steve Jobs, Steve Wozniak, and Ronald Wayne in April 1976 to develop and sell personal computer, though their focus gradually shifted to catering to a variety of consumer electronics.</p><br>
                                    <p>The story of its logo is an interesting concoction of rumours and facts. It is said to be a tribute to the genius Alan Turing, the man who revolutionized the world of computer technology, who succumbed to death after eating a cyanide laden apple. Some thought it to be an allusion to the biblical story of Adam and Eve, where apple represented knowledge, while others thought it to be a reference to falling of apple that led to Sir Isaac Newton discover the concept of gravity. Coincidentally the name of Apple’s handheld personal digital assistance was Newton, conforming to the theory created. The creator of the logo Rob Janoff however shoves off all of it and claims that it originated simply from the Job’s visit to an apple farm while on a fruitarian diet. The ‘bite’ was to ensure it looked an apple and not cherry, which is eh, sort of anticlimactic.</p><br>
                                    <p>The company faced name and logo trademark issues with the Apple Corps Ltd., a multimedia company started by the Beatles in 1967. Unfortunately for Steve Jobs and Steve Wozniak, they both were Beatles fans.</p><br>
                                 <h2>Pepsi</h2>
                                 <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post7-4.jpg" alt="Fashion" style="height:500px;width:640px">
                                    </div>
                                </p>
                                 <p>
                                    Pepsi is another American soft drink company whose logo engaged hearts of many, sharing a historic rivalry with Coca-Cola. It first came into the market with the name ‘Brad’s Drink’ and it happened to be the brainchild of Caleb Bradham. Initially the logo font funnily had a slight resemblance to that of Coca-Cola, but later evolved into the ever popular one which we are now accustomed to.</p><br>
                                    <p>The Pepsi logo features the trademark tricolor globe, which underwent a recent revamp. The Pepsi ball is tweaked to give a hint of smile, while the ‘e’ in Pepsi retains the wave pattern of original Pepsi globe. Apparently this change happened to be a bargain at several hundred million dollars (!). I personally feel it resembles a cricket ball, which is quite suggestive after its popular sponsorship in cricket leagues.</p>
                                 <br>
                                 <h2>Nike</h2>
                                 <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post7-5.jpg" alt="Fashion" style="height:500px;width:640px">
                                    </div>
                                </p>
                                 <p>Nike, massively dominating the field of sport, was founded on January 25, 1964, as Blue Ribbon Sports, by Bill Bowerman and Phil Knight. Headquartered at Oregon, it is the most valuable brand among the sports businesses. The name is a reference to Nike, the Greek goddess of victory.  The swoosh logo and the tagline ‘Just do it’ is highly recognizable throughout the world, with high profile sports persons and teams endorsing the brand. The logo was designed by Carolyn Davidson who was a graphic designer in the University where Phil was teaching accounting classes. The logo was meant to convey motion and Davidson was keen on refining the logo. But the deadlines demanded the logo to be created as soon as possible and that is how this simple swoosh became a revolutionary image in sports.</p><br>
                                 <p>She was paid 35 dollars at the time of inception of the company though she given the company stocks later, which valued a whooping 643k dollars.</p><br>
                                 <p>Brand logos have underwent a lot of change in style and convention. They are growing more creative, minimalist and innovative while conveying the message with ingenuity and sometimes humor. Logos will continue to evolve with the more and more enterprising minds competing in the world of startups. They will always be a source of intellectual intrigue for the anticipating eyes and rationalizing minds of brand analysts. While they remain being a simple memory for the people as consumers, rejoicing the pride of their favorite brands.</p><br>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-6" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-8" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
