<!DOCTYPE html>
<html lang="en">

 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Blogs, E-Cell IIT Madras">
    <!-- Document title -->
    <title>Lessons from the Pitch - Football | Blogs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo.png" type="image/gif" sizes="16x16">
</head>

<body>

    <!-- Body Inner -->
     <div class="body-inner">

        <!-- Header -->
        <header id="header" data-transparent="true" class="dark submenu-light">
            <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
                <div class="header-inner">
                    <div class="container">
                        <!--Logo-->
                        <div id="logo">
                            <a href="/home">
                                <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                            </a>
                        </div>
                        <!--End: Logo-->

                        <!--Navigation Responsive Trigger-->
                        <div class="mainmenu-trigger-container">
                            <div id="mainMenu-trigger">
                                <button class="lines-button x"> <span class="lines"></span> </button>
                            </div>
                        </div>
                        <!--end: Navigation Responsive Trigger-->

                        <!--Navigation-->
                        <div id="mainMenu" class="dark">
                            <div class="col-md-6 container">
                                <nav>
                                    <ul id="my-nav">
                                        <li><a href="/home" >HOME</a></li>
                                        <!-- <li><a href="/#slider" class="scroll-to">HOME</a></li> -->
                                        <li><a href="/blog" >BLOGS</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!--end: Navigation-->
                    </div>
                </div>
            </header>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" class="text-light background-overlay-dark" data-bg-parallax="/blogimg/post33-big.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="page-title">
                    <span class="post-meta-category"><a href="/">Out Of The Box</a></span>
                    <h1 style="font-family: Poppins,Helvetica, Arial, sans-serif; font-size: 44px; line-height: 56px; font-weight: 400; margin-bottom: 10px;">Lessons from the Pitch - Football | Blogs</h1>
                    <div class="small m-b-20">Sep 7, 2018  |  <a href="/#">By: Shreyas Shandilya.</a></div>
                    <!--<div class="align-center">
                        <a class="btn btn-xs btn-slide btn-facebook" href="/#">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-twitter" href="/#" data-width="100">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-instagram" href="/#" data-width="118">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-xs btn-slide btn-googleplus" href="/mailto:#" data-width="80">
                            <i class="far fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="single-post col-lg-10 center">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-item-description">
                                <p>
                                    The modern game of football is as much a game of the body as it of the mind. A meticulous strategy, a master plan, a well-knit and aligned team and a fervor to adapt and overcome obstacles forms the recipe for any world cup winning squad. This is ‘the’ tried and tested formulae. But wait! Is this not a gist of what one needs to actually start-up? Seminars, Networking meets, workshops, everywhere, everyone seems to be telling the budding entrepreneur that a meticulous strategy, a master plan, a well-knit and aligned team and a fervor to adapt and overcome obstacles, that is all you need to successfully start-up!
                                 </p>
                                 <br>
                                 <p>
                                    Indeed the game of football can teach a budding entrepreneur much more than a 4 course long program on entrepreneurship can. For long management have taken cues from sports, those that have the have probably set a lot corporations on the track of success that they are on now, and entrepreneurship is management, albeit in a very vague and dynamic form. So what are these lessons that can potentially change the outlook of an entrepreneur? Here’s a list of some of these lessons from the pitch.
                                 </p>
                                 <br>
                                 <p style="font-weight: bold;">Find your Community!</p>
                                 <p>
                                    Football fans are one of the most passionate sports enthusiasts, always charged for the next match, even if it’s second or even third one for the day. Such are the depths the game has penetrated the minds of people that a dedicated community of players, managers, teachers, scientists, developers, inventors and also the common football admirer have taken the game to every nook and corner they know. And this is a global phenomenon!
                                 </p>
                                 <br>
                                 <p>
                                    FIFA and its sponsors know this too very well. They understand that the sport that they represent has deep emotional connect with the populace from all runs. It is only when that they touch the people’s hearts, can they reach their cheque-books. AND BOY O BOY! THEY’VE DONE SUCH A GREAT JOB! Such has been the content for this community from advertisers; it’s inspiring, entertaining and lovable. Take a look at some of the best World Cup ad campaigns. These advertisement succeed at establishing an emotional and vivid connection with the psyche of the masses, something that many start-ups fail to do, most of the times a fatal mistake.
                                 </p>
                                 <br>
                                 <p>
                                    A lot of entrepreneurial speakers, mentors and motivators lay great emphasis on finding the ideal customer. What start-ups actually need to do is find themselves and build on an ideal community for the product or service they offer. The community that an entrepreneurs finds or forms not only includes the usual users of their product or service, but also its critics, competitors, complementary businesses, media, analysts and even the customers from competitors. The community is just a pond full of opportunities.
                                 </p>
                                 <br>
                                 <p>
                                    To succeed a start-up needs to win the community’s heart and to the win the community’s heart, the start-up needs to establish connections-emotional as well as commercial connections.
                                 </p>
                                 <br>
                                 <p>
                                    Start-ups need to dole out engaging content, more importantly they need to dole out content in the medium that their customers acquire most content from. And not just the content, start-ups also need to form and market their service and product in a manner appealing to not only their customers, but also their needs.
                                 </p>
                                 <br>
                                 <p>
                                    Moreover, the start-ups must leverage the existing ecosystem for their products. It is only through mutually beneficial and creative partnerships, that start-ups can leverage the support from their communities.
                                 </p>
                                 <br>
                                 <p style="font-weight: bold;">The Chink in the Armor</p>
                                 <p>
                                    World cup match ups are often brutal for the out-ranked and lesser known teams. But every once in a while the rise of a giant killer can be seen. The US beating England in 1950, North Korea trumping Italy in 1966, Cameroon winning against Argentina in 1990, and recently in 2014, Costa Rica topping a qualifying group, dumping out Italy and England; the World Cup history is littered with such unexpected and often upsetting triumphs.
                                 </p>
                                 <br>
                                 <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post33-2.jpg" alt="Fashion" style="height:500px;width:640px">
                                    </div>
                                </p>
                                 <p style="font-weight: bold; text-align: center;">The North Korean Team that beat Italy in 1966 World Cup</p>
                                 <br>
                                 <p>
                                    Although such victories are often a onetime debacle for the giants and short lived for the minnows, more than often they have a lot of lessons for the enquiring mind. A superficial analysis of all the times the minnows beat the big fish-it’s the chink in the armor of the big fish that the minnows exploit. Making the most of major player’s injuries, the coach’s hind sightedness, low team morale, team inconsistencies etc, the giant killers have always made-up for the lack of superior talent, technique and even physical superiority, through strategic thinking, out-of-the box tactics and a more nimble and passionate approach towards the game. And the result-a breathtaking wonder, sometimes bordering a miracle.
                                 </p>
                                 <br>
                                 <p>
                                    More than usual, start-ups find themselves in tight corners, competing against cash rich corporations. Very much like the minnows from the World Cup, they face an uphill task of going against a seemingly invincible foe; and like the minnows, start-ups too can and have taken down their formidable foe through strategic thinking, out-of-the box tactics and a more nimble and passionate approach towards business. Wikipedia outwitted Microsoft Encarta, Air Asia did it a decade ago and the list goes on.
                                 </p>
                                 <br>
                                 <p>
                                    Start-ups are perfectly positioned to operate as insurgents against their entrenched corporate competitors, because they’re more willing to take risks, challenge the conventions and are generally more alert and agile. Large companies, on the other hand expect to confront competitors. They anticipate and prepare. But more than often this preparation is neither sufficient nor efficient to confront nimble and fast-moving adversaries that refuse to challenge them on the battlefield of their own design. It is only by exploiting the chinks in the armor of giant corporations and playing by their own strengths can the start-ups succeed.
                                 </p>
                                 <br>
                                 <p style="font-weight: bold;">Filling in others’ boots</p>
                                 <p>
                                    The football field is dynamic and consistently changing and so are the situations off the field too. One cannot possibly predict an ill-timed injury or bad-refereeing. Teams are never constant on the football field and so is the ball. Often defenders are faced with the situations where they must attack and the nifty strikers find themselves responsible for defense. These are the situations where players like Sergio Ramos, Arturo Vidal and Fernando Hierro excel. It is their ability to deliver off of their respective specialization that sets these players apart. Vidal has even been remarked as “the best all-rounder in Italy, and perhaps the world” by the football tactician Michael Cox. This is a high accolade, and one he deserves.
                                 </p>
                                 <br>
                                 <p>
                                    The ability to fit into someone else’s shoes not only gives the player an edge over others but also makes the team play dynamic and easy-on the eye. Such a play, often called ‘total football’ has resulted into many of the most historic and breathtaking football matches in the history of World Cup; especially since 1974, when the teams of Germany and the Netherlands adopted such tactics. And the result? Germany topped the tournament that year followed by runner-ups the Netherlands.
                                 </p>
                                 <br>
                                 <p>
                                    Similarly start-ups, that often have to adopt an agile and nimble approach to business, lack in man-power and resources. A proper understanding of what role each member plays in the start-up is very important.
                                 </p>
                                 <br>
                                 <p>
                                    Resources and man-power are both very precious in a start-up and proper organization of both plays a major role in its success. What makes successful entrepreneurs different is their ability fill in other’s shoes. In a man-power starved environment, being able to perform more than one job is precious and needed. Division of portfolios and man-power based on portfolio doesn’t work for start-ups. It may be an organizational tool for big corporations, but it will never work for a start-up.
                                 </p>
                                 <br>
                                 <p>
                                    The very dynamic nature of entrepreneurship requires start-up teams that can perform tasks as a one single entity, irrespective of what the domain of the task might be. Every team member must be a part of every process and every decision. This leads to a cross domain sharing of insights and knowledge, leading to a product or service that not only appeals to the customers, but also their needs, i.e. one step closer to success.
                                 </p>
                                 <br>
                                 <p style="text-align:center;">
                                    <div class ="imggrid1" style = "display: grid ; grid-template-columns:1fr 10fr 1fr">
                                        <img style="grid-column: 2/3" src="/blogimg/post33-1.jpg" alt="Fashion" style="height:500px;width:640px">
                                    </div>
                                </p>
                                 <br>
                                 <p style="font-weight: bold; text-align: center;">Both Footballers and Entrepreneurs are, aren’t they?</p>

                            </div>
                            <div class="post-navigation">
                                <a href="/blog/post-34" class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span></div>
                                </a>
                                <a href="/blog" class="post-all">
                    <i class="icon-grid">                </i>
                </a>
                                <a href="/blog/post-32" class="post-next">
                                    <div class="post-next-title"><span>Next Post</span></div>
                                </a>
                            </div>

                                </div>
                            </div>


                    </div>
                    <!-- end: Post single item-->
                     <!-- Comments -->
                   <!-- <div class="comments" id="comments">
                        <div class="comment_number">
                            Comments <span>(2)</span>
                        </div>
                        <div class="comment-list">-->
                            <!-- Comment -->
                           <!-- <div class="comment" id="comment-1">
                                <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>-->
                                <!-- Comment -->
                               <!-- <div class="comment" id="comment-1-1">
                                    <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                                <!-- Comment -->
                                <!--<div class="comment" id="comment-1-2">
                                    <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                                    <div class="text">
                                        <h5 class="name">John Doe</h5>
                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                        <a class="comment-reply-link" href="/#">Reply</a>
                                        <div class="text_holder">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- end: Comment -->
                         <!--   </div>-->
                            <!-- end: Comment -->
                            <!-- Comment -->
                            <!--<div class="comment" id="comment-2">
                                <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                                <div class="text">
                                    <h5 class="name">John Doe</h5>
                                    <span class="comment_date">Posted at 15:32h, 06 December</span>
                                    <a class="comment-reply-link" href="/#">Reply</a>
                                    <div class="text_holder">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>-->
                            <!-- end: Comment -->
                       <!-- </div>
                    </div>-->
                    <!-- end: Comments -->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Puneet <i class="fab fa-whatsapp"></i> : +91
                                        8171700616</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Puneet <i class="fab fa-whatsapp"></i> : +91 8171700616</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

 <!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script>

</body>

</html>
