<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="E-Cell IIT Madras" />
    <meta name="description" content="Welcome to E-Cell, IIT Madras">
    <link rel="icon" type="image/png" href="/images/logos/e-cell_logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>E-Cell 2021 AMs</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro" rel="stylesheet"> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Andika' rel='stylesheet'> -->
    <link rel="stylesheet" type="text/css" href="plugins/slider-revolution/css/layers.css">
    <link href="/css/cap.css" rel="stylesheet" type="text/css">
</head>

<body>

    <!-- Body Inner -->

    <div class="body-inner">
        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true"
            class="header header-mini " style="background: transparent;">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                            <!-- <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-responsive logo-fixed">-->
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container ">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" class="scroll-to">HOME</a></li>
                                    <li class="dropdown">
                                        <a href="#">INITIATIVES<i class="text-right fa fa-angle-down"></i></a>
                                        <ul id="my-dropdown-nav" class="dropdown-menu">
                                            <li>
                                                <a target="blank" href="/event/team-up">Team Up</a>
                                            </li>
                                            <li>
                                                <a target="blank" href="/event/Startup_Series">Startup Series</a>
                                            </li>
                                            <li>
                                                <a target="blank" href="/event/Eupdates">E-UPDATES</a>
                                            </li>
                                            <li>
                                                <a target="blank" href="/event/Plandemic">PLANDEMIC</a>
                                            </li>
                                            <li>
                                                <a target="blank" href="/event/Ideathon">IDEATHON</a>
                                            </li>
                                            <li>
                                                <a target="blank"
                                                    href="/event/Entrepreneurship_Development_Drive">Entrepreneurship
                                                    Development Drive</a>
                                            </li>
                                            <li>
                                                <a target="blank" href="/cap">Campus Ambassador Program</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li><a href="/blog" target="_blank">BLOGS</a></li>
                                    <li><a href="/home/Team" class="scroll-to">TEAM</a></li>
                                    <li><a href="/home/Sponsors" class="scroll-to">PAST SPONSORS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->
        <div id="slider" class="inspiro-slider slider-fullscreen dots-dark arrows-dark dots-creative" data-fade="true"
            data-height-xs="360">
            <section class="text-center background-image p-t-200 p-b-200 text-light"
                style="background-image:url(/images/am/3.jpg);">
                 <div id="particles-dots" class="particles"></div>
                <div class="container">
                    <div data-animate="fadeInUp">
                        <h1 style="font-family:Andika;"><strong>E-Cell 2021 Associate Managers</strong></h1>
                    </div>

                    <section id="events" class="fullscreen" style="background: transparent;">

                        <div class="container">
                            <div class="row">
                                <div
                                    class="category-box col-lg-4 col-md-6 col-sm-12 col-12 p-l-10 p-r-10 p-b-20 text-center">
                                    <a href="#modalSubscriptionForm1" data-lightbox="inline">
                                        <div class="inner-cat-box shadow">
                                            <h1 class="h4 d-lg-block d-md-block d-block">Corporate Relations</h1>
                                            <i class="fa fa-expand"></i>
                                            <div class="cat-img">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="category-box col-lg-4 col-md-6 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                                    <a href="#modalSubscriptionForm2" data-lightbox="inline">
                                        <div class="inner-cat-box shadow text-center ">
                                            <h1 class="h4 d-lg-block d-md-block d-block">Development and Associations
                                            </h1>
                                            <i class="fa fa-expand"></i>
                                            <div class="cat-img">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="category-box col-lg-4 col-md-6 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                                    <div class="inner-cat-box shadow text-center ">
                                        <h1 class="h4 d-lg-block d-md-block d-block">Editorial and Research </br><i
                                                class="fa fa-expand"></i> </h1>
                                        <a href="#modalSubscriptionForm3" data-lightbox="inline"><i
                                                class="fa fa-expand"></i></a>
                                        <div class="cat-img">
                                        </div>
                                    </div>
                                </div>
                                <div class="category-box col-lg-4 col-md-6 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                                    <div class="inner-cat-box shadow text-center ">
                                        <h1 class="h4 d-lg-block d-md-block d-block">Entrepreneurship Club</br><i
                                                class="fa fa-expand"></i> </h1>
                                        <a href="#modalSubscriptionForm4" data-lightbox="inline"><i
                                                class="fa fa-expand"></i></a>
                                        <div class="cat-img">
                                        </div>
                                    </div>
                                </div>
                                <div class="category-box col-lg-4 col-md-6 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                                    <div class="inner-cat-box shadow text-center ">
                                        <h1 class="h4 d-lg-block d-md-block d-block">Events and Networking</br><i
                                                class="fa fa-expand"></i> </h1>
                                        <a href="#modalSubscriptionForm5" data-lightbox="inline"><i
                                                class="fa fa-expand"></i></a>
                                        <div class="cat-img">
                                        </div>
                                    </div>
                                </div>
                                <div class="category-box col-lg-4 col-md-6 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                                    <div class="inner-cat-box shadow text-center ">
                                        <h1 class="h4 d-lg-block d-md-block d-block">Finance and Operations</br><i
                                                class="fa fa-expand"></i> </h1>
                                        <a href="#modalSubscriptionForm6" data-lightbox="inline"><i
                                                class="fa fa-expand"></i></a>
                                        <div class="cat-img">
                                        </div>
                                    </div>
                                </div>
                                <div class="category-box col-lg-4 col-md-6 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                                    <div class="inner-cat-box shadow text-center ">
                                        <h1 class="h4 d-lg-block d-md-block d-block">Graphic Design and Media</br><i
                                                class="fa fa-expand"></i> </h1>
                                        <a href="#modalSubscriptionForm7" data-lightbox="inline"><i
                                                class="fa fa-expand"></i></a>
                                        <div class="cat-img">
                                        </div>
                                    </div>
                                </div>
                                <div class="category-box col-lg-4 col-md-6 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                                    <div class="inner-cat-box shadow text-center ">
                                        <h1 class="h4 d-lg-block d-md-block d-block">Marketing and Public
                                            Relations</br><i class="fa fa-expand"></i> </h1>
                                        <a href="#modalSubscriptionForm8" data-lightbox="inline"><i
                                                class="fa fa-expand"></i></a>
                                        <div class="cat-img">
                                        </div>
                                    </div>
                                </div>
                                <div class="category-box col-lg-4 col-md-6 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                                    <div class="inner-cat-box shadow text-center ">
                                        <h1 class="h4 d-lg-block d-md-block d-block">Startup Services</br><i
                                                class="fa fa-expand"></i> </h1>
                                        <a href="#modalSubscriptionForm9" data-lightbox="inline"><i
                                                class="fa fa-expand"></i></a>
                                        <div class="cat-img">
                                        </div>
                                    </div>
                                </div>
                                <div class="category-box col-lg-4 col-md-6 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                                    <div class="inner-cat-box shadow text-center ">
                                        <h1 class="h4 d-lg-block d-md-block d-block">Student Relations and
                                            Outreach</br><i class="fa fa-expand"></i> </h1>
                                        <a href="#modalSubscriptionForm10" data-lightbox="inline"><i
                                                class="fa fa-expand"></i></a>
                                        <div class="cat-img">
                                        </div>
                                    </div>
                                </div>
                                <div class="category-box col-lg-4 col-md-6 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                                    <div class="inner-cat-box shadow text-center ">
                                        <h1 class="h4 d-lg-block d-md-block d-block">Web and Mobile Development</br><i
                                                class="fa fa-expand"></i> </h1>
                                        <a href="#modalSubscriptionForm11" data-lightbox="inline"><i
                                                class="fa fa-expand"></i></a>
                                        <div class="cat-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>

                   <!-- Modal -->
                   <div id="modalSubscriptionForm1" class="modal  text-center ">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #001d55;">
                            <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Corporate Relations AMs</h4>
                        </div>
                         <!-- <div class="modal-body"> -->
                    <div class="row p-0">
                        <div class="col-8 text-left">
                            <h3>Abhiram Nair</h3>
                            <h3>Manavee Singh</h3>
                            <h3>Avani Malaviya</h3>
                            <h3>Saket Tungare</h3>
                        </div>
                        <div class="col-4">
                            <h3>CH20B003</h3>
                            <h3>NA20B034</h3>
                            <h3>AE20B034</h3>
                            <h3>CH20B092</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                        <a class="btn btn-light modal-close" href="#">Dismiss</a>
                    </div>
                </div>
                <!--end: Modal -->
                    <!-- Modal -->
                    <div id="modalSubscriptionForm2" class="modal  text-center ">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #001d55;">
                                <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Development and
                                    Association AMs</h4>
                            </div>
                             <!-- <div class="modal-body"> -->
                        <div class="row p-0">
                            <div class="col-8 text-left">
                                <h3>Laraib Hassan</h3>
                                <h3>Soham Sawde</h3>
                                <h3>Ishwarya Ganesh</h3>
                                <h3>Hareesh P Nair</h3>
                            </div>
                            <div class="col-4">
                                <h3>EE20B070</h3>
                                <h3>CE20B098</h3>
                                <h3>MM20B025</h3>
                                <h3>AE20B027</h3>
                            </div>
                        </div>
                        <!-- </div> -->
                            <a class="btn btn-light modal-close" href="#">Dismiss</a>
                        </div>
                    </div>
                    <!--end: Modal -->

                    <!-- Modal -->
                    <div id="modalSubscriptionForm3" class="modal  text-center ">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #001d55;">
                                <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Editorial and Research
                                    AMs</h4>
                            </div>
                                   <!-- <div class="modal-body"> -->
                        <div class="row p-0">
                            <div class="col-8 text-left">
                                <h3>R Nandhu Raj</h3>
                                <h3>Saumya Mathur</h3>
                                <h3>Aarya Bawishi </h3>
                                
                            </div>
                            <div class="col-4">
                                <h3>HS20H031</h3>
                                <h3>ME20B158</h3>
                                <h3>MM20B001 </h3>
                               
                            </div>
                        </div>
                        <!-- </div> -->
                            <a class="btn btn-light modal-close" href="#">Dismiss</a>
                        </div>
                    </div>
                    <!--end: Modal -->

                    <!-- Modal -->
                    <div id="modalSubscriptionForm4" class="modal  text-center ">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #001d55;">
                                <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Entrepreneurship Club AMs
                                </h4>
                            </div>
                             <!-- <div class="modal-body"> -->
                                <div class="row p-0">
                                    <div class="col-8 text-left">
                                        <h3>Dhruv Maroo</h3>
                                        <h3>Ishaan Agarwal</h3>
                                        <h3>Vaishnavichandra G</h3>
                                        <h3>Sidhharth Sharma</h3>
                                    </div>
                                    <div class="col-4">
                                        <h3>CS20B025</h3>
                                        <h3>EE20B046</h3>
                                        <h3>NA20B070</h3>
                                        <h3>NA20B064</h3>
                                    </div>
                                </div>
                                <!-- </div> -->
                            <a class="btn btn-light modal-close" href="#">Dismiss</a>
                        </div>
                    </div>
                    <!--end: Modal -->
                    <!-- Modal -->
                    <div id="modalSubscriptionForm5" class="modal  text-center ">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #001d55;">
                                <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Events and Networking AMs
                                </h4>
                            </div>
                                 <!-- <div class="modal-body"> -->
                        <div class="row p-0">
                            <div class="col-8 text-left">
                                <h3>Swapnali Dalal</h3>
                                <h3>Abhishek Gupta</h3>
                                <h3>Sneha Reddy Palreddy</h3>
                                <h3>Gregory Ben Boby</h3>
                                <h3>Ayush Jamdar</h3>
                            </div>
                            <div class="col-4">
                                <h3>EE20B135</h3>
                                <h3>CE20B001</h3>
                                <h3>EE20B129</h3>
                                <h3>CH20B045</h3>
                                <h3>EE20B018</h3>
                            </div>
                        </div>
                        <!-- </div> -->
                            <a class="btn btn-light modal-close" href="#">Dismiss</a>
                        </div>
                    </div>
                    <!--end: Modal -->
                    <!-- Modal -->
                    <div id="modalSubscriptionForm6" class="modal  text-center ">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #001d55;">
                                <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Finance and Operations
                                    AMs</h4>
                            </div>
                                 <!-- <div class="modal-body"> -->
                        <div class="row p-0">
                            <div class="col-8 text-left">
                                <h3>Prakhar Khandelwal</h3>
                                <h3>Aditya Kukreja</h3>
                                <h3>KV Ujwal</h3>
                               
                            </div>
                            <div class="col-4">
                                <h3>ME20B133</h3>
                                <h3>EE20B002</h3>
                                <h3>ME20B194</h3>
                               
                            </div>
                        </div>
                        <!-- </div> -->
                            <a class="btn btn-light modal-close" href="#">Dismiss</a>
                        </div>
                    </div>
                    <!--end: Modal -->
                    <!-- Modal -->
                    <div id="modalSubscriptionForm7" class="modal  text-center ">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #001d55;">
                                <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Graphic Design and Media
                                    AMs</h4>
                            </div>
                                <!-- <div class="modal-body"> -->
                        <div class="row p-0">
                            <div class="col-8 text-left">
                                <h3>Aarohee Vora</h3>
                                <h3>Anubhav Prakash</h3>
                                <h3>Alpha</h3>
                                <h3>Abheshek Kamble</h3>
                                <h3>Amar Muhammed</h3>
                            </div>
                            <div class="col-4">
                                <h3>BS20B002</h3>
                                <h3>PH20B003</h3>
                                <h3>ME20B021</h3>
                                <h3>ME20B005</h3>
                                <h3>ME20B022</h3>
                            </div>
                        </div>
                        <!-- </div> -->
                            <a class="btn btn-light modal-close" href="#">Dismiss</a>
                        </div>
                    </div>
                    <!--end: Modal -->
                    <!-- Modal -->
                    <div id="modalSubscriptionForm8" class="modal  text-center ">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #001d55;">
                                <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Marketing and Public
                                    Relations AMs</h4>
                            </div>
                                 <!-- <div class="modal-body"> -->
                        <div class="row p-0">
                            <div class="col-8 text-left">
                                <h3>Aniruddha S</h3>
                                <h3>Guneet Singh Khalsa</h3>
                                <h3>Shreya Rajesh</h3>
                                <h3>Shrid Suresh</h3>
                            </div>
                            <div class="col-4">
                                <h3>EE20B010</h3>
                                <h3>ED20B022</h3>
                                <h3>MM20B057</h3>
                                <h3>ME20B162</h3>
                            </div>
                        </div>
                        <!-- </div> -->
                            <a class="btn btn-light modal-close" href="#">Dismiss</a>
                        </div>
                    </div>
                    <!--end: Modal -->
                    <!-- Modal -->
                    <div id="modalSubscriptionForm9" class="modal  text-center ">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #001d55;">
                                <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Startup Services AMs</h4>
                            </div>
                                <!-- <div class="modal-body"> -->
                        <div class="row p-0">
                            <div class="col-8 text-left">
                                <h3>Prakhar Agrawal</h3>
                                <h3>SURIYAVELU M S</h3>
                                <h3>Akshat Nagar</h3>
                                <h3>Shrey Shah</h3>
                            </div>
                            <div class="col-4">
                                <h3>EP20B028</h3>
                                <h3>EE20B133</h3>
                                <h3>AE20B009</h3>
                                <h3>EE20B126</h3>
                            </div>
                        </div>
                        <!-- </div> -->
                            <a class="btn btn-light modal-close" href="#">Dismiss</a>
                        </div>
                    </div>
                    <!--end: Modal -->
                    <!-- Modal -->
                    <div id="modalSubscriptionForm10" class="modal  text-center ">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #001d55;">
                                <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Student Relations and
                                    Outreach AMs</h4>
                            </div>
                                 <!-- <div class="modal-body"> -->
                        <div class="row p-0">
                            <div class="col-8 text-left">
                                <h3>Anchit Handa</h3>
                                <h3>Isha</h3>
                                <h3>Vatsal</h3>
                                <h3>Kommuri Sai Shree Lahari</h3>
                            </div>
                            <div class="col-4">
                                <h3>CH20B011</h3>
                                <h3>CH20B051</h3>
                                <h3>BS20B037</h3>
                                <h3>ED20B032</h3>
                            </div>
                        </div>
                        <!-- </div> -->
                            <a class="btn btn-light modal-close" href="#">Dismiss</a>
                        </div>
                    </div>
                    <!--end: Modal -->
                    <!-- Modal -->
                    <div id="modalSubscriptionForm11" class="modal  text-center ">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #001d55;">
                                <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Web and Mobile
                                    Development AMs</h4>
                            </div>
                                 <!-- <div class="modal-body"> -->
                        <div class="row p-0">
                            <div class="col-8 text-left">
                                <h3>Shriya Shukla</h3>
                                <h3>Madhav V Rajeev</h3>
                                <h3>Abhinav Ramesh</h3>
                                <h3>Ishaan Jalan</h3>
                            </div>
                            <div class="col-4">
                                <h3>ME20B163</h3>
                                <h3>CE20B066</h3>
                                <h3>CH20B002</h3>
                                <h3>BE20B014</h3>
                            </div>
                        </div>
                        <!-- </div> -->
                            <a class="btn btn-light modal-close" href="#">Dismiss</a>
                        </div>
                    </div>
                    <!--end: Modal -->

                </div>
                <!-- end: Portfolio -->



            </section>
        </div>
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Harsh <i class="fab fa-whatsapp"></i> : +91
                                        9345105302</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Harsh <i class="fab fa-whatsapp"></i> : +91 9345105302</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- Scroll top -->

    <a id="scrollTop">
        <i class="fa fa-angle-up"></i><i class="fa fa-angle-double-up"></i></a>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.js"></script>

    <!--Template functions-->
    <script src="/js/functions.js"></script>

    <!-- Partical  -->
    <script src="/plugins/particles/particles.js" type="text/javascript"></script>
    <script src="/plugins/particles/particles-dots.js" type="text/javascript"></script>
    <!-- jQuery Validate plugin files-->
    <script src="/plugins/validate/validate.min.js"></script>
    <script src="/plugins/validate/valildate-rules.js"></script>

</body>

</html>
