<!DOCTYPE html>
<html lang="en">

<head>
       <!-- Global site tag (gtag.js) - Google Analytics -->
       <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
       <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
   
       gtag('config', 'G-EE48L2Q4HV');
       </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="E-Cell IIT Madras" />    
	<meta name="description" content="Welcome to E-Cell, IIT Madras">
    <link rel="icon" type="image/png" href="/images/logos/e-cell_logo.png">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>CAP | Campus Ambassador Programme</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- Layout Stylesheets & Fonts -->
    <link href="//fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet" type="text/css">
    <link href="/css/color-variations/brown-light.css" rel="stylesheet" type="text/css" media="screen" title="brown-light">
    <link href="/css/cap.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Andika' rel='stylesheet'>
    <link rel="icon" href="images/logos/e-cell_favicon.png" type="image/gif" sizes="16x16">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Andika' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="plugins/slider-revolution/css/layers.css">

</head>

<body>


    <!-- Body Inner -->
    <div class="body-inner">

         <!-- Header -->
         <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container ">
                    <!--Logo-->
                    <div id="logo" >
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo_white.png" class="p-t-10 p-b-10 logo-default">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-responsive logo-fixed">
                        </a>
                        
                    </div>
                    
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="menu-outline" >
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li ><a href="/home" class="scroll-to">HOME</a></li>
                                    <li class="dropdown">
                                        <a href="#">INITIATIVES<i class="text-right fa fa-angle-down"></i></a>
                                        <ul id="my-dropdown-nav" class="dropdown-menu">
                                            <li>
                                                <a target="_blank" noopener noreferer
                                                    href="/event/Eupdates">E-UPDATES</a>
                                            </li>
                                            <li>
                                                <a target="blank"
                                                    href="/event/team-up">Team Up</a>
                                            </li> 
                                            <li>
                                                <a target="_blank" noopener noreferer
                                                    href="/event/Plandemic">PLANDEMIC</a>
                                            </li>
                                            <li>
                                                <a target="_blank" noopener noreferer
                                                    href="/event/IDEATHON">IDEATHON</a>
                                            </li>  

                                            <li>
                                                <a target="_blank" noopener noreferer href="/event/Entrepreneurship_Development_Drive">Entrepreneurship
                                                    Development Drive</a>
                                            </li>
                                            <li>
                                                <a target="_blank" noopener noreferer href="/cap">Campus Ambassador Program</a>
                                            </li>
                                             
                                        </ul>
                                    </li>
                                    <li><a href="/blog" target="_blank" noopener noreferer>BLOGS</a></li>
                                    <li><a href="#contact" class="scroll-to">CONTACT</a></li>
                                    <li><a href="/home/Team" class="scroll-to">TEAM</a></li>
                                    <li><a href="/home/Sponsors" class="scroll-to">PAST SPONSORS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->
        <!-- Inspiro Slider -->
        <div id="slider" class="inspiro-slider slider-fullscreen dots-dark arrows-dark dots-creative" data-fade="true" data-height-xs="360">

            <!-- Slide 1 -->
            <!-- Parallax -->
        <section class="p-t-200 p-b-200" style="height: 150vh;" data-bg-parallax="/images/cap/CDS.jpg">
            <div class="bg-overlay color-overlay"></div>
            <div class="fullscreen-container">
                <div class="row ">
                    <div class="col-lg-9 center text-light , Cap-heading">
                        <h1  style="font-family:Andika; font-weight: bold;" data-animate="fadeInUp" data-animate-delay="100"><strong>Campus</strong></br><strong>Ambassador</strong> <br/><strong>Program</strong></h1></br>
                        <a class="btn btn-light btn-outline btn-rounded , scroll-to"data-animate="fadeInLeft" data-animate-delay="500">Registrations Closed</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Parallax -->
        <!-- end: Slide 1 -->
        <div class="shape-divider" data-style="9" style="z-index: 100;"></div>

           
        </div>
        <!-- END SECTION REVOLUTION SLIDER -->
        
        <!-- ABOUT Us -->
        <section id="easy-fast" class="text-dark p-b-40"  data-bg-parallax="/images/cap/2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="100">
                        <div >
                            <h2 class="text-medium" style="font-family:Andika;"><strong>About Us</strong></h2>
                        </div>
                    </div>

                    <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="400" style="font-size: medium;">The primary vision for launching the Campus Ambassador Programme is the
                        development of an Entrepreneurial culture among students of various
                        colleges. It is a Pan-India programme for onboarding student ambassadors to
                        publicize not only the events conducted by E-Cell IIT Madras, but will also
                        help them learn about entrepreneurship as a whole. The ambassadors will be
                        evenly distributed across whole country.
                        <br>
                        <br></div>

                    <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="800" style="font-size: medium;">We aim to develop future leaders with an entrepreneurial mindset, well
                        versed in various skills including leadership, `risk-analysis, public-speaking,
                        business development etc. With free seats in various events and lecture series
                        given by various founders and CEOs, CAP aims at an all-round development
                        as an individual.
                        <br>
                        <br>       
                </div>
              
        </section>
        </br>
        </br>
        <!-- end: ABOUT Us --> 

         <!-- Reason -->
           <!-- Text Boxes -->
           <section class="no-padding equalize" data-equalize-item=".text-box" style="background-color: white; ">
            <div class="fullscreen-container">
                <div class="heading-text heading-section text-center m-b-40 , reason-head " data-animate="fadeInUp">
                    <h2 class="text-medium" style="font-family:Andika"><strong>Reasons to become Campus Ambassador</strong></h2>
               </div>
         
            <div class="row" style="margin: 10px;" >
                <!--Box 1-->
                <div class="col-lg-3 , text-dark" data-animate="fadeInUp" data-animate-delay="400">
                    <div class="text-box , Box" style="background-color:rgb(238, 234, 234); box-shadow: 8px 5px 5px rgb(44, 43, 43); height: 300px;">
                     <a> <i class="fa fa-address-card"></i>
                            <h3>Certificate</h3>
                            <p>Certificate of appreciation from the E-Cell, IIT Madras after the successful tenure. This certificate will be a highlight in your résumé.You also get goodies. </p>
                           </a>
                    </div>
                </div>
                
           
                <!--End: Box 1-->
                <!--Box 2-->
                <div class="col-lg-3 , text-dark"  data-animate="fadeInDown" data-animate-delay="800">
                    <div class="text-box , Box" style="background-color:rgb(238, 234, 234); box-shadow: 8px 5px 5px rgb(36, 34, 34); height: 300px;">
                        <a > <i class="fa fa-thumbs-up"></i>
                            <h3>Recommendation </h3>
                            <p>Best CAs will be recommended as interns to the startups in touch with E-Cell, IIT Madras. And you get free entry to all events conducted by Ecell.</p>
                       </a>
                    </div>
                </div>
                <!--End: Box 2-->
                <!--Box 3-->
                <div class="col-lg-3 , text-dark "  data-animate="fadeInUp" data-animate-delay="1200">
                    <div class="text-box , Box" style="background-color:rgb(238, 234, 234); box-shadow: 8px 5px 5px rgb(36, 34, 34); height: 300px; ">
                        <a > <i class="fa fa-gift"></i>
                            <h3>E-Summit Passes</h3>
                            <p>Top 7 CAs will be given 5 extra passes for each in E-Summit, IIT Madras.</p>
                         </br>
                         
                        </a>
                    </div>
                </div>
                <!--End: Box 3-->
                <!--Box 4-->
                <div class="col-lg-3 , text-dark "  data-animate="fadeInDown" data-animate-delay="1600">
                    <div class="text-box , Box" style="background-color:rgb(238, 234, 234); box-shadow: 8px 5px 5px rgb(36, 34, 34); height: 300px;">
                       <a> <i class="fa fa-hands-helping"></i>
                        <h3>Guidance & Networking</h3>
                        <p>Working with one of the most dedicated teams at IITM, you would acquire not only skills but also knowledge and a chance to network with like minded people.</p>
                    </a>
                    </div>
                </div>
                <!--End: Box 4-->
            </div>
        </section>
        <!-- end: Text Boxes -->
     </br>
     </br>   
         <!-- end: -->
         <!-- REVIEWS -->
        <section id="section-reviews" class="p-t-150 p-b-100" data-bg-parallax="/images/cap/bg2.jpg">
            <div class="triangle-divider-top"></div>
            <div class="container">
                <div class="heading-text heading-section text-center m-b-40 text-light" data-animate="fadeInUp">
                    <h2 style="font-family:Andika"><strong>Incentives</strong></h2>
               </div>
                <!-- Testimonials -->
                <div class="container">

                    <div class="grid-layout grid-3-columns testimonial testimonial-box ," data- data-item="grid-item">
                    <div class="grid-item ">
                    
                    <div class="testimonial-item , box">
                       
                  <a href="https://flipr.ai/ " target="blank">  <img class="Img"  src="/images/cap/Flipr.jpg" class="img1" alt="" style="height: 200px; width: 200px;"></a>
                    <ul style="font-size: 16px; line-height: 30px; margin-bottom: 45px;">
                      <li> Excusive <b>mentoring sessions</b> </li>
                      <li><b>Paid internship</b>  opportunities</li>  
                    </ul>
                    <span>Mentoring Sponsor</span>
                    </div>
                    
                    </div>

                    <div class="grid-item">
                    
                    <div class="testimonial-item , box" >
                    <a href="https://www.simplilearn.com/ " target="blank"><img  class="Img" src="/images/cap/Sil.png" class="img2" alt="" style="height: 200px; width: 200px;"></a>
                        <ul style="font-size: 16px;line-height: 30px; ">
                            <li> Scholarship coupons worth upto <b>INR 15,000</b> </li>
                            <li>Insightful <b>learning sessions </b></li>  
                          </ul>
                    <span>Training Sponsor </span>
                    </div>
                    
                    </div>
                    <div class="grid-item ">
                    
                    <div class="testimonial-item , box" >
                        <a href="https://internshala.com/" target="blank">  <img  class="Img" src="/images/cap/IS.png" class="img3" alt="" style="height: 197px; width: 200px;"></a>
                            <ul style="font-size: 16px; line-height: 30px;">
                                <li> Additional <b>10% discount </b>coupons on the Internshala platforms</li>
                                <li>Interactive<b> webinars</b></li>  
                              </ul>
                    <span>Campus Outreach Sponsor</span>
                    </div>
                    
                    </div>
                    <div class="grid-item">
                    
                        <div class="testimonial-item , box" >
                            <a href="https://www.thesouledstore.com/ " target="blank">  <img class="Img" src="/images/cap/SS.png" class="img4" alt="" style="height: 230px; width: 200px;"></a>
                            <ul style="font-size: 16px; line-height: 30px;margin-bottom: 65px;">
                                <li> Upto <b> 20% discount</b> on The Souled Store merchandise</li>
                              </ul>
                        <span>Gifting Sponsor</span>
                       
                        </div>
                        
                        </div>
                        <div class="grid-item">
                        
                        <div class="testimonial-item , box">
                            <a href="https://urbantribe.in/" target="blank"> <img class="Img" src="/images/cap/UT.png" alt=""  class="img5" style="height: 220px; width: 200px;"> </a>
                                <ul style="font-size: 16px; line-height: 30px;margin-bottom: 75px;">
                                    <li>25+ bag packs</b> worth<b> INR 25,000+</b> up for grabs</li>
                                  </ul>
                        <span>Bagpack Sponsor </span>
                       
                        </div>
                        
                        </div> 
                        <div class="grid-item">
                    
                            <div class="testimonial-item , box" >
                                <a href="https://www.verzeo.in/ " target="blank"> <img class="Img" src="/images/cap/VR.png" alt="" class="img6" style="height: 120px; width: 200px; margin-top: 50px;"></a>
                                    <ul style="font-size: 16px; line-height: 30px; margin-bottom: 35px;">
                                        <li> Discount coupons worth </br><b>INR 15,000</b></li>
                                        <li><b>Fireside chat</b> with the <b>founder</b> of Verzeo</li> 
                                        <li><b>Internship</b>  opportunities</li>   
                                      </ul>
                            <span>Internship Sponsor</span>
                           
                            </div>
                            
                            </div>    
                        
                    </div>
                    </div>
                    
                <!-- end: Testimonials -->

            </div>
            <div class="triangle-divider-bottom"></div>
        </section>
        <!-- end: REVIEWS -->

          <!--  Timeline -->
        <section >
            <div class="heading-text heading-section text-center m-b-40" >
                <h2 style="font-family:Andika; font-weight: bold; color: black">Timeline</h2>
            </div>
            </br>
             </br>
            <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="main-timeline">
                      <div class="timeline">
                        <a  class="timeline-content">
                          <span class="timeline-year">I</span>
                          <div class="timeline-icon">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                          </div>
                          <div class="content, timeline1" >
                            <h3 class="title">Event Launch</h3>
                            <p class="description">
                                2nd October, 2020 
                            </p>
                          </div>
                        </a>
                      </div>
                      <div class="timeline">
                        <a  class="timeline-content">
                          <span class="timeline-year">II</span>
                          <div class="timeline-icon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                          </div>
                          <div class="content, timeline2"  >
                            <h3 class="title">Registrations</h3>
                            <p class="description">
                                2nd October, 2020 - 16th October, 2020 (11:59 PM)
                            </p>
                          </div>
                        </a>
                      </div>
                      <div class="timeline">
                        <a  class="timeline-content">
                          <span class="timeline-year">III</span>
                          <div class="timeline-icon">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                          </div>
                          <div class="content, timeline1" >
                            <h3 class="title">Result</h3>
                            <p class="description">
                                28th October, 2020
                            </p>
                          </div>
                        </a>
                      </div>
                      <div class="timeline">
                        <a  class="timeline-content">
                          <span class="timeline-year">IV</span>
                          <div class="timeline-icon">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                          </div>
                          <div class="content, timeline2"  >
                            <h3 class="title">First Introductory Season</h3>
                            <p class="description">
                                1st November, 2020
                            </p>
                          </div>
                        </a>
                      </div>
                      <div class="timeline">
                        <a  class="timeline-content">
                          <span class="timeline-year">V</span>
                          <div class="timeline-icon">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                          </div>
                          <div class="content, timeline1" >
                            <h3 class="title">CAP Conference</h3>
                            <p class="description">
                                March 2021
                            </p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>    
        </section>
         <!-- end: Timeline -->

          <!-- Our numbers -->
        <section class="p-t-100 p-b-100 , number"  data-bg-parallax="/images/cap/CDS.jpg">
            <div class="bg-overlay , color-overlay"></div>
            <div class="container , number" >
                <div class="heading-text heading-section text-center m-b-40" data-animate="fadeInUp" data-animate-delay="400" >
                    <h2  style="font-family:Andika; font-weight: bold; color:whitesmoke"> <strong> Last Year Records</strong> </h2>
                    </br>
                </br>
                <div class="row">
                    <div class="col-lg-6">
        
                        <div class="text-center text-light">
                
                            <div class="counter"> <span data-suffix="+ " data-speed="5000" data-refresh-interval="50" data-to="800" data-from="400" data-seperator="true"></span> </div>
                            <div class="seperator seperator-small"></div>
                             <h4 style="font-family:Andika; font-weight: bold;"><strong>NO. OF APPLICANTS</strong></h4></br></br>
                        </div>
                    </div>
               
                    <div class="col-lg-6">
        
                        <div class="text-center text-light">
                        
                            <div class="counter"> <span data-suffix="+ " data-speed="5000" data-refresh-interval="23" data-to="250" data-from="125" data-seperator="true"></span> </div>
                                    <div class="seperator seperator-small"></div>
                                    <h4 style="font-family:Andika; font-weight: bold;"> <strong>NO. OF CA HIRED</strong></h4>
                                </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
          
               
            
        </section>
      <!-- end: Our numbers -->
        </br>
        </br>

        <!-- Text Boxes -->
        <section class="no-padding equalize" data-equalize-item=".text-box">
            <div class="heading-text heading-section text-center m-b-40" > <h2  style="font-family:Andika; font-weight: bold; color: black"> <strong> Responsibilities</strong> </h2></div>
               
            <div class="row" style="margin: 10px;" >
                <!--Box 1-->
                <div class="col-lg-3">
                    <div class="text-box  text-dark , Box" style="box-shadow: 6px 3px 5px rgb(36, 34, 34); height: 300px"> 
                        <i class="fa fa-users "></i>
                            <h3>Publicity </h3>
                            <p>Handling the public image of E-Cell and spreading information of E-Cell through various activities .</p>
                        </a>
                    </div>
                </div>
                <!--End: Box 1-->
                <!--Box 2-->
                <div class="col-lg-3">
                    <div class="text-box  text-dark , Box" style="box-shadow: 6px 3px 5px rgb(36, 34, 34); height: 300px">
                       <i class="fas fa-chart-pie"></i>
                            <h3>Social Media </h3>
                            <p> Forwarding the emails & sharing E-posters on Facebook and Whats app. Being the face of E-Cell IIT Madras in your college. Updating photos on your Facebook profile.</p>
                        </a>
                    </div>
                </div>
                <!--End: Box 2-->
                <!--Box 3-->
                <div class="col-lg-3">
                    <div class="text-box text-dark , Box" style="box-shadow: 6px 3px 5px rgb(36, 34, 34); height: 300px">
                        <i class="fa fa-rocket"></i>
                            <h3>Promote</h3>
                            <p>Selecting interested and enthusiastic group of people from your college to attend various events conducted by E-Cell throughout the year to promote entrepreneurship.</p>
                        </a>
                    </div>
                </div>
                <!--End: Box 3-->
                <!--Box 4-->
                <div class="col-lg-3">
                    <div class="text-box text-dark , Box" style="box-shadow: 6px 3px 5px rgb(36, 34, 34); height: 300px;">
                       <i class="fa fa-trophy"></i>
                            <h3>Participate</h3>
                            <p>Cooperating with CAM (Campus Ambassador Manager) to achieve various targets set by the Head.</p>
                        </a>
                    </div>
                </div>
                <!--End: Box 4-->
            </div>
        </section>
        
        <!-- end: Text Boxes -->
     
         
           
    <!--FAQ-->
    <section style ="padding-top: 100px;">
        <div class = "container">
        <div class="heading-text heading-section text-center m-b-40 , FAQ-head " >
            <h2 style="font-family:Andika; font-weight: bold; color: black">Frequently Asked Questions</h2>
        </div>        
        <div class="accordion dark">
            <div class="ac-item">
                <h5 class="ac-title">What is the time period of the programme ?</h5>
                <div class="ac-content">
                    <p>We will be having it till the summit.</p>
                </div>
            </div>
            <div class="ac-item">
                <h5 class="ac-title"> What is the selection procedure ?</h5>
                <div class="ac-content">
                    <p>We will select them based on their enthusiasm and interest in the programme.</p>
                </div>
            </div>
            <div class="ac-item">
                <h5 class="ac-title">Will all the participants get a certificate ?</h5>
                <div class="ac-content">
                    <p>Campus Ambassadors who have performed well will get a certificate.</p>
                </div>
            </div>
            <div class="ac-item">
                <h5 class="ac-title">What all skills can be gained ?</h5>
                <div class="ac-content">
                    <p>Communication skills, Marketing skills, Skills of an Entrepreneur.</p>
                </div>
            </div>
            <div class="ac-item">
                <h5 class="ac-title">Should the campus ambassador conduct any events ?</h5>
                <div class="ac-content">
                    <p>It is not compulsory. If the candidate is interested, we will be helping him.</p>
                </div>
            </div>
        </div>
        </div>
        </section>
        <!-- end: FAQ-->    
        </div>
      </div>
    </section>   
     <!-- PRE-FOOTER -->
     <section id="contact" class="background-grey p-t-40 p-b-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="icon-box effect small clean">
                        <div class="icon">
                            <a href="#"><i class="fa fa-map-marker-alt"></i></a>
                        </div>
                        <h3>Our Location</h3>
                        <p><strong>IIT Madras:</strong>
                            <br> Indian Institute of Technology Madras
                            <br> IIT P.O. Chennai 600 036 
                            <br>Tamil Nadu, INDIA
                            <br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="icon-box effect small clean">
                        <div class="icon">
                            <a href="#"><i class="fa fa-phone"></i></a>
                        </div>
                        <h3>Contact</h3>
                        <p><strong>Phone:</strong>
                            <br> Easwar : (+91)98400 46978
                            <br> Jeet: (+91)94229 46472
                            
                        </p>
                    </div>
                </div>


                <div class="col-lg-4 m-b-30">
                    <h4 style="color:black">We are social</h4>
                    <div class="social-icons social-icons-light social-icons-colored-hover">
                        <ul>
                            <!-- <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li> -->
                            <li class="social-facebook"><a href="https://www.facebook.com/ECELLIITM/"><i
                                        class="fab fa-facebook-f"></i></a></li>
                            <!-- <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                     <li class="social-vimeo"><a href="#"><i class="fab fa-vimeo"></i></a></li> -->
                            <li class="social-youtube"><a
                                    href="https://www.youtube.com/channel/UCtPazFT8VSfAeREcgag4zMw"><i
                                        class="fab fa-youtube"></i></a></li>
                            <li class="social-instagram"><a href="https://www.instagram.com/ecell_iitm/?hl=en"><i
                                        class="fab fa-instagram"></i></a></li>
                            <!-- <li class="social-pinterest"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                     <li class="social-gplus"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                     <li class="social-dribbble"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                     <li class="social-skype"><a href="#"><i class="fab fa-skype"></i></a></li> -->
                            <li class="social-linkedin"><a
                                    href="https://www.linkedin.com/company/e-cell-iitm/?originalSubdomain=in"><i
                                        class="fab fa-linkedin"></i></a></li>
                            <!-- <li class="social-behance"><a href="#"><i class="fab fa-behance"></i></a></li>
                                     <li class="social-flickr"><a href="#"><i class="fab fa-flickr"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end: PRE-FOOTER -->
    <!-- Footer -->
    <footer id="footer">
           
        <div class="copyright-content p-t-20 p-b-20">
            <div class="container">
                <div class="row h5">
                    <div class="col-lg-6">
                        <div class="d-none d-xl-block d-lg-block">
                            &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                            <br>
                            All Rights Reserved.
                        </div>
                        <div class="d-block d-lg-none text-center">
                            &copy;Developed by
                            <br>
                            <strong>Web Operations | E-Cell | IIT Madras.</strong>
                            <br>
                            All Rights Reserved.
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-none d-xl-block d-lg-block">
                            <span>For issues related to the website, contact:</span>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">Harsh <i class="fab fa-whatsapp"></i> : +91
                                    9345105302</div>
                                
                            </div>
                        </div>
                        <div class="d-block d-lg-none text-center">
                            <br>
                            <span>For issues related to the website, contact:</span>
                            <div>Harsh <i class="fab fa-whatsapp"></i> : +91 9345105302</div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->


    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.js"></script>

    <!--Template functions-->
    <script src="/js/functions.js"></script>

    <!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/css/navigation.css">

    <script type="text/javascript" src="/plugins/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.video.min.js"></script>

   <!--Template functions-->

<script>
    function VerticalTimeline( element ) {
   this.element = element;
   this.blocks = this.element.getElementsByClassName("cd-timeline__block");
   this.images = this.element.getElementsByClassName("cd-timeline__img");
   this.contents = this.element.getElementsByClassName("cd-timeline__content");
   // ..
};

VerticalTimeline.prototype.showBlocks = function() {
   var self = this;
   for( var i = 0; i < this.blocks.length; i++) {
      (function(i){
         if( self.contents[i].classList.contains("cd-timeline__content--hidden") && self.blocks[i].getBoundingClientRect().top <= window.innerHeight*self.offset ) {
            // add bounce-in animation
            self.images[i].classList.add("cd-timeline__img--bounce-in");
            self.contents[i].classList.add("cd-timeline__content--bounce-in");
            self.images[i].classList.remove("cd-timeline__img--hidden");
            self.contents[i].classList.remove("cd-timeline__content--hidden");
         }
      })(i);
   }
};
</script>

</body>

</html>
