<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-EE48L2Q4HV');
    </script>
    <!-- Primary Meta Tags -->
    <title>E-21 | E-Cell IITM</title>
    <meta name="title" content="E-21 | E-Cell IITM">
    <meta name="description"
        content="E-21 | E-Cell IITM | Innovation sparks learning. E-21 envisions building a strong foundation of innovation, entrepreneurship, and 21st-century skills like problem-solving, critical thinking, creativity, etc among young minds of the nation.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="Landing Page">
    <meta property="og:url" content="https://ecell.iitm.ac.in/event/e21">
    <meta property="og:title" content="E-21 | E-Cell IITM">
    <meta property="og:description"
        content="E-21 | E-Cell IITM | Innovation sparks learning. E-21 envisions building a strong foundation of innovation, entrepreneurship, and 21st-century skills like problem-solving, critical thinking, creativity, etc among young minds of the nation.">
    <meta property="og:image" content="/images/e21/logo.webp">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="E-21 | E-Cell IITM">
    <meta property="twitter:description"
        content="E-21 | E-Cell IITM | Innovation sparks learning. E-21 envisions building a strong foundation of innovation, entrepreneurship, and 21st-century skills like problem-solving, critical thinking, creativity, etc among young minds of the nation.">
    <meta property="twitter:image" content="/images/e21/logo.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations, Entrepreneurship Cell, IIT Madras" />
    <link rel="icon" type="image/png" href="/images/logos/e-cell_favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/e21.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <header id="header" data-transparent="true" data-fullwidth="true">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="https://ecell.iitm.ac.in">
                            <img class="logo-default" src="/images/logos/e-cell_logo_wo_captions.png" alt="E-Cell-Logo">
                            <img class="logo-fixed" src="/images/e21/logo.webp">
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="col-md-6 container">
                            <nav>
                                <ul>
                                    <li class="current"><a href="/home" class="scroll-to">HOME</a></li>
                                    <li class="dropdown">
                                        <a href="#">
                                            INITIATIVES
                                            <i class="text-right fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a target="_blank" noopener noreferer href="/event/Eupdates">
                                                    E-UPDATES
                                                </a>
                                            </li>

                                            <li>
                                                <a target="_blank" noopener noreferer href="/event/Plandemic">
                                                    PLANDEMIC
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" noopener noreferer href="/event/IDEATHON">
                                                    IDEATHON
                                                </a>
                                            </li>

                                            <li>
                                                <a target="_blank" noopener noreferer
                                                    href="/event/Entrepreneurship_Development_Drive">
                                                    Entrepreneurship Development Drive
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" noopener noreferer href="/cap">
                                                    Campus Ambassador Program
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/blog" target="_blank" noopener noreferer>BLOGS</a></li>
                                    <li><a href="#contact" class="scroll-to">CONTACT</a></li>
                                    <li><a href="/home/Team" class="scroll-to">TEAM</a></li>
                                    <li><a href="/home/Sponsors" class="scroll-to">PAST SPONSORS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->
        <!-- About E-21 -->
        <section class="fullscreen background-dark p-t-0" data-bg-image="/images/e21/bg.webp">
            <div class="container m-t-0">
                <div class="bg-overlay" data-style="1" style="opacity: 0.7;"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="heading-text">
                                <img src="/images/e21/logo.webp" alt="E-21 Logo" style="width: 100%;">
                                <h4 style="white-space: nowrap;" class="display-1">Innovation Sparks Learning.</h4>
                            </div>
                            <div class="line m-t-20 m-b-20"></div>
                            <div class="row">
                                <div class="col-6 m-b-20">
                                    <a href="https://ecell.iitm.ac.in/e21/register" target="_blank"
                                        rel="noreferrer noopener">
                                        <button type="button"
                                            style="background-color: #FF6D33 !important; border-color: #FF6D33 !important;"
                                            class="btn btn-lg btn-info text-uppercase btn-block btn-reveal">
                                            <span>Register</span>
                                            <i class="icon-external-link"></i>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-6 m-b-20">
                                    <a href="https://ecell.iitm.ac.in/e21/login" target="_blank"
                                        rel="noreferrer noopener">
                                        <button type="button"
                                            style="background-color: #FF6D33 !important; border-color: #FF6D33 !important;"
                                            class="btn btn-lg btn-info text-uppercase btn-block btn-reveal">
                                            <span>Log In</span>
                                            <i class="icon-external-link"></i>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-12 p-l-0 p-r-0">
                                    <div class="countdown medium" data-countdown="2021/01/07 23:59:59"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-none d-md-block col-lg-6 offset-1">
                            <img src="/images/e21/stock.png" alt="" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="type-1 shape-divider" data-style="10"></div> -->
        </section>
        <!--end: About E-21 -->
        <!-- About us -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 m-b-60">
                        <div class="heading-text heading-line">
                            <h4>What is E-21?</h4>
                        </div>
                        <!-- <h2>Set your goals high, and don't stop till you get there.</h2> -->
                        <p class="lead">
                            Our world is changing rapidly and we are voyaging steadily towards a generation equipped
                            with more technical knowledge and advancement. The future belongs to the innovators and
                            leaders.
                        </p>
                        <p class="lead">
                            E-21 ingrains 21st-century skills and activates students’ entrepreneurial mindset
                            while they learn the fundamentals of entrepreneurship and create and pitch original business
                            plans.
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <div class="heading-text heading-line">
                            <h4>Our Vision</h4>
                        </div>
                        <p class="lead">
                            Young students have the inevitable power of boundless imagination. Encouraging them to
                            question and not to be afraid to take risks is one of the many factors that India needs to
                            establish a healthy startup ecosystem.
                        </p>
                        <p class="lead">
                            E-21 envisions building a strong foundation of
                            innovation, entrepreneurship, and 21st-century skills like problem-solving, critical
                            thinking, creativity, etc among young minds of the nation.
                        </p>
                    </div>
                </div>
                <div class="d-md-none d-block space"></div>
                <div class="heading-text heading-line text-center">
                    <h4>Why participate?</h4>
                </div>

                <div class="row m-t-50 lead">
                    <div class="col-6 col-md-4 text-center">
                        <div class="icon-box effect large light center">
                            <div class="icon">
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                            </div>
                            <h4 class="font-weight-300">Prizes worth 50k</h4>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 text-center">
                        <div class="icon-box effect large light center">
                            <div class="icon">
                                <i class="fa fa-chalkboard-teacher" aria-hidden="true"></i>
                            </div>
                            <h4 class="font-weight-300">Mentoring opportunities</h4>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="icon-box effect large light center">
                            <div class="icon">
                                <i class="fa fa-lightbulb" aria-hidden="true"></i>
                            </div>
                            <h4 class="font-weight-300">Opportunity to develop <br> 21st-century skills</h4>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="icon-box effect large light center">
                            <div class="icon">
                                <i class="fa fa-handshake" aria-hidden="true"></i>
                            </div>
                            <h4 class="font-weight-300">Meet entrepreneurs during E-Summit 2021</h4>
                        </div>
                    </div>
                    <div class="d-md-none col-1"></div>
                    <div class="col-12 col-md-4">
                        <div class="icon-box effect large light center">
                            <div class="icon">
                                <i class="fa fa-user-tie" aria-hidden="true"></i>
                            </div>
                            <h4 class="font-weight-300">Learn entrepreneurship from the experts</h4>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 text-center">
                        <div class="icon-box effect large light center">
                            <div class="icon">
                                <i class="fa fa-chalkboard-teacher" aria-hidden="true"></i>
                            </div>
                            <div class="accordion">
                                <div class="ac-item">

                                    <h1 class="ac-title font-weight-300" style="font-size: 24px;">Enhance practical
                                        learning with access to
                                        ScholAR's
                                        platform</h1>
                                    <p class="lead ac-content">
                                        <a href="https://scholarlab.in">Scholarlab.in</a> is an immersive and
                                        interactive
                                        platform built
                                        to significantly aid the
                                        learning process of High Schoolers and to engender digital transformation in
                                        education.
                                        The first 50 registrants for E-21 get access to the ScholAR platform for a
                                        duration
                                        of
                                        two months, priced at INR.1000 and the winners of the olympiad will get annual
                                        access to
                                        the platform worth INR. 4000 along with other exclusive benefits.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="type-1 shape-divider" data-style="10"></div>
            <div class="space"></div>
        </section>
        <!-- end: About us -->
        <!-- How To Participate -->
        <section class="background-dark text-center" style="background-color: #f1f8f4!important">
            <div class="container">
                <div class="heading-text heading-line text-center">
                    <h4>
                        How to participate?
                    </h4>
                </div>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-4">
                        <i class="fa fa-user-plus fa-4x"></i>
                        <h3>Round 1</h3>
                        <p class="lead">
                            <a href="https://ecell.iitm.ac.in/e21/register">Register here</a> for National Innovation
                            and Entrepreneurship Olympiad
                            (NIEO).
                        </p>
                        <a href="https://drive.google.com/drive/folders/1bx0dx89BpIwO8nXODmSsRIs_nC2zHlMs"
                            class="btn btn-light" style="color: #222222 !important;">
                            <i class="fa fa-download" style="color: #222222 !important;"></i>
                            Download Brochure
                        </a>
                    </div>
                    <div class="d-md-none space"></div>
                    <div class="col-md-4">
                        <i class="fa fa-rocket fa-4x"></i>
                        <h3>Round 2</h3>
                        <p class="lead">
                            Shortlisted students will get to participate in E-21 Webinars and Masterclasses covering
                            Basics of Entrepreneurship
                        </p>
                    </div>
                    <div class="d-md-none space"></div>
                    <div class="col-md-4">
                        <i class="fa fa-trophy fa-4x"></i>
                        <h3>Finale</h3>
                        <p class="lead">
                            Finalists will be presenting their start-up pitch decks at E-Summit 2021 in front of a panel
                            of judges.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: How To Participate -->
        <!-- Timeline -->
        <section id="timeline">
            <div class="shape-divider type-1" data-style="10" data-flip-vertical="true" data-position="top"></div>
            <div class="space"></div>
            <!-- <div class="space"></div> -->
            <div class="container">
                <div class="heading-text heading-line text-center">
                    <h4 class="text-center">Timeline</h4>
                </div>
                <ul class="timeline accordion accordion-flat">
                    <li class="timeline-item ac-item p-l-0 m-t-0 m-b-0">
                        <div class="timeline-icon">
                            <div class="timeline-icon">
                                <i class="fa fa-book-open"></i>
                            </div>
                        </div>
                        <div class="ac-title">
                            <h4>National Innovation and Entrepreneurship Olympiad (NIEO)</h4>
                            <div class="timeline-item-date">17 Jan 2021</div>
                        </div>
                        <p class="lead font-weight-400 ac-content">E-Cell IIT Madras’s NIEO is a nationwide competitive
                            event aimed
                            to discover the entrepreneur
                            hidden inside you. NIEO will test your Entrepreneurial personality right from the basics of
                            Entrepreneurship to the critical leadership skills and decision-making tactics required to
                            lead!
                            Selected Peeps will get to participate in the Much-awaited IIT Madras E-21 event.
                        </p>
                    </li>

                    <li class="timeline-item m-t-0">
                        <div class="timeline-icon">
                            <div class="timeline-icon">
                                <i class="fa fa-rocket"></i>
                            </div>
                        </div>
                        <h4>Results and Announcement of Selected Teams</h4>
                        <div class="timeline-item-date">23 Jan 2021</div>
                    </li>

                    <li class="timeline-item ac-item m-b-0 m-t-0 p-l-0">
                        <div class="timeline-icon">
                            <div class="timeline-icon">
                                <i class="fa fa-lightbulb"></i>
                            </div>
                        </div>
                        <div class="ac-title">
                            <h4>Webinar: Developing an entrepreneurial mindset</h4>
                            <div class="timeline-item-date">31 Jan 2021</div>
                        </div>
                        <p class="lead font-weight-400 ac-content">The workshop will help build up a problem-solving
                            attitude among students. The session will primarily focus on Innovation, Creative Thinking,
                            Entrepreneurship and Problem-Solving skills. This will be followed by an activity to
                            identify problems that participants and the people around them are facing and the solution
                            they propose to overcome those problems.</p>
                    </li>
                    <li class="timeline-item ac-item m-b-0 m-t-0 p-l-0">
                        <div class="timeline-icon">
                            <div class="timeline-icon">
                                <i class="fa fa-chalkboard-teacher"></i>
                            </div>
                        </div>
                        <div class="ac-title">
                            <h4>Masterclass: Customers and Business Model Masterclass</h4>
                            <div class="timeline-item-date">7 Feb 2021</div>
                        </div>
                        <p class="lead font-weight-400 ac-content">
                            The workshop will help students recognize the importance of understanding customers and
                            market needs in entrepreneurship.They will learn the different aspects of delivering value
                            to the customer and further be guided to make a value proposition for their selected
                            customer segments.
                            They will get to know the various kinds of business models and select the one appropriate
                            for them. The selected students will be guided to make a business model based on their value
                            proposition. Best submissions from this round will qualify for the finale which will be held
                            during E-Summit 2021.
                        </p>
                    </li>
                    <li class="timeline-item m-t-0">
                        <div class="timeline-icon">
                            <div class="timeline-icon">
                                <i class="fa fa-trophy"></i>
                            </div>
                        </div>
                        <h4>E-Summit 2021</h4>
                        <div class="timeline-item-date">To be announced!</div>
                    </li>
                </ul>
            </div>
            <div class="shape-divider type-2" data-style="2"></div>
        </section>
        <!-- end: Timeline -->

        <section style="background-color: #fdf2f7 !important;" class="p-t-30 p-b-30">
            <div class="container">
                <div class="heading-text heading-line text-center">
                    <h4>Sponsors</h4>
                </div>
                <div class="row justify-content-center">
                    <div class="col-7 col-md-3">
                        <a href="https://involveedu.com" target="_blank" noopener noreferer>
                            <img style="width: 100%;" src="/images/e21/involve.png" alt="Involve Logo" />
                        </a>
                        <h2 style="text-align: center;">Involve Learning Solutions Foundation</h2>
                        <h2 class="font-weight-300" style="text-align: center;">Knowledge Sponsor</h2>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="shape-divider type-2" data-style="10" data-flip-vertical="true" data-position="top"></div>
            <div class="heading-text heading-line text-center">
                <h4>FAQs</h4>
            </div>
            <div class="container m-t-50">
                <div class="accordion accordion-shadow">
                    <div class="ac-item">
                        <h5 class="ac-title font-weight-400"><i class="fa fa-question-circle"></i>Do we have to register
                            as a team?</h5>
                        <div class="ac-content">
                            <p>You may register individually as well, though we recommend you to register in a team. A
                                team can have minimum 1 and maximum 4 members. </p>
                        </div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title font-weight-400"><i class="fa fa-question-circle"></i>Can teams be formed
                            among students
                            from
                            different schools?</h5>
                        <div class="ac-content">
                            <p>Yes. Cross School teams are allowed.</p>
                        </div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title font-weight-400"><i class="fa fa-question-circle"></i>Do team members have
                            to be from the
                            same
                            class?</h5>
                        <div class="ac-content">
                            <p>All team members need not be from the same class, but they have to be from the same
                                category.
                                Students from class 6th to 8th fall under Junior Category whereas those from 9th to 12th
                                fall under
                                Senior Category.</p>
                        </div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title font-weight-400"><i class="fa fa-question-circle"></i>If we participate in
                            teams, is it
                            mandatory that all of us have to qualify in the olympiad stage to
                            participate in next rounds?</h5>
                        <div class="ac-content">
                            <p>All the team members can appear for NIEO. The best score from a team will be considered
                                for
                                shortlisting to the next round. Further rounds expect active participation of all team
                                members.</p>
                        </div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title font-weight-400"><i class="fa fa-question-circle"></i>How many members can
                            be there in a
                            team?
                        </h5>
                        <div class="ac-content">
                            <p>A team can have minimum 1 and maximum 4 members, all from the same category
                                (Junior/Senior).</p>
                        </div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title font-weight-400"><i class="fa fa-question-circle"></i>Is there any
                            registration fee?</h5>
                        <div class="ac-content">
                            <p>No.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact -->
        <section id="contact" class="p-t-60 p-b-20" style="background-color: #fff5e5 !important;">
            <div class="shape-divider" data-style="10" data-flip-vertical="true" data-position="top"></div>
            <div class="container" style="display:flex; flex-direction:column; align-items: center;">
                <h2 class="m-b-10">For queries, contact:</h2>
                <div>
                    <div class="row" style="align-items: center;">
                        <div class="col-2">
                            <i class="fa-2x icon-mail"></i>
                        </div>
                        <div class="col-10 text-left">
                            <strong>
                                events_ecell@smail.iitm.ac.in
                            </strong>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="align-items: center;">
                        <div class="col-2">
                            <i class="fa-2x icon-phone"></i>
                        </div>
                        <div class="col-10">
                            <strong>+91 7721836932</strong> Atish Gaykar
                            <br>
                            <strong>+91 8239754801</strong> Gaurav Jhawar
                            <br>
                            <strong>+91 9173008814</strong> Khushi Jaiswal
                        </div>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </section>
        <!-- end: Contact -->

        <!-- Footer -->
        <footer id="footer">
            <div class="copyright-content p-t-10 p-b-20">
                <hr>
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy; Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Abhijit
                                        <i class="fab fa-whatsapp"></i> : +91 8895219514</div>
                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Abhijit <i class="fab fa-whatsapp"></i> : +91 8895219514</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.js"></script>
    <!--Template functions-->
    <script src="/js/functions.js"></script>
</body>

</html>
