<!DOCTYPE html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-EE48L2Q4HV');
    </script>
    <title>
        E-Updates
    </title>
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/Mystyles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo_white.png" type="image/gif" sizes="16x16">
    <script src="/js/update.js">
    </script>

</head>

<body onload="loader()">
    <div class="body-inner">
        <!-- *Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header">
            <div class="header-inner">
                    <div class="container">
                        <!--Logo-->
                        <div id="logo">
                            <a href="/home">
                                <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default">
                            </a>
                        </div>
                    <!-- End: Logo -->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">

                                    <li><a href="/home" class="scroll-to ">HOME</a></li>

                                    <li><a href="/blog" target="_blank">BLOGS</a></li>
                                    <li class="dropdown">
                                        <a href="#">INITIATIVES<i class="text-right fa fa-angle-down"></i></a>
                                        <ul id="my-dropdown-nav" style="background:#fff"  class="dropdown-menu">
                                            <li>
                                                <a target="blank"
                                                    href="/event/team-up">Team Up</a>
                                            </li> 
                                            <li>
                                                <a target="blank"
                                                    href="/event/Startup_Series">Startup Series</a>
                                            </li>
                                          <li>
                                              <a target="blank"
                                                  href="/event/Plandemic">PLANDEMIC</a>
                                          </li>
                                          <li>
                                              <a target="blank"
                                                  href="/event/Ideathon">IDEATHON</a>
                                          </li>
                                          <li>
                                              <a target="blank" href="/event/Entrepreneurship_Development_Drive">Entrepreneurship
                                                  Development Drive</a>
                                          </li>
                                          <li>
                                            <a target="blank" href="/cap">Campus Ambassador Program</a>
                                        </li>
                                        </ul>
                                    </li>
                                    <li><a href="/home/Sponsors" target="_blank">PAST SPONSORS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->
        <div class="page">
            <!-- <div class="sidenav">
            <div class="sidenav-head"><a style="color: #ffffff;font-family: Arial, Helvetica, sans-serif;
                font-size: 19px;letter-spacing:1.3px">IMPORTANT LINKS</a> </div>
                <div class="sidenav-content"><a style="color: #ffffff;font-family: Arial, Helvetica, sans-serif;
                font-size: 17px;letter-spacing:1.3px" href="https://ecell.iitm.ac.in/">E-CELL IITM</a></div>
                <div class="sidenav-content"><a style="color: #ffffff;font-family: Arial, Helvetica, sans-serif;
                font-size: 17px;letter-spacing:1.3px" href="https://ecell.iitm.ac.in/CovidWebpage/PLANdemic.html">PLANDEMIC</a></div>
                <div class="sidenav-content"><a style="color: #ffffff;font-family: Arial, Helvetica, sans-serif;
                font-size: 17px;letter-spacing:1.3px" href="https://ecell.iitm.ac.in/blogs.html">BLOGS</a></div>

        </div> -->

            <div class="updates-container">
                <strong>
                    <h1>THIS WEEK</h1>
                </strong>
                <strong>
                    <h3 style="margin-top: 40px;">UNICORN NEWS</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_6/Update_1.jpg" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2" style="line-height:40px">India fourth in terms of start-up unicorn numbers</div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            India ranked fourth biggest in terms of start-up unicorns according to the Hurun Global Unicorn Index, 2020. Another 40 unicorns have Indian origin founders but are headquartered outside India. IIT's have emerged as the lead source of unicorn founders, with IIT Delhi being most preferred.</div>
                    </div>
                </div>
                <strong>
                    <h3 style="margin-top: 40px;">GOVERNMENT POLICY</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_6/Update_2.jpg" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2" style="line-height:50px">CII sets up centre for startups in Telangana</div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            Confederation of Indian Industry with support from the Telangana Government set up the Centre for Innovation, Entrepreneurship and Startups to connect CII members with startups for mutually beneficial partnerships. It will spur lab-to-market research, encourage agri-entrepreneurship and shared knowledge.</div>
                    </div>
                </div>
                <strong>
                    <h3 style="margin-top: 40px;">FUTURE OF ENTREPRENEURSHIP</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_6/Update_3.jpg" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2" style="line-height:50px">Health ID For Each Indian- National Digital Health Mission
                        </div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            PM Modi launched tech-based National Digital Health Mission, to improve efficiency and transparency of health sector in India, under which a health ID card shall be issued. This is predicted to bring a paradigm shift in the health-tech startup ecosystem and boost entrepreneur confidence.</div>
                    </div>
                </div>
                <strong>
                    <h3 style="margin-top: 40px;">ENTREPRENEURHSIP AND EDUCATION</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_6/Update_4.jpg" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2" style="line-height:50px">WhiteHat Jr and Byju's Deal of $300 M</div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            India’s most valued ed-tech firm BYJU’S announced that it has acquired Mumbai-based ed-tech start-up, WhiteHat Jr, coding startup with a user base as young as age 6.  in a $300-million cash deal.  Toppr, Vedantu and Coding Ninja have similarly added kid-oriented segments to their platform.</div>
                    </div>
                </div>
                <strong>
                    <h3 style="margin-top: 40px;">FUNDING GALORE</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_6/Update_5.jpg" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2" style="line-height:50px">IoT startup Probus Smart Things raises seed funding from Unicorn India Ventures</div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            Unicorn India Ventures invested an undisclosed amount into the seed round of New Delhi-based Probus Smart Things, an IoT based startup that provides electricity distribution utilities for grid automation. Probus claims to address grid distortions with efficient distribution and restoration.
                        </div>
                    </div>
                </div>
                <strong>
                    <h1 style="margin-top: 80px;">EARLIER WEEKS</h1>
                </strong>
                <strong>
                    <h3 style="margin-top: 40px;">FUNDING GALORE</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_5/Update_2.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Bolo Indya</div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            Gurugram-based regional language short-video platform Bolo Indya has raised $500K Series A funding from Eagle 10 Ventures and India Accelerator Group. It will use the funding to aggressively enhance its personalisation and recommendation engine, develop language evangelists and strengthen the team. A part of the fund will also be used to broaden and accelerate product development.                        </div>
                    </div>
                </div>
                <strong>
                    <h3 style="margin-top: 40px;">GOVERNMENT POLICY</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_5/Update_1.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Progressive electric policy</div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            Delhi CM Arvind Kejriwal announced the launch of ‘progressive’ electric vehicle policy, looks to have 25% electric vehicles on road by 2024, this will be an add on to Centre’s FAME-II scheme, where people can avail benefits under both these plans. This will now waive registration fee, road tax, provide incentive of upto Rs 1.5 Lacs for electric cars and Rs 30k for electric 2-wheelers, 3-wheelers and freight vehicles, and in addition to this the government will also be giving low-interest loans on electric commercial vehicles.
                        </div>
                    </div>
                </div>
                <strong>
                    <h3 style="margin-top: 40px;">UNICORN NEWS</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_5/Update_3.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Share chat's investors</div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            Microsoft could be one of the investors in ShareChat with $100 mn funding, existing investors are expected to join Microsoft in the round, which could see ShareChat becoming the latest startup in India’s unicorn club, Mint reports. ShareChat's last funding round was in August last year, when it raised $100 Mn in a Series D led by Twitter, with existing investors Shunwei Capital, Lightspeed Venture Partners, SAIF Capital, India Quotient and Morningside Venture Capital at a  valuation of $650 Mn.                        </div>
                    </div>
                </div>
                <strong>
                    <h3 style="margin-top: 40px;">FUTURE OF ENTREPRENEURSHIP</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_5/Update_4.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Social microfinance organisation</div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            The Indian government is planning to create a deposit-taking 'social microfinance organisation' to disburse loans of up to Rs 10 lakh to women and small entrepreneurs. India already has dedicated micro-lenders serving in various parts of the country, and some of them have already graduated to work as small finance banks, which gives them access to deposits. It can be noted that deposit acceptance is treaded with a lot of caution by policymakers. Explaining the procedure for such a system, the minister said, "You (the financing entity) can register and you will get a license from RBI, and you can accept deposits and giving loans to the small people. This type of mechanism we are developing for social micro and small institutions with a very simple procedure, without red-tapism."

                        </div>
                </div>
                </div>
                <strong>
                    <h3 style="margin-top: 40px;">ENTREPRENEURSHIP AND EDUCATION</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_5/Update_5.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Digital classroom</div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            Google has partnered with Maharashtra Govt to provide its digital classroom services to tens of millions of students and teachers, Google said, as it makes a further education push in the world’s second largest internet market.
                            Google said that it had partnered with Govt of Maharashtra that will see 23 million students and teachers access Google’s education offering at no charge, More than 150,000 teachers signed up for the program in less than 48 hours. Varsha Gaikwad, the education minister of Maharashtra, said the partnership with Google will help her department roll out tech solutions to students in about 190,000 schools. “Our goal is to make Maharashtra the most progressive state in education by making effective use of online resources, platforms, bandwidth and technology, using the power of the internet to reach out to the masses and bridge the gap in education,” she said.

                        </div>
                </div>
                </div>
               
                <strong>
                    <h3 style="margin-top: 40px;">GOVERNMENT POLICY</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_4/Update_1.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Rozgar Bazar</div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            Delhi govt launches Rozgar bazaar portal for job seekers

                            The Delhi government has created a platform named “Rozgar Bazaar” launched by Chief Minister
                            Arvind Kejriwal, for those who seek employers and those who seek employees to come together.
                            The program is aimed to revive the capital’s economy, which is severely affected by the
                            pandemic. The website had a massive response in the first 6 hours itself, with 51403
                            employees and 1071 employers registering.
                        </div>
                    </div>

                </div>
                <strong>
                    <h3 style="margin-top: 40px;">GOVERNMENT ANNOUNCEMENT</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_4/Update_2.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Union minister for agriculture. </div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            We need to attract the youth to agriculture and rejuvenate the sector: Union minister
                            for agriculture.

                            The union minister for agriculture Narendra Singh Tomar has announced that the government is
                            going to fund 112 startups with a sum of 11.85 crores in this financial year. The funds will
                            be divided amongst the startups selected by different incubators in the area of
                            agro-processing, food technology, and value addition. He emphasized on increasing private
                            investment in agriculture. Also, He stressed the need to make agriculture competitive,
                            provide handholding to agriculture-based activities, and adopt new technology at the
                            earliest.

                        </div>
                    </div>

                </div>
                <strong>
                    <h3 style="margin-top: 40px;">FUNDING GALORE</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_4/Update_3.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Series D Funding </div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            Topper raises Rs 350 crore in series D from foundation holdings.

                            From series D funding led by global investment firm ‘foundation holdings’, “TOPPER,” an
                            afterschool AI-based learning app for K12 students raised Rs 350 crore. With this addition,
                            the cumulative funding amounts of Topper’s will be Rs700 crore. This fund will be used to
                            boost its adaptive learning platform with over 1.3 crore students and to launch new
                            platforms for coding and schools.

                        </div>
                    </div>
                </div>
                <strong>
                    <h3 style="margin-top: 40px;">ACCELERATOR PROGRAM</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_4/Update_4.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Zone Startups India </div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            Zone Startups India in Partnership with Startup India Launches Online Incubation to Promote
                            Women Entrepreneurs (VIP-WE) in India.

                            VIP-WE is an online program designed to support early-stage tech startups founded by women
                            in a ten-week duration. The program guides 20 technology based startups who are preparing to
                            build market traction for their products/services. Besides, they provide an individual
                            mentor to each one, and it is a free of cost program for all.


                        </div>
                    </div>
                </div>
                <strong>
                    <h3 style="margin-top: 40px;">MENTORING</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_4/Update_5.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">The Indus Entrepreneurs </div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            TiE Pune helped local entrepreneurs thrive through the pandemic

                            With expert panels, peer forums, and mentor connects The Indus Entrepreneurs helped the
                            local entrepreneurs from worrying about the survival and growth of their business during the
                            lockdown and pandemic. They conducted webinars with successful entrepreneurs who faced
                            crises and build a confidential email service for associate members to get one-on-one
                            mentoring and advice.
                        </div>
                    </div>
                </div>
                <strong>
                    <h3 style="margin-top: 40px;">PURCHASE TIME</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_4/Update_6.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Mobeewave</div>
                        <div class="updates-content-subtitle" id="subtitle1">
                            Apple purchased Mobeewave; a startup that lets smartphones accept payment using NFC

                            Apple purchased Mobeewave and hired the whole team for approximately $100 million. Mobeewave
                            provides a system that lets people tap a credit card or smartphone on another phone to
                            process a payment.is will enable the iPhone to be used as payment terminals with no
                            additional hardware required.

                        </div>
                    </div>
                </div>
                <strong>
                    <h3 style="margin-top: 40px;">STARTUPS VS COVID-19</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_3/Update_1.1.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Arvind Ltd</div>
                        <div class="updates-content-subtitle" id="subtitle1">Arvind Ltd is going to introduce anti-viral
                            viroblock textile technology for the first time in India under its brand intellifabrix.
                            Arvind has partnered with Swiss textile innovation firm HeiQ Materials AG in association
                            with Taiwanese specialty chemical major M/S Jintex Corporation to introduce the anti-virus
                            technology in India.
                        </div>
                    </div>

                </div>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_3/Update_1.2.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Welspun India Ltd</div>
                        <div class="updates-content-subtitle" id="subtitle1">Welspun India Ltd is at its early stage in
                            introducing a range of products under ‘Welspun Health’ to cater to consumers as well as
                            front line workers. The company is also making washable medical gowns and a variety of
                            disposable wipes. As a part of its wide range of offerings, the company will manufacture
                            250,000 masks per day, including three ply surgical mask, reusable mask and N95 respirator.
                        </div>
                    </div>

                </div>


                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_3/Update_1.3.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Wildcraft India</div>
                        <div class="updates-content-subtitle" id="subtitle1">Wildcraft India, an Indian born brand takes
                            their mission forward by entering the Personal Protective Gear (PPG) segment as a commitment
                            to serve the nation during this unprecedented crisis. Wildcraft recently launched a
                            versatile, functionally engineered, head to toe product line which included the tactical
                            gear category. Under the tactical gear category, Wildcraft has developed an innovative
                            90-liter technical rucksack, that has been designed as the gear of choice recently for
                            Indian Defense establishment. Wildcraft also developed a re-usable PPE coverall (Hz Series
                            of Hazmats)to assist the Ministry of Textiles.
                        </div>
                    </div>

                </div>
                <strong>
                    <h3 style="margin-top: 40px;">HEALTHY CAB SERVICES</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_3/Update_2.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">MakeMyTrip</div>
                        <div class="updates-content-subtitle" id="subtitle1">MakeMyTrip recently tied up with Meru to
                            provide ultra-sanitised cab services across the major airports in India. The company has
                            integrated the cab booking option into flight funnel to make it more convenient for the
                            passengers. The new cab service will be an extension to MakeMyTrip’s air travel experience
                            on a single platform – from booking flight tickets to contactless cab bookings. Some of the
                            safety procedures include ozone sanitization that helps control the spread of the virus and
                            bacteria inside the cab, Isopropyl Alcohol (IPA) sanitization of the cab’s exteriors,
                            temperature check of the driver-partner at the designated sanitization hubs at the airports.
                        </div>
                    </div>

                </div>
                <strong>
                    <h3 style="margin-top: 40px;">HELPING HANDS</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_3/Update_3.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Google</div>
                        <div class="updates-content-subtitle" id="subtitle1">Google is all set to work with ICMR( Indian
                            Council of Medical Research) and MyGov to help the locals find COVID-19 testing centers
                            through smartphones by providing a ‘testing’ tab on the user’s result page. The tech
                            behemoth has so far have integrated more than 700 testing labs on Google Search, Google
                            Assistant, and Google Maps spanning more than 300 cities, and it would continue to work with
                            ICMR as it surfaces more labs across the country. This experience is available in English
                            and in eight Indian languages
                        </div>
                    </div>

                </div>
                <strong>
                    <h3 style="margin-top: 40px;">FUNDING GALORE</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_3/Update_4.1.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Microsoft venture fund</div>
                        <div class="updates-content-subtitle" id="subtitle1">Microsoft venture fund, M12, has set up an
                            office in Bengaluru to strengthen fundraising and partnership opportunities for Indian
                            growth-stage startups. M12 has already invested in Indian startups Innovaccer and FarEye.
                            The new office is a step forward in M12’s long-term commitment to the Indian startup
                            ecosystem. The deep technical and business talent from India’s world-class engineering
                            schools and major R&D centers are among the primary draws to the region.
                        </div>
                    </div>

                </div>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_3/Update_4.2.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Postman</div>
                        <div class="updates-content-subtitle" id="subtitle1">Software startup Postman is the latest to
                            join India’s unicorn club after it raised $150 million in a Series C round led by US-based
                            Insight Partners. Postman is targeted at coders, who create, test, and modify application
                            programme interface (APIs). It has an understandable and intuitive user interface and helps
                            test APIs without creating code for testing, which was the norm earlier.
                        </div>
                    </div>

                </div>
                <strong>
                    <h3 style="margin-top: 40px;">IIT MADRAS SCOOP</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_3/Update_5.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Doffing Unit</div>
                        <div class="updates-content-subtitle" id="subtitle1">The Civil Engineering Department of Indian
                            Institute of Technology Madras (IIT Madras) has collaborated with Chengalpattu Medical
                            College and Hospital (CMCH), Tamil Nadu to design and develop 'Doffing Unit' to enable
                            healthcare professionals to safely and effectively remove their Personal Protective
                            Equipment (PPE). 'Doffing' is the procedure for removal of PPE and 'donning' is the
                            procedure of assembling PPE on the healthcare providers. This project was undertaken with
                            financial support from corporates under Corporate Social Responsibility (CSR).
                        </div>
                    </div>

                </div>
                <strong>
                    <h3 style="margin-top: 40px;">FUNDING GALORE</h3>
                </strong>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_2/Update_1.1.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Atma Nirbhar Bharat Package</div>
                        <div class="updates-content-subtitle" id="subtitle1">Under the Atma Nirbhar Bharat Package,
                            funding support was announced for MSMEs to help them tide over the crisis. It includes
                            additional liquidity and funding support. It provides equity infusion through a Fund of
                            Funds, and a collateral-free automatic loans as an emergency credit line.
                            Start-ups will be able to avail the same by registering as an MSME via Udyog Bharat. The
                            definition of MSMEs was revised to include manufacturing and services companies with a
                            turnover of less than Rs. 100 crores.
                        </div>
                    </div>

                </div>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img">
                            <img src="/images/E-updates/Week_2/Update_1.2.png" alt="img1.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Euler Motors</div>
                        <div class="updates-content-subtitle" id="subtitle1">New Delhi based Euler Motors is an
                            automotive tech start-up that works on commercial electric vehicles. Euler makes electric
                            3-wheelers in a ‘mobility-as-a-service’ model and has rented out 200 prototypes to Big
                            Basket, Udaan, etc. e-commerce mediums for last-mile delivery. Euler has also installed 100+
                            charging infrastructure across Delhi-NCR.
                            The company secured 20 crore funding in the Series round led by Inventus Capital India. It
                            will be used for hiring, R&D, and launching vehicles while focusing on localizing supply
                            chains.
                        </div>
                    </div>

                </div>
                <strong>
                    <h3 style="margin-top: 40px;">STARTUPS VS COVID-19</h3>
                </strong>

                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img"><img src="/images/E-updates/Week_2/Update_2.1.png" alt="img2.1" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Melvano</div>
                        <div class="updates-content-subtitle" id="subtitle2">Melvano is an AI-driven learning start-up
                            that continues the proud IIT Madras tradition of not being available on the App Store. It
                            helps students prepare for competitive entrance exams by identifying their learning needs
                            and providing study material, questions, and daily tests.
                            The free model has 25 daily practice questions and 1 test, while even the Gold
                            subscription-based model with unlimited questions, tests, and personalized doubt
                            clarification charges Rs. 199 per month.
                            At a time when most of our favourite factories are reeling under the impact of the crisis,
                            Melvano cut an ambitious slice of the pie reporting 60,000 downloads in April, and twice the
                            number of questions attempted since lockdown began.
                        </div>
                    </div>
                </div>
                <div class="updates-content">
                    <div class="updates-content-image">
                        <div class="img"><img src="/images/E-updates/Week_2/Update_2.2.png" alt="img2.2" width="100%" />
                        </div>
                    </div>
                    <div class="updates-content-text">
                        <div class="updates-content-title" id="title2">Uttar Pradesh Government</div>
                        <div class="updates-content-subtitle" id="subtitle2">In a very welcome move to increase college
                            students’ coursework, the Uttar Pradesh government has released a statement that it will be
                            introducing a ‘Start-up’ course to encourage entrepreneurs in the state.
                            A program will be launched for one lakh Freshie to encourage them to set up their
                            enterprises in a paid internship worth Rs. 2500 per month. Finally, a course I might get an
                            S-Grade in.
                        </div>
                    </div>
                </div>
                <br>
                <!-- <strong><h1>Earlier Weeks</h1></strong>
            <div class="updates-content">
            <div class="updates-content-image">
                <div class="img">
                        <img src="/Images/Week_1/Update_1.1.png" alt="img1.1" width="100%" /><br><br>
                        <img src="/Images/Week_1/Update_1.2.png" alt="img1.1" width="100%" />
                    </div>
                </div>
                <div class="updates-content-text">
                    <div class="updates-content-title" id="title1" >Startups Vs COVID-19</div>
                    <div class="updates-content-subtitle" id="subtitle1">Bengaluru based online B2B marketplace <strong> Udaan </strong>, which achieved its Unicorn status in September 2018, laid off 3,000 people after COVID-19 shrunk its business .</div><br><br>
                    <div class="updates-content-subtitle" id="subtitle1">B2B logistics startup <strong>BlackBuck</strong> launches the Move India Initiative which aims to enable over five lakh fleet owners with more than 10 lakh trucks, to discover demand, get access to services, including FASTag, GPS, and fuel cards, and earn more.</div>
                </div>

            </div>
            <div class="updates-content">
                <div class="updates-content-image">
                    <div class="img"><img src="/Images/Week_1/Update_2.png" alt="img2" width="100%" /></div>
                </div>
                <div class="updates-content-text">
                    <div class="updates-content-title" id="title2">IITM Scoop</div>
                    <div class="updates-content-subtitle" id="subtitle2">IITM-incubated startup Muse Wearables develops a wrist-based tracker to detect symptoms of COVID-19. Priced at ₹3500, it is expected to hit the market by the end of June.
                        </div>
                </div>

            </div>
            <div class="updates-content">
                <div class="updates-content-image">
                    <div class="img">
                        <img src="/Images/Week_1/Update_3.png" alt="img1.1" width="100%" />
                    </div>
                </div>
                <div class="updates-content-text">
                    <div class="updates-content-title">Going Local</div>
                    <div class="updates-content-subtitle">Facebook and Instagram unveil Shops to turn business profiles into storefronts. Users will now be able to browse and buy products directly from a business’ Facebook page or Instagram profile.  </div>

                </div>

            </div>
            <div class="updates-content">
                <div class="updates-content-image">
                    <div class="img">
                        <img src="/Images/Week_1/Update_4.1.png" alt="img1.1" width="100%" /><br><br>
                        <img src="/Images/Week_1/Update_4.2.png" alt="img1.1" width="100%" />
                    </div>
                </div>
                <div class="updates-content-text">
                    <div class="updates-content-title" id="title4">Funding Galore</div>
                    <div class="updates-content-subtitle" id="subtitle4">AngelList India head Utsav Somani announced iSeed, a micro VC fund to back at least 30 early-stage startups over the course of two years. iSeed has a range of high-profile investors, including Naval Ravikant and Babak Nivi, co-founders of AngelList.</div><br><br>
                    <div class="updates-content-subtitle" id="subtitle4">Telecom company Bharti Airtel invests in conversation AI-startup Voicezen under its Airtel Startup Accelerator programme for a 10% stake. This allows Airtel to deploy its technologies across its customer touchpoints in multiple languages and make contextual offers to customers based on real-time conversations.</div>
                </div>
            </div>
            <div class="updates-content">
                <div class="updates-content-image">
                    <div class="img">
                        <img src="/Images/Week_1/Update_5.png" alt="img1.1" width="100%" />
                    </div>
                </div>
                <div class="updates-content-text">
                    <div class="updates-content-title" id="title5">The Third Musketeer of Food Delivery</div>
                    <div class="updates-content-subtitle" id="subtitle5">Amazon launches food delivery service Amazon Foods in select Bangalore pin codes. It allows customers to order from handpicked local restaurants and cloud kitchens maintaining their hygiene standards.</div>
                </div>
            </div>
            <div class="updates-content">
            <div class="updates-content-image">
                <div class="img">
                        <img src="/Images/Week_1/Update_6.png" alt="img1.1" width="100%" />
                    </div>
                </div>
                <div class="updates-content-text">
                    <div class="updates-content-title" id="title6">Partnership</div>
                    <div class="updates-content-subtitle" id="subtitle6">Fintech startup, Zaggle, has announced a partnership with Visa to launch innovative payment solutions for SMEs and startups.</div>
                </div>
            </div>
            <div class="updates-content">
                <div class="updates-content-image">
                    <div class="img">
                        <img src="/Images/Week_0/Update_1.1.png" alt="img1.1" width="100%" /><br><br>
                        <img src="/Images/Week_0/Update_1.2.png" alt="img1.1" width="100%" />
                    </div>
                </div>
                <div class="updates-content-text">
                    <div class="updates-content-title" id="title1" >Startups Vs COVID-19</div>
                    <div class="updates-content-subtitle" id="subtitle1">Kerala based-startup <strong>Asimov Robotics</strong> deployed in hospitals, office buildings and other public places to reduce human contact and support medical assistance</div><br><br><br><br>
                    <div class="updates-content-subtitle" id="subtitle1">Hyderabad-based medtech startup <strong>Docturnal</strong> has repurposed its tuberculosis (TB) screening app to prescreen COVID-19 suspects and identify people who need to take the RT-PCR tests.
                    </div>
                </div>

            </div>
            <div class="updates-content">
                <div class="updates-content-image">
                    <div class="img"><img src="/Images/Week_0/Update_2.png" alt="img2" width="100%" /></div>
                </div>
                <div class="updates-content-text">
                    <div class="updates-content-title" id="title2">Product Launch</div>
                    <div class="updates-content-subtitle" id="subtitle2">World's first wristband with sensors to detect body temperature launched by Indian startup GOQii
                        </div>
                </div>

            </div>
            <div class="updates-content">
                <div class="updates-content-image">
                    <div class="img">
                        <img src="/Images/Week_0/Update_3.png" alt="img1.1" width="100%" />
                    </div>
                </div>
                <div class="updates-content-text">
                    <div class="updates-content-title">Govt Scheme</div>
                    <div class="updates-content-subtitle">NITI Aayog announces 'Masking it up with WEP initiative to support women Workers hard hit by the COVID-19 pandemic.</div>

                </div>

            </div>
            <div class="updates-content">
                <div class="updates-content-image">
                    <div class="img">
                        <img src="/Images/Week_0/Update_4.1.png" alt="img1.1" width="100%" /><br><br>
                        <img src="/Images/Week_0/Update_4.2.png" alt="img1.1" width="100%" />
                    </div>
                </div>
                <div class="updates-content-text">
                    <div class="updates-content-title" id="title4">Funding Galore</div>
                    <div class="updates-content-subtitle" id="subtitle4">AI-based platform HighRadius headquartered at Hyderabad and Houston joined the Unicorn club after raising $ 125 M in a Series B growth funding.</div><br><br>
                    <div class="updates-content-subtitle" id="subtitle4">Contract management software as a service (SaaS) startup SirionLabs has raised $44 Mn in Series C funding round led by Tiger Global and Avatar Growth Capital.</div>
                </div>
            </div>
            <div class="updates-content">
                <div class="updates-content-image">
                    <div class="img">
                        <img src="/Images/Week_0/Update_5.png" alt="img1.1" width="100%" />
                    </div>
                </div>
                <div class="updates-content-text">
                    <div class="updates-content-title" id="title5">Unicorn Digest</div>
                    <div class="updates-content-subtitle" id="subtitle5">OYO likely To Enter Ready-To-Eat Food Segment after the crumbling of their cloud kitchen plans,
                    </div>
                </div>
            </div>
            <div class="updates-content">
            <div class="updates-content-image">
                <div class="img">
                        <img src="/Images/Week_0/Update_6.png" alt="imx  g1.1" width="100%" />
                    </div>
                </div>
                <div class="updates-content-text">
                    <div class="updates-content-title" id="title6">IITM Scoop</div>
                    <div class="updates-content-subtitle" id="subtitle6">T.Uday Kumar, IITM alum, led edtech startup ExcelOn academy has launched an AI based test series for UPSC aspirants to prepare during lockdown.</div>
                </div>
            </div> -->

            </div>
        </div>

    </div>
    </div>
    <footer id="footer">
        <div class="copyright-content p-t-20 p-b-20">
            <div class="container">
                <div class="row h5">
                    <div class="col-lg-6">
                        <div class="d-none d-xl-block d-lg-block">
                            &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                            <br>
                            All Rights Reserved.
                        </div>
                        <div class="d-block d-lg-none text-center">
                            &copy;Developed by
                            <br>
                            <strong>Web Operations | E-Cell | IIT Madras.</strong>
                            <br>
                            All Rights Reserved.
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-none d-xl-block d-lg-block">
                            <span>For issues related to the website, contact:</span>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">Shobhan <i class="fab fa-whatsapp"></i> : +91
                                    6385188219</div>
                            </div>
                        </div>
                        <div class="d-block d-lg-none text-center">
                            <br>
                            <span>For issues related to the website, contact:</span>
                            <div>Shobhan <i class="fab fa-whatsapp"></i> : +91 6385188219</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.js"></script>

    <!--Template functions-->
    <script src="/js/functions.js"></script>
</body>
</body>

</html>
