<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="IDEAthon Event, E-Cell IIT Madras">
    <link rel="icon" href="/images/logos/e-cell_logo_white.png" type="image/gif" sizes="16x16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>IDEAthon | Entrepreneurship Cell IIT Madras</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" ty>
    <link href="/css/ideathon.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_favicon.png" type="image/gif" sizes="16x16">
    <!-- Template color -->
    <link href="/css/color-variations/yellow.css" rel="stylesheet" type="text/css" media="screen" title="yellow">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chelsea+Market&display=swap"
        rel="stylesheet">

    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/plandemic.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Andika' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Chelsea Market' rel='stylesheet'>

    <!-- LOAD JQUERY LIBRARY -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>

    <!-- LOADING FONTS AND ICONS -->
    <link rel="stylesheet" type="text/css"
        href="/plugins/slider-revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/fonts/font-awesome/css/font-awesome.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/css/navigation.css">
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="/plugins/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.actions.min.js">
    </script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.carousel.min.js">
    </script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.kenburn.min.js">
    </script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.migration.min.js">
    </script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.navigation.min.js">
    </script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.parallax.min.js">
    </script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.slideanims.min.js">
    </script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.video.min.js">
    </script>
    <!-- TYPEWRITER ADDON -->
    <script type="text/javascript"
        src="/plugins/slider-revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="/plugins/slider-revolution/revolution-addons/typewriter/css/typewriter.css">



    <!-- LOAD JQUERY LIBRARY -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <!-- LOADING FONTS AND ICONS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:500%2C700" rel="stylesheet" property="stylesheet"
        type="text/css" media="all">
    <link rel="stylesheet" type="text/css"
        href="/plugins/slider-revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/fonts/font-awesome/css/font-awesome.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/css/settings.css">
    <!-- REVOLUTION LAYERS STYLES -->

    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="/plugins/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- POLYFOLD ADD-ON FILES -->
    <link rel='stylesheet'
        href='/plugins/slider-revolution/revolution-addons/polyfold/css/revolution.addon.polyfold.css?ver=1.0.1'
        type='text/css' media='all' />
    <script type='text/javascript'
        src='/plugins/slider-revolution/revolution-addons/polyfold/js/revolution.addon.polyfold.min.js?ver=1.0.1'>
        </script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.actions.min.js">
    </script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.carousel.min.js">
    </script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.kenburn.min.js">
    </script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.migration.min.js">
    </script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.navigation.min.js">
    </script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.parallax.min.js">
    </script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.slideanims.min.js">
    </script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/extensions/revolution.extension.video.min.js">
    </script>
</head>

<body>


    <!-- Body Inner -->
    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo_white.png" class="p-t-10 p-b-10 logo-default">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-responsive logo-fixed">
                        </a>
                    </div>
                    <div id="logo" class="d-none d-md-none d-lg-block d-xl-block" style="padding-left:10px;">
                        
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" class="scroll-to">HOME</a></li>
                                    <li class="dropdown">
                                        <a href="#">INITIATIVES<i class="text-right fa fa-angle-down"></i></a>
                                        <ul id="my-dropdown-nav" class="dropdown-menu">
                                            <li>
                                                <a target="blank"
                                                    href="/event/team-up">Team Up</a>
                                            </li> 
                                            <li>
                                                <a target="blank"
                                                    href="/event/Startup_Series">Startup Series</a>
                                            </li>
                                          <li>
                                              <a target="blank"
                                                  href="/event/Eupdates">E-UPDATES</a>
                                          </li>
                                          <li>
                                              <a target="blank"
                                                  href="/event/Plandemic">PLANDEMIC</a>
                                          </li>
                                          <li>
                                              <a target="blank" href="/event/Entrepreneurship_Development_Drive">Entrepreneurship
                                                  Development Drive</a>
                                          </li>
                                          <li>
                                            <a target="blank" href="/cap">Campus Ambassador Program</a>
                                        </li>
                                        </ul>
                                    </li>
                                    <li><a href="/blog" target="_blank">BLOGS</a></li>
                                    <li><a href="#contact" class="scroll-to">CONTACT</a></li>
                                    <li><a href="/home/Team" class="scroll-to">TEAM</a></li>
                                    <li><a href="/home/Sponsors" class="scroll-to">PAST SPONSORS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <section id="slider">


            <div id="rev_slider_1014_1_wrapper" class="rev_slider_wrapper fullscreen-container"
                data-alias="typewriter-effect" data-source="gallery" style="background-color:transparent;padding:0px;">
                <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
                <div id="rev_slider_1014_1" class="rev_slider fullscreenbanner" style="display:none;"
                    data-version="5.4.1">


                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-2800" data-transition="slidingoverlayhorizontal" data-slotamount="default"
                            data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                            data-easeout="default" data-masterspeed="default"
                            data-thumb="/plugins/slider-revolution/assets/images/Dancing-Bulbs-100x50.jpg"
                            data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                            data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                            data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="/images/ideathon/ideathonSliderFinal.jpg" alt="" data-bgposition="center left"
                                data-bgfit="cover" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->



                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-shape tp-shapewrapper " id="slide-2800-layer-7"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                                data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                                data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"speed":5000,"to":"opacity:0;","ease":"Power4.easeInOut"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption   tp-resizeme" id="slide-2800-layer-1"
                                data-thumb="images/plandemic_type_event/PLANdemiclogo.png"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['340','200','270','150']"
                                data-fontsize="['130','130','100','70']" data-lineheight="['130','130','100','80']"
                                data-width="['1000','1000','1000','1000']" data-height="['1000','1000','1000','1000']"
                                data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
                                data-frames='[{"from":"y:50px;sX:1;sY:1;opacity:0;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,300,300,300]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 6; white-space: nowrap; font-size: 130px; line-height: 130px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Chelsea Market;border-width:0px;letter-spacing:-5px;">
                                <!-- <img id="mainlogo" src="/images/plandemic_type_event/PLANdemiclogo.png"> -->
                                IDEAthon
                            </div>


                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-2800-layer-3"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['16','166','160','60']"
                                data-width="60" data-height="3" data-whitespace="nowrap" data-type="shape"
                                data-responsive_offset="on"
                                data-frames='[{"from":"y:50px;opacity:0;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 7;background-color:rgba(38, 211, 105, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption   tp-resizeme" id="slide-2800-layer-2"
                                data-x="['center','center','center','center']" data-hoffset="['-10','-10','-10','-10']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['65','215','52','-32']"
                                data-fontsize="['40','40','30','30']" data-width="['640','640','480','360']"
                                data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']"
                                data-type="text"
                                data-typewriter='{"lines":"never,dies","enabled":"on","speed":"60","delays":"1%7C100","looped":"on","cursorType":"one","blinking":"on","word_delay":"off","sequenced":"on","hide_cursor":"off","start_delay":"1500","newline_delay":"1000","deletion_speed":"20","deletion_delay":"1000","blinking_speed":"500","linebreak_delay":"60","cursor_type":"two","background":"off"}'
                                data-responsive_offset="on"
                                data-frames='[{"from":"y:50px;sX:1;sY:1;opacity:0;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,300,300]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 8; min-width: 640px; max-width: 640px; white-space: nowrap; font-size: 40px; line-height: 40px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Georgia, serif;font-style:italic;border-width:0px;">
                                Learning</div>
                            <!-- LAYER NR. 5 -->
                            <a href="#register" class="scroll-to">
                                <div class="tp-caption rev-btn  tp-resizeme" href="#register" id="slide-2800-layer-4"
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                    data-y="['middle','middle','middle','middle']"
                                    data-voffset="['240','340','300','283']" data-width="none" data-height="none"
                                    data-whitespace="nowrap" data-type="button"
                                    data-actions='[{"event":"click","action":"","offset":"px","delay":""}]'
                                    data-responsive_offset="on"
                                    data-frames='[{"from":"x:-50px;opacity:0;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"150","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 0);bw:2px 2px 2px 2px;"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[50,50,50,50]" data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[50,50,50,50]"
                                    style="z-index: 9; white-space: nowrap; font-size: 15px; line-height: 46px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Arial, Helvetica, sans-serif;background-color:rgba(0, 0, 0, 0);border-color:rgba(255, 255, 255, 0.25);border-style:solid;border-width:2px;border-radius:4px 4px 4px 4px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:5px;cursor:pointer;">
                                    REGISTER</div>
                            </a>
                            <!-- LAYER NR. 6 -->

                        </li>
                        <!-- SLIDE  -->

                    </ul>

                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div><!-- END REVOLUTION SLIDER -->
            <script type="text/javascript">
                var tpj = jQuery;
                var revapi1014;
                tpj(document).ready(function () {
                    if (tpj("#rev_slider_1014_1").revolution == undefined) {
                        revslider_showDoubleJqueryError("#rev_slider_1014_1");
                    } else {
                        revapi1014 = tpj("#rev_slider_1014_1").show().revolution({
                            sliderType: "standard",
                            jsFileLocation: "/plugins/slider-revolution/js/",
                            sliderLayout: "fullscreen",
                            dottedOverlay: "none",
                            delay: 9000,
                            navigation: {
                                keyboardNavigation: "off",
                                keyboard_direction: "horizontal",
                                mouseScrollNavigation: "off",
                                mouseScrollReverse: "default",
                                onHoverStop: "off",
                                touch: {
                                    touchenabled: "on",
                                    swipe_threshold: 75,
                                    swipe_min_touches: 1,
                                    swipe_direction: "horizontal",
                                    drag_block_vertical: false
                                },
                                arrows: {
                                    style: "uranus",
                                    enable: false,
                                    hide_onmobile: true,
                                    hide_under: 768,
                                    hide_onleave: false,
                                    tmp: '',
                                    left: {
                                        h_align: "left",
                                        v_align: "center",
                                        h_offset: 20,
                                        v_offset: 0
                                    },
                                    right: {
                                        h_align: "right",
                                        v_align: "center",
                                        h_offset: 20,
                                        v_offset: 0
                                    }
                                }
                            },
                            responsiveLevels: [1240, 1024, 778, 480],
                            visibilityLevels: [1240, 1024, 778, 480],
                            gridwidth: [1240, 1024, 778, 480],
                            gridheight: [868, 768, 960, 600],
                            lazyType: "none",
                            shadow: 0,
                            spinner: "off",
                            stopLoop: "on",
                            stopAfterLoops: 0,
                            stopAtSlide: 1,
                            shuffle: "off",
                            autoHeight: "off",
                            fullScreenAutoWidth: "off",
                            fullScreenAlignForce: "off",
                            fullScreenOffsetContainer: "",
                            fullScreenOffset: "0px",
                            disableProgressBar: "on",
                            hideThumbsOnMobile: "off",
                            hideSliderAtLimit: 0,
                            hideCaptionAtLimit: 0,
                            hideAllCaptionAtLilmit: 0,
                            debugMode: false,
                            fallbacks: {
                                simplifyAll: "off",
                                nextSlideOnWindowFocus: "off",
                                disableFocusListener: false,
                            }
                        });
                    }
                    RsTypewriterAddOn(tpj, revapi1014);
                }); /*ready*/
            </script>
        </section>

        <!-- end: Revolution Slider-->

        <!-- ABOUT US -->
        <section id="about" class="p-b-0">
            <div class="container">
                <div class="heading-text heading-section text-center m-b-40" data-animate="fadeInUp"
                    data-animate-delay="400">

                    <h2 class="abt" style="font-family:Andika"><strong> About Ideathon </strong></h2>
                    <span class="lead" style="font-size: large;"> Ideathon is a specially curated event that aims to
                        help students generate innovative ideas. In addition, it is a platform to get the ideas
                        validated and provides the skills and knowledge required to think entrepreneurially. Most
                        importantly, this event is a gateway for teams to get preincubated in Nirmaan, with whom E-Cell
                        IIT Madras collaborated to bring this event. </span>
                </div>
            </div>
        </section>
        <!-- end: ABOUT US -->

        <!-- START -->
        <section id="start" class="text-light" data-bg-video="/video/ideathon/pexels-waves.mp4">
            <div class="bg-overlay" data-style="5"></div>
            <div class="container">
                <div class="heading-text heading-section text-center m-b-40" data-animate="fadeInUp"
                    data-animate-delay="400">
                    <h2 class="gettingStarted" style="text-align: center;">Getting started with Entrepreneurship</h2>
                    <div data-animate="fadeInUp" data-animate-delay="800">
                        <span class="lead" style="font-size: large;"> We are sure that many of our audience in the
                            campus is struggling to get started with
                            entrepreneurship even if they are interested in Entrepreneurship as well as the
                            audience who have their own Ideas but just can’t find a point to start with them , or even
                            if they started they backed out in the middle due to the lack of basic knowledge and
                            entrepreneurial approach .<br>
                            So, Let’s start before you are ready with Ideathon , an exclusive event of E-Cell for
                            exclusive IIT Madras community.<br>
                            Learning never dies, even if it's quarantine , so tighten your seat belts and get started
                            with an awesome journey ahead. </span>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: START -->
        <section style="padding-bottom:0px">
            <div class="heading-text heading-section text-center m-b-40" style="padding-top: 30px;">
                <h2 style="font-family:Andika; font-weight: bold; color: black">Timeline</h2>
            </div>
            <section style=" background-color: #e2f3f3;padding-bottom: 20px;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="content col-lg-8">
                            <div class="card" style="border-radius: 30px;">
                                <div class="card-body">
                                    <!-- Timeline -->
                                    <ul class="timeline">
                                        <!--Timeline item-->
                                        <li class="timeline-item">
                                            <div class="timeline-icon"><i class="icon-life-buoy"></i></div>
                                            <h4>Event Launch</h4>
                                            <div class="timeline-item-date">21st July (05:00 PM)</div>
                                        </li>
                                        <!--end: Timeline item-->
                                        <!--Timeline item-->
                                        <li class="timeline-item">
                                            <div class="timeline-icon"><i class="icon-heart"></i></div>
                                            <h4>Registrations</h4>
                                            <div class="timeline-item-date">21st July - 26th July (11:59 PM)</div>
                                        </li>
                                        <!--end: Timeline item-->
                                        <!--Timeline item-->
                                        <li class="timeline-item">
                                            <div class="timeline-icon"><i class="icon-unlock"></i></div>
                                            <h4>Idea Validation part 01:</h4>
                                            <h3 style="font-weight:400;font-size:1rem;margin-bottom:7px">Idea generation
                                                in Current Scenario(workshop)</h3>
                                            <div class="timeline-item-date">27th July (04:30 PM - 06:00 PM)</div>
                                        </li>
                                        <!--end: Timeline item-->
                                        <!--Timeline item-->
                                        <li class="timeline-item">
                                            <div class="timeline-icon"><i class="icon-play-circle"></i></div>
                                            <h4>
                                                Report submission for Idea Validation part 01
                                            </h4>
                                            <div class="timeline-item-date">30th July (11:59 PM)</div>
                                        </li>
                                        <!--end: Timeline item-->
                                        <!--Timeline item-->
                                        <li class="timeline-item">
                                            <div class="timeline-icon"><i class="icon-truck"></i></div>
                                            <h4>Idea Validation part 02:</h4>
                                            <h3 style="font-weight:400;font-size:1rem;margin-bottom:7px">Market Research
                                                and Customer Development (workshop)</h3>
                                            <div class="timeline-item-date">31st July(06:00 PM - 07:30 PM) </div>
                                        </li>
                                        <!--end: Timeline item-->
                                        <!--Timeline item-->
                                        <li class="timeline-item">
                                            <div class="timeline-icon"><i class="icon-sunrise"></i></div>
                                            <h4>Report submission for Idea Validation part 02</h4>
                                            <div class="timeline-item-date">04th August (11:59 PM)</div>
                                        </li>
                                        <!--end: Timeline item-->
                                        <!--Timeline item-->

                                        <!--end: Timeline item-->
                                    </ul>
                                    <!-- end: Timeline -->
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </section>


        <!-- SPEAKERS -->
        <div class="modal fade events-modals" id="abha-rishi-modal" tabindex="-1" role="modal"
            aria-labelledby="modal-label-3" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #251e26;">
                        <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Dr. Abha Rishi</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                            type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <img class="d-none d-lg-block d-md-block" src="/images/ideathon/Abha.jpg" alt="Dr. Abha image"
                            style="float: left; margin-right:20px; width:100%; max-width: 200px;">
                        <img class="d-block d-lg-none d-md-none" src="/images/ideathon/Abha.jpg" alt="Dr. Abha image"
                            style="width:100%; margin-bottom: 20px;">
                        Dr. Abha Rishi is the CEO for the Atal Incubation Centre (funded by the Government of India) and
                        the Chairperson for the Centre for Innovation and Entrepreneurship Development (CIED) at Birla
                        Institute of Management Technology. She is also an Associate Professor with 24 years of
                        experience in the field of entrepreneurship and international trade.
                        <br><br>
                        Her qualifications in the field of International business and management are a PhD, PGDIBO, MFT
                        and MIB. She holds an Entrepreneurship Educators Certificate (Honors) from STVP, Stanford
                        University. She is among the few Indians who hold both a Chevening (Chevening Rolls Royce
                        Science and Innovation Leadership Programme - 2014 scholar from Said Business School, University
                        of Oxford, UK) and a Fulbright scholarship (Fulbright Research Fellow from India at Rutgers
                        University, Newark, USA for 2009-10).
                        <br><br>
                        She has been the Programme Director from BIMTECH for two states- UP and Orissa, for the BIMTECH
                        ISB Goldman Sachs 10000 Women global project. She has published and presented papers in various
                        domestic and international forums, has traveled across 4 continents and 21 countries as part of
                        her work and also for research. She was also the managing editor for the South Asian Business
                        Review- a peer reviewed journal from 2008 to 2011.
                    </div>
                    <div class="text-center p-b-20">
                        <button data-dismiss="modal" class="btn btn-outline btn-dark" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade events-modals" id="suresh-bhagavatula-modal" tabindex="-1" role="modal"
            aria-labelledby="modal-label-3" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #251e26;">
                        <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Dr. Suresh Bhagavatula</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                            type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <img class="d-none d-lg-block d-md-block" src="/images/ideathon/suresh.jpg"
                            alt="Pros. Suresh image"
                            style="float: left; margin-right:20px; width:100%; max-width: 200px;">
                        <img class="d-block d-lg-none d-md-none" src="/images/ideathon/suresh.jpg"
                            alt="Prof. Suresh image" style="width:100%; margin-bottom: 20px;">
                        Prof Suresh is passionate about teaching entrepreneurship and has been associated with NSRCEL
                        (<span><a href="http://www.nsrcel.org" target="_blank">http://www.nsrcel.org</a></span>) at Indian Institute of Management Bangalore since 2007 where he has been
                        interacting with many different types of entrepreneurs, but mostly operating within the
                        technology domain. His interest in entrepreneurship has genesis in his formative experiences
                        with helping Women Entrepreneurs help set up micro-ventures in Kenya while pursuing his Masters.
                        <br><br>
                        These experiences have set him on a life-long pursuit of understanding the determinants of
                        entrepreneurial success, and more importantly entrepreneurial failure. He hails from Vizag, did
                        his Bachelors in Engineering from Shivaji University, pursued a Masters from University of
                        Flensburg, Germany and earned his PhD from Vrije Universiteit, Amsterdam, the Netherlands. At a
                        personal level, he enjoys traveling, knowing more about traditional arts and crafts and biking
                        around the verdant IIM Bangalore campus during his free time!
                    </div>
                    <div class="text-center p-b-20">
                        <button data-dismiss="modal" class="btn btn-outline btn-dark" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- SPEAKERS -->
        <div class="modal fade events-modals" id="abha-rishi-modal" tabindex="-1" role="modal"
            aria-labelledby="modal-label-3" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #251e26;">
                        <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Dr. Abha Rishi</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                            type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <img class="d-none d-lg-block d-md-block" src="/images/ideathon/Abha.jpg" alt="Dr. Abha image" style="float: left; margin-right:20px; width:100%; max-width: 200px;">
                        <img class="d-block d-lg-none d-md-none" src="/images/ideathon/Abha.jpg" alt="Dr. Abha image" style="width:100%; margin-bottom: 20px;">
                            Dr. Abha Rishi is the CEO for the Atal Incubation Centre (funded by the Government of India) and the Chairperson for the Centre for Innovation and Entrepreneurship Development (CIED) at Birla Institute of Management Technology. She is also an Associate Professor with 24 years of experience in the field of entrepreneurship and international trade.
                            <br><br>
                            Her qualifications in the field of International business and management are a PhD, PGDIBO, MFT and MIB. She holds an Entrepreneurship Educators Certificate (Honors) from STVP, Stanford University. She is among the few Indians who hold both a Chevening (Chevening Rolls Royce Science and Innovation Leadership Programme - 2014 scholar from Said Business School, University of Oxford, UK)  and a Fulbright scholarship (Fulbright Research Fellow from India at Rutgers University, Newark, USA for 2009-10).
                            <br><br>
                        She has been the Programme Director from BIMTECH for two states- UP and Orissa, for the BIMTECH ISB Goldman Sachs 10000 Women global project. She has published and presented papers in various domestic and international forums, has traveled across 4 continents and 21 countries as part of her work and also for research. She was also the managing editor for the South Asian Business Review- a peer reviewed journal from 2008 to 2011.
                    </div>
                    <div class="text-center p-b-20">
                        <button data-dismiss="modal" class="btn btn-outline btn-dark" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade events-modals" id="suresh-bhagavatula-modal" tabindex="-1" role="modal"
        aria-labelledby="modal-label-3" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #251e26;">
                    <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Dr. Suresh Bhagavatula</h4>
                    <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                        type="button">×</button>
                </div>
                <div class="modal-body">
                    <img class="d-none d-lg-block d-md-block" src="/images/ideathon/suresh.jpg" alt="Pros. Suresh image" style="float: left; margin-right:20px; width:100%; max-width: 200px;">
                    <img class="d-block d-lg-none d-md-none" src="/images/ideathon/suresh.jpg" alt="Prof. Suresh image" style="width:100%; margin-bottom: 20px;">
                    Prof Suresh is passionate about teaching entrepreneurship and has been associated with NSRCEL (http://www.nsrcel.org) at Indian Institute of Management Bangalore since 2007 where he has been interacting with many different types of entrepreneurs, but mostly operating within the technology domain. His interest in entrepreneurship has genesis in his formative experiences with helping Women Entrepreneurs help set up micro-ventures in Kenya while pursuing his Masters.
                    <br><br>
                    These experiences have set him on a life-long pursuit of understanding the determinants of entrepreneurial success, and more importantly entrepreneurial failure. He hails from Vizag, did his Bachelors in Engineering from Shivaji University, pursued a Masters from University of Flensburg, Germany and earned his PhD from Vrije Universiteit, Amsterdam, the Netherlands. At a personal level, he enjoys traveling, knowing more about traditional arts and crafts and biking around the verdant IIM Bangalore campus during his free time!
                </div>
                <div class="text-center p-b-20">
                    <button data-dismiss="modal" class="btn btn-outline btn-dark" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
        <section id="speakers" class="light p-t-50 p-b-40" style="background: linear-gradient(rgb(218, 218, 218), #ffffff);">
            <div class="container">
                <h1 class="text-center m-b-30">Speakers</h1>
                <div class="row team-members">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/ideathon/Abha.jpg" />
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size: 24px;">
                                    Dr. Abha Rishi
                                </h3>
                                <h3 style="color: gray;">CEO, Atal Incubation Centre</h3>
                                <!-- <h3 style="color: gray;">Chairperson, Centre for Innovation and Entrepreneurship Development, Birla Institute of Management Technology</h3> -->
                                <div class="align-center m-t-20">
                                <a data-target="#abha-rishi-modal" data-toggle="modal" href="#"
                            class="btn btn-dark btn-sm btn-outline">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/ideathon/suresh.jpg" />
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size: 24px;">
                                    Prof. Suresh Bhagavatula
                                </h3>
                                <h3 style="color: gray;">Profssor, Entrepreneurship</h3>
                                <div class="align-center m-t-20">
                                <a data-target="#suresh-bhagavatula-modal" data-toggle="modal" href="#"
                                class="btn btn-dark btn-sm btn-outline">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </section>
        <!-- end: SPEAKERS -->

        <!-- Announcement -->
        <section style="background-color: whitesmoke;padding-bottom:50px;padding-top:50px">
            <div class="container">
                <div class="heading-text heading-line text-center">
                    <h3 class="impAnnouncement" style="font-size:3.5rem;">Important Announcement !!!</h3>
                    <span style="font-size: 1.7rem;color: black;line-height:60px">Registration will close on 25th July
                        11:59 PM.</span>
                </div>
            </div>
        </section>
        <!-- end: Anouncement -->

        <!--Rewards And Benefits-->
        <section id="rewards" style="background-image:url(/images/ideathon/1.png)">
            <div class="container">
                <div class="heading-text heading-line text-center " data-animate="fadeInUp" data-animate-delay="400">
                    <h3 class="rewards" style="margin-bottom:70px;font-size:3.5rem; color: whitesmoke;">Rewards
                        and<span style="color: brown;">
                    <h3 class="rewards" style="margin-bottom:70px;font-size:3.5rem; color: whitesmoke;">Rewards and<span
                            style="color: brown;">
                            Benefits</span></h3>
                </div>
                <div class="row m-b-60">
                    <div class="col-lg-20">
                        <ol class="reward" style="font-size: larger; color: whitesmoke;" data-animate="fadeInUp"
                        <ol style="font-size: larger; color: whitesmoke;" data-animate="fadeInUp"
                            data-animate-delay="600">
                            <li>Entrepreneurial knowledge from the basics to advanced level.</li>
                            <br>
                            <li>Workshops on Idea Generation in current scenario and Market Research and Target
                                Segmentation by eminent entrepreneurs and industry experts.</li>
                            <br>
                            <li>Loads of Brainstorming experience and a fragrance of real entrepreneurship.</li>
                            <br>
                            <li>Participants after submitting both the assignment reports, will get a certificate of
                                participation.</li>
                            <br>
                            <li>Opportunity to directly have the interview for pre-incubation under Nirmaan.</li>
                        </ol>
                    </div>

                </div>
            </div>
        </section>
        <!--End:Rewards And Benefits-->

        <!--How to Participate-->
        <section id='participate' style="background-color:whitesmoke;padding-bottom:50px;padding-top:50px">
            <div class="container">
                <div class="heading-text heading-line text-center" data-animate="fadeInDown" data-animate-delay="600">
                    <h3 class="part partFont" style="font-size:3.5rem">How to Participate?</h3>
                    <span style="font-size: 1.7rem;color: black;line-height:60px">Candidates have to fill a google form
                        having an Idea that they want to pursue Or
                        candidates without having an Idea are also welcomed.</span>
                </div>
            </div>
        </section>
        <!--End: How to Participate-->

        <!-- register-->
        <div class="text-light p-b-40" id="register"
            style="padding-top:42px; text-align: center;background-color:rgba(0, 0, 0, 0.904)">
            <a href="https://forms.gle/FjYp29j4JwvfXm358"
                style="display:inline-block;  text-decoration:none;background-color:gold;color:black;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:47.5px;text-align:center;margin:0;height:47.5px;padding:0px 31px;border-radius:23px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;"
                target="_blank">Register Here </a>
            <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
        </div>
        <!--End: registere-->

        <!-- PRE-FOOTER -->
        <section id="contact" class="background-grey p-t-40 p-b-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="fa fa-map-marker-alt"></i></a>
                            </div>
                            <h3>Our Location</h3>
                            <p><strong>IIT Madras:</strong>
                                <br> Indian Institute of Technology Madras
                                <br> IIT P.O. Chennai 600 036
                                <br>Tamil Nadu, INDIA
                                <br>
                            </p>
                        </div>
                    </div>



                    <div class="col-lg-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="fa fa-phone"></i></a>
                            </div>
                            <h3>Contact</h3>
                            <p><strong>Phone:</strong>
                                <br> Gaurav Jhawar : (+91)8239754801
                                <br> Adithya Beera : (+91)9390054215
                                <br> Nimish Gupta : (+91)9701116602
                                <br> Anurag Gupta : (+91)8000967089
                            </p>
                        </div>
                    </div>


                    <div class="col-lg-4 m-b-30">
                        <h4 style="color:black">We are social</h4>
                        <div class="social-icons social-icons-light social-icons-colored-hover">
                            <ul>
                                <!-- <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li> -->
                                <li class="social-facebook"><a href="https://www.facebook.com/ECELLIITM/"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <!-- <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                     <li class="social-vimeo"><a href="#"><i class="fab fa-vimeo"></i></a></li> -->
                                <li class="social-youtube"><a
                                        href="https://www.youtube.com/channel/UCtPazFT8VSfAeREcgag4zMw"><i
                                            class="fab fa-youtube"></i></a></li>
                                <li class="social-instagram"><a href="https://www.instagram.com/ecell_iitm/?hl=en"><i
                                            class="fab fa-instagram"></i></a></li>
                                <!-- <li class="social-pinterest"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                     <li class="social-gplus"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                     <li class="social-dribbble"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                     <li class="social-skype"><a href="#"><i class="fab fa-skype"></i></a></li> -->
                                <li class="social-linkedin"><a
                                        href="https://www.linkedin.com/company/e-cell-iitm/?originalSubdomain=in"><i
                                            class="fab fa-linkedin"></i></a></li>
                                <!-- <li class="social-behance"><a href="#"><i class="fab fa-behance"></i></a></li>
                                     <li class="social-flickr"><a href="#"><i class="fab fa-flickr"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: PRE-FOOTER -->
        <!-- Footer -->
        <footer id="footer">

            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Harsh <i class="fab fa-whatsapp"></i> : +91
                                        9345105302</div>

                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Harsh <i class="fab fa-whatsapp"></i> : +91 9345105302</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <!-- <script src="/js/jquery.js"></script> -->
    <script src="/js/plugins.js"></script>

    <!--Template functions-->
    <script src="/js/functions.js"></script>
</body>

</html>
