<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Entrepreneurship Cell, IITM. Powering entrepreneurship at">
    <link rel="icon" href="/images/logos/e-cell_favicon.png" type="image/png" sizes="16x16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Home | Entrepreneurship Cell | IIT Madras</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Topbar -->
        <div id="topbar" class="topbar-transparent topbar-fullwidth dark d-none d-xl-block d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul id="topbar-contacts" class="top-menu">
                            <li><a style="color: #001d55 !important;" href="#">Phone: +91 9871341963</a></li>
                            <li><a style="color: #001d55 !important;" href="#">Email: sr_ecell@smail.iitm.ac.in</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 d-none d-sm-block">
                        <div class="social-icons social-icons-colored-hover">
                            <ul id="topbar-social">
                                <li class="social-facebook"><a href="https://www.facebook.com/ECELLIITM/"
                                        target="blank"><i class="fab fa-facebook-f"
                                            style="color: #001d55 !important;"></i></a></li>
                                <li class="social-linkedin"><a href="https://in.linkedin.com/company/e-cell-iitm"
                                        target="blank"><i class="fab fa-linkedin"
                                            style="color: #001d55 !important;"></i></a></li>
                                <li class="social-youtube"><a
                                        href="https://www.youtube.com/channel/UCtPazFT8VSfAeREcgag4zMw"
                                        target="blank"><i class="fab fa-youtube"
                                            style="color: #001d55 !important;"></i></a></li>
                                <li class="social-twitter"><a href="https://twitter.com/ecelliitm" target="blank"><i
                                            class="fab fa-twitter" style="color: #001d55 !important;"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Topbar -->
        <!-- *Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true"
            class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-fixed">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="#about-us" class="scroll-to">ABOUT US</a></li>
                                    <!-- <li><a href="#slider" class="scroll-to">HOME</a></li> -->
                                    <li><a href="#what-we-do" class="scroll-to">WHAT WE DO?</a></li>
                                    <li class="dropdown">
                                        <a href="#">EDITORIAL CORNER<i class="text-right fa fa-angle-down"></i></a>
                                        <ul id="my-dropdown-nav" class="dropdown-menu">
                                            <li><a href="/blog" target="_blank">BLOGS</a></li>
                                            <li>
                                                <a target="blank"
                                                    href="https://online.fliphtml5.com/uxhth/dmuj/">E-Insider '21</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">INITIATIVES<i class="text-right fa fa-angle-down"></i></a>
                                        <ul id="my-dropdown-nav" class="dropdown-menu">
                                            <li>
                                                <a target="blank" href="/event/e21">E-21</a>
                                            </li>
                                            <li>
                                                <a target="blank" href="/event/team-up">Team Up</a>
                                            </li>
                                            <li>
                                                <a target="blank" href="/event/Startup_Series">Startup Series</a>
                                            </li>
                                            <li>
                                                <a target="blank" href="/event/Eupdates">E-UPDATES</a>
                                            </li>
                                            <li>
                                                <a target="blank" href="/event/Plandemic">PLANDEMIC</a>
                                            </li>
                                            <li>
                                                <a target="blank" href="/event/Ideathon">IDEATHON</a>
                                            </li>
                                            <li>
                                                <a target="blank"
                                                    href="/event/Entrepreneurship_Development_Drive">Entrepreneurship
                                                    Development Drive</a>
                                            </li>
                                            <li>
                                                <a target="blank" href="/cap">Campus Ambassador Program</a>
                                            </li>
                                            <li>
                                                <a href="#events" class="scroll-to">ALL EVENTS</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/home/Team">TEAM</a></li>
                                    <li><a href="#footer" class="scroll-to">CONTACT</a></li>
                                    <li><a href="/home/Sponsors" target="_blank">PAST
                                            SPONSORS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- *Landing page -->
        <section class="fullscreen" data-bg-video="/images/homepage/bg.mp4">
            <div class="bg-overlay" data-style="1" style="opacity: 0.5;"></div>
            <div class="container m-t-0 m-b-0 p-t-40">
                <div class="text-center text-light">
                    <!-- Captions -->
                    <h1 class="text-medium m-b-10" style="color: #001d55 !important;">WELCOME TO</h1>
                    <img id="main-logo" class="p-b-30" src="/images/logos/e-cell_logo_wt_captions.png">
                    <div>
                        <a class="btn scroll-to" href="#footer">Contact Us <i class="fa fa-phone"
                                style="-webkit-transform: scaleX(-1);transform: scaleX(-1);"></i></a>
                        <a href="#e-insider" class="btn scroll-to">E-INSIDER</a>
                    </div>
                    <!-- end: Captions -->
                </div>
            </div>
            <div class="scrolldown-animation text-center" id="scroll-down">
                <a class="scroll-to" href="#about-us"><i style="color: #001d55;" class="fa fa-2x fa-angle-down"></i></a>
            </div>
            <div class="shape-divider" data-style="13"></div>
            <!-- </div> -->
            <!-- </div> -->
        </section>
        <!--end: Landing page -->

        <!-- *About-us-->
        <div class="modal fade" id="about-modal" tabindex="-1" role="modal" aria-labelledby="modal-label-3"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #001d55;">
                        <h1 id="modal-label-3" class="h4 text-center text-light m-b-0">E-Cell | IIT Madras</h4>
                            <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                                type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 xs-box">
                                <p>Established in the year 1959, Indian Institute of Technology Madras is today one
                                    <strong>among the foremost institutes of national importance</strong> in higher
                                    technological
                                    education, basic and applied research.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>Within its lush green premises, the Entrepreneurship Cell was set up in the year
                                    1998, with its former name being <strong>
                                        Centre for Technological Innovation, Development
                                        and Entrepreneurship Support (C-TIDES).
                                    </strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 xs-box">
                                <div class="box-services-a">
                                    <p>Harbouring a population of over 10,000 people including students, faculty and
                                        general staff, <strong>
                                            it is reputed internationally for its quality of teaching and
                                            outstanding calibre of the students
                                        </strong> from its graduate and post graduate
                                        programs. Not only is the Institute pioneering with <strong>
                                            blossoming innovations and
                                            cutting-edge technology
                                        </strong>, but also the swarm of <strong>ventures and the impact</strong> that
                                        it
                                        has created and will be creating in the <strong>innovation and
                                            entrepreneurship</strong>
                                        ecosystem as a whole.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box-services-a">
                                    <p>
                                        Over the years, <strong>Entrepreneurship Cell is known to have nurture some of
                                            the best
                                            startups in the entrepreneurship arena</strong> like <strong>Detect
                                            Technologies</strong> (Forbes 30 Under
                                        30 – Asia), <strong>Hyperverge</strong> and many more among others and had
                                        privilege to work
                                        under the leaders like <strong>Mr. Tarun Mehta</strong> (Co-Founder, Ather
                                        Energy) being the Head
                                        of the organization during his Institute Days and are.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button data-dismiss="modal" class="btn btn-outline" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="about-us" class="p-t-0 background-grey p-b-100 ">
            <div class="reverse-shape-divider shape-divider" data-style="13"></div>
            <div class="container p-t-200">
                <div class="row">
                    <div class="col-lg-8 m-b-30" data-animate="fadeInLeft">
                        <div class="carousel" data-items="1">
                            <img src="/images/homepage/aboutus/img1.jpg" alt="">
                            <img src="/images/homepage/aboutus/img2.jpg" alt="">
                            <img src="/images/homepage/aboutus/img3.jpg" alt="">
                            <img src="/images/homepage/aboutus/img4.jpg" alt="">
                            <img src="/images/homepage/aboutus/img5.jpg" alt="">
                        </div>
                    </div>

                    <div class="col-lg-4 p-l-40 p-r-40" data-animate="fadeInRight">
                        <div class="m-b-30">
                            <h1 class="h2">E-Cell IIT Madras</h1>
                            <p style="font-size:15px; line-height: 200%;font-weight:200%;color:black;">
                                Entrepreneurship Cell at IIT Madras believes that <strong>
                                    entrepreneurship is not just about
                                    starting companies, but a pathway towards India’s socio-economic development
                                </strong>.
                                <br>
                                Our vision
                                is to make students and faculty ‘entrepreneurial’ in every work that they do. We hope to
                                enable them to solve global challenges as <strong>
                                    we see students as the greatest capital
                                </strong> and
                                intend to nurture them, provide them with opportunities for excellence.
                            </p>
                        </div>

                        <a class="btn btn-outline" data-target="#about-modal" data-toggle="modal" href="#"><span>Read
                                more</span></a>
                    </div>
                </div>
            </div>
            <div class="shape-divider" data-style="2"></div>
        </section>
        <!--about-us-->

        <!-- *Vision and Mission -->
        <div class="modal fade" id="vision-mission-modal" tabindex="-1" role="modal" aria-labelledby="modal-label-3"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #001d55;">
                        <h1 id="modal-label-3" class="h4 text-light text-center m-t-0">E-Cell | IIT Madras</h4>
                            <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 p-b-0 close"
                                type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h1 class="h4">Vision</h1>
                                <p>
                                    We strive continuously towards
                                    nurturing individuals with creative minds, innovative
                                    ideas and potential for substantial business opportunities
                                    . <strong>
                                        We seek to enable smooth
                                        and efficient interaction between its principal components spanning students,
                                        faculty, working professionals, aspiring and existing entrepreneurs, mentors,
                                        angel
                                        investors and venture capitalists
                                    </strong>, thus consolidating the entire pipeline of
                                    entrepreneurship ecosystem and serving our vision to Empower Entrepreneurship at IIT
                                    Madras.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <h1 class="h4">Mission</h1>
                                <p>
                                    We, at The Entrepreneurship Cell, are missioned with a common goal to <strong>
                                        inculcate the
                                        spirit of entrepreneurship among young minds and become a pathway towards
                                        India’s
                                        socio-economic development
                                    </strong>, for India to emerge as the supernation in the coming
                                    years. In its glorious 20 years of existence, E-Cell now created its unique brand
                                    value on a pan-India scale with a <strong>plethora of initiatives</strong> taken up
                                    and
                                    conducted along the line of our vision to empower entrepreneurship.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h1 class="h4">What we do?</h1>
                                <p>
                                    Entrepreneurship Cell IIT Madras makes the entrepreneurial world accessible to all
                                    group of people part of the IIT Madras ecosystem, cater the audience from startup
                                    enthusiast to hardcore entrepreneurs, with plethora of yearlong events like
                                    <strong>Conclaves, Keynotes, Industry-defined Problems, B-Planning Competitions and
                                        Workshops</strong>, through both personal and collaboration-based approach.
                                </p>
                                <p>
                                    Some of our satellite activities includes <strong>Startup Series Sessions</strong>,
                                    and <strong>our annual entrepreneurship fest, E-Summit</strong> - largest in the
                                    region and from this year is going to be the <strong>first student-run ISO Certified
                                        Entrepreneurship Event</strong>.

                                    E-Summit is now revamped to make it more focused and helpful for all the
                                    stakeholders, thus <strong>making our initiatives and support system
                                        accessible</strong> to not only our campus, but the community outside as well,
                                    through several dedicated programmes like <strong>Campus Director Programme</strong>
                                    and <strong>Entrepreneurship Cell Development Drive</strong>. We have now even
                                    started and are now the <strong>first in the domain to promote entrepreneurship in
                                        school students through initiatives like Education-21 (E-21)</strong> and
                                    nurture entrepreneurial mindset in them.
                                </p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button data-dismiss="modal" class="btn btn-outline" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="what-we-do" class="p-t-0 p-b-0 dark box-fancy text-light" style="background-color: #001f59;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-right" data-animate="fadeInLeft" data-animate-delay="100">
                        <div id="vm-icon" class="text-left"><i class="fa fa-4x fa-bullseye"></i></div>
                        <h1 class="text-medium"> Vision </h1>
                        <h2 style="font-weight: 300 !important;"> To Empower Entrepreneurship at IIT Madras.</h2>
                    </div>
                    <div class="col-lg-6" data-animate="fadeInRight" data-animate-delay="100">
                        <div id="vm-icon" class="text-center"><i class="fa fa-4x fa-rocket"></i></div>
                        <h1 class="text-medium ">Mission</h1>
                        <h2 style="font-weight: 300 !important;">To inculcate the spirit of entrepreneurship among young
                            minds.</h2>
                        <!-- <h5 style=" line-height: 150%; font-family:Poppins,Helvetica,Arial,sans-serif;font-size:18px;"></h5> -->
                    </div>
                    <div>
                        <!-- <div data-animate="fadeInUp" data-animate-delay="100"> -->
                        <div class="text-center" data-animate="fadeInUp" data-animate-delay="100">
                            <h1 class="text-medium">What We Do?</h1>
                        </div>
                        <!-- </div> -->
                        <h2 style="font-weight: 300 !important;" data-animate="fadeIn" data-animate-delay="600"
                            class="text-center p-b-20">
                            We make the entrepreneurial world accessible to all group of people part of the IIT Madras
                            ecosystem, cater the audience from startup enthusiast to hardcore entrepreneurs, with
                            plethora of yearlong events and workshops through both personal and collaboration-based
                            approach.
                        </h2>
                    </div>
                    <div class="text-center" data-animate="fadeInDown1" data-animate-delay="100" style="width: 100%;">
                        <a class="btn btn-light btn-outline" data-target="#vision-mission-modal" data-toggle="modal"
                            href="#">Read more</a>
                    </div>
                </div>
                <div class="container p-b-50">
                    <div class="row">
                        <div class="col-lg-3 p-b-30">
                            <div class="text-center">
                                <div class="icon"><i class="fab fa-4x fa-facebook-square"></i></div>
                                <div class="counter"> <span data-speed="500" data-to="27600" data-from="20000"
                                        data-seperator="true"></span> </div>
                                <h1 class="h4">Facebook Likes</h1>
                            </div>
                        </div>
                        <div class="col-lg-3 p-b-30">
                            <div class="text-center">
                                <div class="icon"><i class="fab fa-4x fa-linkedin"></i></div>
                                <div class="counter"> <span data-speed="500" data-refresh-interval="500" data-to="4600"
                                        data-from="2000" data-seperator="true"></span> </div>
                                <h1 class="h4">LinkedIn Followers</h1>
                            </div>
                        </div>

                        <div class="col-lg-3 p-b-30">

                            <div class="text-center ">
                                <div class="icon"><i class="fab fa-4x fa-instagram"></i></div>
                                <div class="counter"> <span data-speed="500" data-refresh-interval="500" data-to="3400"
                                        data-from="0" data-seperator="true"></span> </div>
                                <h1 class="h4">Instagram Followers</h1>
                            </div>
                        </div>

                        <div class="col-lg-3">

                            <div class="text-center">
                                <div class="icon"><i class="fa fa-4x fa-child"></i></div>
                                <div class="counter"> <span data-speed="500" data-refresh-interval="500" data-to="600"
                                        data-from="0" data-seperator="true"></span> </div>
                                <h1 class="h4">Campus Ambassadors</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Vision and Mission -->

        <!-- *E-INSIDER -->
        <section class="light" data-parallax-image="/images/5.png">
            <div id="particles-stars" class="particles"></div>
            <div class="reverse-shape-divider shape-divider" data-style="13"></div>
            <div id="e-insider" class="container p-t-150 p-b-100">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4 col-12 p-b-30">
                        <img width="100%" src="/images/homepage/e-insider/cover-1.jpg" alt="">
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5 col-12 p-b-30">
                        <h1>E-Insider</h1>
                        <p style="font-size: 1.5em; line-height: 200%;font-weight:200%;color:black;">
                            We are very ecstatic to launch the <strong>5th edition of Entrepreneurship Insider</strong>.
                            <br><br>
                            Get ready to
                            delve deeper into the world of block-chain & deep-tech as this year's E-Insider is themed
                            around <strong>Blockchain</strong>!
                            <br><br>
                            Have a good reading.
                        </p>
                        <br>
                        <a href="https://online.fliphtml5.com/uxhth/lcbd/" rel="noreferrer" target="blank"
                            class="btn btn-outline">Read it Online <i class="icon-external-link"></i></a>
                        <a href="/data/download-insider-mag" class="btn btn-outline">Download PDF <i
                                class="fa fa-download"></i></a>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="shape-divider" data-style="13"></div>
        </section>
        <!-- end: E-INSIDER -->

        <!-- *E-Summit 2019 -->
        <section style="background-color:#001f59;" class="p-t-0 p-b-0">
            <!-- <div id="particles-bubble" class="particles"></div> -->
            <div class="container">
                <div class="text-light text-center">
                    <img src="/images/logos/esummit-white.png" alt="" style="width: 100%; max-width: 200px;">
                    <h1 class="h4 p-t-20 text-uppercase">Sustain to Attain</h1>
                    <h2 style="font-weight: 300 !important;" data-animate="fadeIn" data-animate-delay="600">Every
                        year, we play host to our flagship event, <strong>E-Summit</strong>.
                        <br>

                        E-Summit 2021, themed around <strong>Sustain to Attain</strong>, is a 4-Conclave model
                        including <a style="text-decoration: underline;"
                            href="https://esummitiitm.org/youth-conclave">Youth Conclave</a>, <a
                            style="text-decoration: underline;"
                            href="https://esummitiitm.org/innovators-conclave">Innovators’ Conclave</a>, <a
                            style="text-decoration: underline;" href="https://esummitiitm.org/startup-conclave">Startup
                            Conclave</a>, and Growth Conclave along with
                        the social campaign Pankh.

                    </h2>
                    <a href="https://esummitiitm.org/" rel="noreferrer" target="blank"
                        class="btn btn-outline btn-light">E-Summit 2021 <i class="icon-external-link"></i></a>
                </div>
            </div>
        </section>
        <!-- end: E-Summit 2019 -->

        <!-- *Events -->
        <div class="modal fade events-modals" id="competitive-events-modal" tabindex="-1" role="modal"
            aria-labelledby="modal-label-3" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #001d55;">
                        <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Competitive Events</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                            type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <h3>Startup Series</h3>
                                <p>A 45 day program for students to come in with an idea and leave with the skills
                                    necessary to convert it into a venture. The event would provide a good idea of what
                                    it takes to start a company by conducting workshops and mentoring sessions along
                                    with an experiential component where teams put into practice the learnings from the
                                    workshops in different tasks.</p>
                            </div>
                            <div class="col-12">
                                <h3>Campus Innovation Challenge</h3>
                                <p>E- Cell worked with TechSoc on this event where students from IITM identify problems
                                    that affect all of us in IITM and provide solutions that are financially and
                                    technically feasible along with being sustainable.</p>
                            </div>
                            <div class="col-12">
                                <h3>E-Auction</h3>
                                <p>The opportunity to get your hands on team-recruitment and compete to create the best
                                    startup team in conjuction with handling the skill to resource required for
                                    recruitment tradeoff!</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center p-b-20">
                        <button data-dismiss="modal" class="btn btn-outline" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade events-modals" id="mentorship-modal" tabindex="-1" role="modal"
            aria-labelledby="modal-label-3" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #001d55;">
                        <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Mentorship Programmes</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                            type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <!-- <img src="/images/homepage/events/cic.jpg" style="width: 100%;" alt=""> -->
                                <h3>Idea Validation Meetup</h3>
                                <p>A platform for startup enthusiasts to get their ideas validated from seasoned mentors
                                    spanning different sectors of the industry.</p>
                            </div>
                            <div class="col-12">
                                <!-- <img src="/images/homepage/events/cic.jpg" style="width: 100%;" alt=""> -->
                                <h3>E-Buddy</h3>
                                <p>A mentoring program for freshers to develop an entrepreneurial mindset and knowledge,
                                    consisting of a series of informal sessions and activities that provide an exposure
                                    to various facets of entrepreneurship.</p>
                            </div>
                            <div class="col-12">
                                <!-- <img src="/images/homepage/events/cic.jpg" style="width: 100%;" alt=""> -->
                                <h3>Startup Walk</h3>
                                <p>An event that provides students the exposure to a startup's working environment as
                                    they interact with the startups in IITM Research Park.</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center p-b-20">
                        <button data-dismiss="modal" class="btn btn-outline" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade events-modals" id="startup-corner-modal" tabindex="-1" role="modal"
            aria-labelledby="modal-label-3" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #001d55;">
                        <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Startup Corner</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                            type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <h3>InternFair</h3>
                                <p>Our aim is to construct a bridge between students and startups that are in the need
                                    for interns. E-Cell IIT Madras caters to this requirement by orchestrating a program
                                    called “Startup Internship”. By connecting students and startups, we offer
                                    opportunities to students such they get enhanced exposure and working experience in
                                    the startup world. Through the startup internship program, students can apply in 10+
                                    sectors and secure internships in them.</p>
                            </div>
                            <div class="col-12">
                                <h3>SSP</h3>
                                <p>An initiative that aims at assisting startups by dispensing necessary services at
                                    concessional rates. Making startup success is a herculean task that require
                                    assistant in many spheres like legal, financial, technical, web and so on. This
                                    initiative will help them get these services from reliable vendors at affordable
                                    prices compared to the markety.</p>
                            </div>
                            <div class="col-12">
                                <h3>TeamUP</h3>
                                <p>A team building initiative in form of a web portal that connects startups/projects of
                                    our institute which are in need of team members, to the students who wish to work
                                    for startups/projects.</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center p-b-20">
                        <button data-dismiss="modal" class="btn btn-outline" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade events-modals" id="lectures-modal" tabindex="-1" role="modal"
            aria-labelledby="modal-label-3" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #001d55;">
                        <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Lecture Series</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                            type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <!-- <img src="/images/homepage/events/cic.jpg" style="width: 100%;" alt=""> -->
                                <h3>Getting to know Institute Founders </h3>
                                <p>An informal and interactive discussion series featuring a startup founder who started
                                    up in insti. </p>
                            </div>
                            <div class="col-12">
                                <!-- <img src="/images/homepage/events/cic.jpg" style="width: 100%;" alt=""> -->
                                <h3>Inspirit</h3>
                                <p>This lecture series brings together business tycoons, CEOs, Start-up founders and
                                    Industry leaders to share their experience and discuss some of the most pressing
                                    issues in the entrepreneurial world and has a footfall of more than 200 people. Past
                                    speakers include experts from OYO rooms, Flipkart, HP, Billdesk, Big Basket and
                                    other giants in the Business world.</p>
                            </div>

                            <div class="col-12">
                                <!-- <img src="/images/homepage/events/cic.jpg" style="width: 100%;" alt=""> -->
                                <h3>E-Discussion</h3>
                                <p>Closed room team learning sessions featuring distinguished IITM alumni who discuss
                                    the recent trends in the entrepreneurial world touching various aspects of business,
                                    finance, analytics and marketing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center p-b-20">
                        <button data-dismiss="modal" class="btn btn-outline" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade events-modals" id="editorial-corner-modal" tabindex="-1" role="modal"
            aria-labelledby="modal-label-3" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #001d55;">
                        <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Editorial Corner</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                            type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <h3>Blogs
                                    <a href="/blog" target="_blank"><i class="icon-external-link"></i></a>
                                </h3>
                                <p>E-Cell IITM's own weekly blog. We cover a wide range of topics such as journey of the
                                    institue, famous startups and all things related to entrepreneurship. Catch our
                                    series on COVID-19 too.</p>
                            </div>
                            <div class="col-12">
                                <h3>E-Updates
                                    <a href="/event/Eupdates" target="_blank"><i class="icon-external-link"></i></a>
                                </h3>
                                <p>Stay updated with recent news of the Entrepreneurial world.</p>
                            </div>
                            <div class="col-12">
                                <h3>Podcasts

                                </h3>
                                <p>Hate to read? Podcasts is the right place for you! Featuring the journeys and
                                    insights of some of the eminent personalities of the Entrepreneurial world, this is
                                    surely a place for an entrepreneurship enthusiast who prefers listening over
                                    reading.</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center p-b-20">
                        <button data-dismiss="modal" class="btn btn-outline" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade events-modals" id="college-associations-modal" tabindex="-1" role="modal"
            aria-labelledby="modal-label-3" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #001d55;">
                        <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">College Associations</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                            type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <h3>Entrepreneurship Development Drive
                                    <a href="/event/Entrepreneurship_Development_Drive" target="_blank"><i
                                            class="icon-external-link"></i></a>
                                </h3>
                                <p>Are you interested in entrepreneurship? Do you want to set up or upscale your E-Cell?
                                    EDD's mission is to help people like you establish an ecosystem facilitating
                                    entrepreneurship, an E-Cell to help budding entrepreneurs grow!</p>
                            </div>
                            <div class="col-12">
                                <h3>Campus Ambassador Programme</h3>
                                <p>Do you wanna be the ambassador of E-Cell IIT Madras in your college? Do you wanna be
                                    a part of the journey with us? Join us as a campus ambassador and be the face of
                                    E-Cell IIT Madras now! Gauranteed goodies and prizes for grabs!</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center p-b-20">
                        <button data-dismiss="modal" class="btn btn-outline" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <section id="events" class="fullscreen">
            <div id="event-divider" class="m-t-0 reverse-shape-divider shape-divider" data-style="13"></div>
            <div class="container">
                <div class="row">
                    <div class="category-box col-lg-4 col-md-4 col-sm-12 col-12 p-l-10 p-r-10 p-b-20 text-center">
                        <div class="inner-cat-box shadow">
                            <h1 class="h3 d-lg-block d-md-block d-block">Competitive Events</h1>
                            <a data-target="#competitive-events-modal" data-toggle="modal" href="#"
                                class="btn btn-sm btn-outline btn-light"><i class="fa fa-expand"></i></a>
                            <div class="cat-img"
                                style="background-image: url(/images/homepage/events/img5.jpg);background-size: cover;">
                            </div>
                        </div>
                    </div>
                    <div class="category-box col-lg-4 col-md-4 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                        <div class="inner-cat-box shadow text-center ">
                            <h1 class="h3 d-lg-block d-md-block d-block">Lecture Series</h1>
                            <a data-target="#lectures-modal" data-toggle="modal" href="#"
                                class="btn btn-sm btn-outline btn-light"><i class="fa fa-expand"></i></a>
                            <div class="cat-img"
                                style="background-image: url(/images/homepage/aboutus/img4.jpg);background-size: cover;">
                            </div>
                        </div>
                    </div>
                    <div class="category-box col-lg-4 col-md-4 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                        <div class="inner-cat-box shadow text-center ">
                            <h1 class="h3 d-lg-block d-md-block d-block" style="line-height: normal !important;">
                                College Associations</h1>
                            <a data-target="#college-associations-modal" data-toggle="modal" href="#"
                                class="btn btn-sm btn-outline "><i class="fa fa-expand"></i></a>
                            <div class="cat-img"
                                style="background-image: url(/images/homepage/events/img4.jpg);background-size: cover;">
                            </div>
                        </div>
                    </div>
                    <div class="category-box col-lg-4 col-md-4 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                        <div class="inner-cat-box shadow text-center ">
                            <h1 class="h3 d-lg-block d-md-block d-block">Mentorship Programmes</h1>
                            <a data-target="#mentorship-modal" data-toggle="modal" href="#"
                                class="btn btn-sm btn-outline btn-light"><i class="fa fa-expand"></i></a>
                            <div class="cat-img"
                                style="background-image: url(/images/homepage/events/img3.jpg);background-size: cover;">
                            </div>
                        </div>
                    </div>
                    <div class="category-box col-lg-4 col-md-4 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                        <div class="inner-cat-box shadow d-blockenter ">
                            <h1 class="h3 d-lg-block d-md-block d-block">Editorial Corner</h1>
                            <a data-target="#editorial-corner-modal" data-toggle="modal" href="#"
                                class="btn btn-sm btn-outline btn-light"><i class="fa fa-expand"></i></a>
                            <div class="cat-img"
                                style="background-image: url(/images/homepage/events/img1.jpg);background-size: cover;">
                            </div>
                        </div>
                    </div>
                    <div class="category-box col-lg-4 col-md-4 col-sm-12 col-12 p-l-10 p-r-10 p-b-20">
                        <div class="inner-cat-box shadow d-blockenter ">
                            <h1 class="h3 d-lg-block d-md-block d-block">Startup Corner</h1>
                            <a data-target="#startup-corner-modal" data-toggle="modal" href="#"
                                class="btn btn-sm btn-outline btn-light"><i class="fa fa-expand"></i></a>
                            <div class="cat-img"
                                style="background-image: url(/images/homepage/events/img2.jpg);background-size: cover;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-divider" data-style="4"></div>
        </section>
        <!-- end: Events -->

        <!-- Testimonials -->
        <!-- <section data-bg-image="images/homepage/testimonials/bg.jpg"> -->
        <section style="background-color: #001f59;">
            <!-- <div class="bg-overlay" data-style="2" style="opacity: 0.5;"></div> -->
            <div class="container">
                <div class="heading-text text-light text-center">
                    <h2>What people are saying!</h2>
                </div>
                <div class="carousel arrows-visibile testimonial testimonial-single testimonial-left" data-items="1"
                    data-autoplay="true" data-loop="true" data-autoplay="1">

                    <div class="testimonial-item">
                        <img src="/images/homepage/testimonials/ritesh.jpeg" alt="">
                        <p class="text-light">Thanks for having me here. Of course, had heard a lot about the campus
                            ever exciting is the
                            community – Excited to do new things, full house in a Sunday afternoon. Wishing them all the
                            best in times to come.</p>
                        <span class="text-light text-small">Ritesh Agarwal</span>
                        <span>Founder and CEO, OYO Rooms</span>
                    </div>

                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <img src="/images/homepage/testimonials/miten.png" alt="">
                        <p class="text-light">Best kept secret of startup ecosystem is right here, E-Cell IITM.</p>
                        <span class="text-light text-small">Miten Mehta</span>
                        <span>Co-Founder, Spinta Global Accelerators</span>
                    </div>
                    <!-- end: Testimonials item-->

                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <img src="/images/homepage/testimonials/hari.jpeg" alt="">
                        <p class="text-light">Excellent work, very well organized loved all the questions!</p>
                        <span class="text-light text-small">Hari Nair</span>
                        <span>HolidayIQ, Ex-Director of KPMG</span>
                    </div>
                    <!-- end: Testimonials item-->

                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <img src="/images/homepage/testimonials/mayur.jpeg" alt="">
                        <p class="text-light">Good to be part of such events… More and more such events would really
                            inspire our students
                            to STARTUP.</p>
                        <span class="text-light text-small">Mayur Mundada</span>
                        <span>Founder and CEO, AmbitionBox</span>
                    </div>
                    <!-- end: Testimonials item-->

                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <img src="/images/homepage/testimonials/pradeep.jpeg" alt="">
                        <p class="text-light">Very professionally run! Great job E-Cell.</p>
                        <span class="text-light text-small">Pradeep Gulipalli</span>
                        <span> Co-Founder, Tiger Analytics</span>
                    </div>
                    <!-- end: Testimonials item-->

                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <img src="/images/homepage/testimonials/ranjan.jpeg" alt="">
                        <p class="text-light">Its amazing to see confluence of talent and spirit come together. Your are
                            a nursery of entrepreneurs.</p>
                        <span class="text-light text-small">Ranjan Malik</span>
                        <span>Co-Founder and MD at “STORM the NORM” Ventures</span>
                    </div>
                    <!-- end: Testimonials item-->

                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <img src="/images/homepage/testimonials/siddharth.jpeg" alt="">
                        <p class="text-light">Very well organized event. Really enjoyed the session. Wishing you all the
                            best.</p>
                        <span class="text-light text-small">Siddharth Pahwa</span>
                        <span> Ex-CEO, Meru Cabs</span>
                    </div>
                    <!-- end: Testimonials item-->

                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <img src="/images/homepage/testimonials/umesh.jpeg" alt="">
                        <p class="text-light">Its fantastic to be back at IIT Madras and I am so glad to see so much
                            enthusiasm amongst the students for entrepreneurship. Keep it up!!</p>
                        <span class="text-light text-small">Umesh Malhotra</span>
                        <span>Co-Founder and Chief Executive, ‎Hippocampus Learning Centres</span>
                    </div>
                    <!-- end: Testimonials item-->
                </div>
                <!-- end: Testimonials -->
            </div>
        </section>

        <!-- Footer: Contact and Copyright -->
        <footer id="footer">
            <div id="particles-bubble" class="particles" style="opacity:  0.3;"></div>
            <div class="reverse-shape-divider shape-divider" data-style="2"></div>
            <div class="footer-content p-b-20">
                <div class="container">
                    <div class="row gap-y">
                        <div class="col-lg-2 p-l-30 d-none d-xl-block d-lg-block"></div>
                        <div class="col-12 col-lg-2 col-md-6"
                            style="text-align:center; width : 100% ; padding-bottom: 20px;">
                            <a href="#"><img src="/images/logos/e-cell_logo_wt_captions.png" alt="logo"
                                    style="width: 200px"></a>
                        </div>
                        <div class="col-lg-1 d-none d-xl-block d-lg-block"></div>
                        <div class="footer-m-fix col-12 col-md-6 col-lg-3 text-center" style="margin-top: 47px">
                            <!-- Footer widget area 1 -->
                            <h4>Contact us</h4>
                            <div class="widget m-b-0 m-l-0">
                                <ul class="list" style="color: #001d55; font-size: 1.4rem; word-wrap: none;">
                                    <li>+91 9871341963 <i class="fa fa-phone"
                                            style="-webkit-transform: scaleX(-1);transform: scaleX(-1);"></i></li>
                                    <li><a style="color: #001d55;" href="mailto:sr_ecell@smail.iitm.ac.in">
                                            sr_ecell@smail.iitm.ac.in
                                            <i class="fa fa-envelope d-lg-none"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end: Footer widget area 1 -->
                        </div>

                        <!-- <div class="col-lg-1 p-l-30 d-none d-xl-block d-lg-block"></div> -->
                        <div class="footer-m-fix col-12 col-md-6 col-lg-3 text-center m-t-70">
                            <!-- Social icons -->
                            <h4>We are social</h4>
                            <div class="social-icons social-icons-colored social-icons-rounded text-center">
                                <ul>
                                    <li class="social-facebook">
                                        <a href="https://www.facebook.com/ECELLIITM/">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="social-instagram">
                                        <a href="https://www.instagram.com/ecell_iitm/?hl=en">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="social-linkedin">
                                        <a href="https://www.linkedin.com/company/e-cell-iitm/?originalSubdomain=in">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="social-youtube">
                                        <a href="https://www.youtube.com/channel/UCtPazFT8VSfAeREcgag4zMw">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li class="social-twitter">
                                        <a href="https://twitter.com/ecelliitm">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <!-- <li class="social-youtube">
                                        <a href="mailto:events_ecell@smail.iitm.ac.in">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li> -->
                                </ul>
                            </div>
                            <!-- end: Social icons -->


                        </div>
                        <!--Modal -->
                        <div class="modal fade " id="modal" tabindex="-1" role="modal" aria-labelledby="modal-label"
                            aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content" style="background-color: #001f59;">
                                    <div class="modal-header" style="background-color: #001f59;">
                                        <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Thanks for your
                                            response.</h4>

                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                        <!-- end: Modal -->
                        <div class='col-md-12'>
                            <div class="card-body">
                                <form id="form2" class="form-validate" method='POST' action='/data/contactform'
                                    autocomplete="off">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input style="border: grey solid 2px;" type="text" id='name' name="name"
                                                    class="form-control" placeholder="Your Name" onkeyup="success()"
                                                    required>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" style="border: grey solid 2px;" id='email'
                                                    name="email" class="form-control" placeholder="Your Email"
                                                    onkeyup="success()" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" style="border: grey solid 2px;" id='subject'
                                                    name="subject" class="form-control" placeholder="Subject"
                                                    onkeyup="success()" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" style="border: grey solid 2px; border-radius: 5px;">
                                                <textarea name="message" id='message' class="form-control"
                                                    placeholder="Your Message" style="width: 100%; min-height: 150px;"
                                                    onkeyup="success()" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <!-- <button  type="submit" id="form-submit" data-target="#modal" data-toggle="modal" href="#"><i class="fa fa-paper-plane"></i>&nbsp;Send message</button> -->
                                                <button class="btn" type="submit" id="form-submit" data-target="#modal"
                                                    data-toggle="modal" href="#" onclick="success()" disabled><i
                                                        class="fa fa-paper-plane"></i>&nbsp;Send message</button>
                                                <!-- <a class="btn" data-target="#modal" data-toggle="modal" href="#">Medium Modal</a> -->
                                                <script>
                                                    function success() {
                                                        if (document.getElementById("name").value === "" || document.getElementById("email").value === "" || validateEmail(document.getElementById("email").value) === false || document.getElementById("subject").value === "" || document.getElementById("message").value === "") {
                                                            document.getElementById('form-submit').disabled = true;


                                                        } else {
                                                            document.getElementById('form-submit').disabled = false;
                                                        }
                                                    }

                                                    function validateEmail(sEmail) {
                                                        var reEmail = /^(?:[\w\!\#\$\%\&\'\*\+\-\/\=\?\^\`\{\|\}\~]+\.)*[\w\!\#\$\%\&\'\*\+\-\/\=\?\^\`\{\|\}\~]+@(?:(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9\-](?!\.)){0,61}[a-zA-Z0-9]?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9\-](?!$)){0,61}[a-zA-Z0-9]?)|(?:\[(?:(?:[01]?\d{1,2}|2[0-4]\d|25[0-5])\.){3}(?:[01]?\d{1,2}|2[0-4]\d|25[0-5])\]))$/;

                                                        if (!sEmail.match(reEmail)) {
                                                            // alert("Invalid email address");
                                                            return false;
                                                        }

                                                        return true;

                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Abhijit <i class="fab fa-whatsapp"></i> : +91
                                        8895219514</div>
                                    <div class="col-lg-6 col-md-6">Shobhan <i class="fab fa-whatsapp"></i> : +91
                                        6385188219</div>
                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Abhijit <i class="fab fa-whatsapp"></i> : +91 8895219514</div>
                                <div>Shobhan <i class="fab fa-whatsapp"></i> : +91 6385188219</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->

    <a id="scrollTop">
        <i class="fa fa-angle-up"></i><i class="fa fa-angle-double-up"></i></a>
    <!--Plugins-->
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.js"></script>

    <!--Template functions-->
    <script src="/js/functions.js"></script>

    <!--Particles-->
    <!-- Partical js base file  -->
    <script src="/plugins/particles/particles.js" type="text/javascript"></script>
    <!--Particles stars-->
    <script src="/plugins/particles/particles-stars.js" type="text/javascript"></script>
    <!--Particles bubbles-->
    <script src="/plugins/particles/particles-bubble.js" type="text/javascript"></script>
    <!-- jQuery Validate plugin files-->
    <script src="plugins/validate/validate.min.js"></script>
    <script src="plugins/validate/valildate-rules.js"></script>
</body>
</body>

</html>