<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Past Sponsors of Entrepreneurship Cell, IITM">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sponsors | E-Cell | IIT Madras</title>
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo_white.png" type="image/gif" sizes="16x16">
    <style>
        img {
            width: 100%;
        }
    </style>
</head>

<body>
    <!-- TEAM -->
    <div class="body-inner">
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true"
            class="header-sticky header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-fixed">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" class="scroll-to">HOME</a></li>
                                    <li><a href="/blog" target="_blank">BLOGS</a></li>
                                    <li class="dropdown" >
                                        <a href="#">INITIATIVES<i class="text-right fa fa-angle-down"></i></a>
                                        <ul id="my-dropdown-nav" class="dropdown-menu">
                                            <li>
                                                <a target="blank"
                                                    href="/event/team-up">Team Up</a>
                                            </li> 
                                            <li>
                                                <a target="blank"
                                                    href="/event/Startup_Series">Startup Series</a>
                                            </li>
                                          <li>
                                              <a target="blank"
                                                  href="/event/Eupdates">E-UPDATES</a>
                                          </li>
                                          <li>
                                              <a target="blank"
                                                  href="/event/Plandemic">PLANDEMIC</a>
                                          </li>
                                          <li>
                                              <a target="blank"
                                                  href="/event/Ideathon">IDEATHON</a>
                                          </li>
                                          <li>
                                              <a target="blank" href="/event/Entrepreneurship_Development_Drive">Entrepreneurship
                                                  Development Drive</a>
                                          </li>
                                          <li>
                                            <a target="blank" href="/cap">Campus Ambassador Program</a>
                                        </li>
                                            <li>
                                                <a href="/home#events" class="scroll-to">OTHER EVENTS</a>
                                            </li>
                                        </ul>
                                    </li>
                                   
                                    <li><a href="/home/Team" target="_blank">TEAM</a></li>
                                    <li><a href="/home#footer" class="scroll-to">CONTACT</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <section id="sponsors" class="fullscreen p-t-100" style="background: #fff">
            <div class="container m-t-0">
                <h1 id="sponsors-heading" class="text-medium text-center">PAST SPONSORS</h1>
                <h1 class="h5 text-center">For any sponsorship related queries, do reach out to us at <a
                        style="color: rgb(63, 148, 223) !important;"
                        href="mailto:corporate_ecell@smail.iitm.ac.in">corporate_ecell@smail.iitm.ac.in <i
                            class="fa fa-envelope"></i></a> </h1>
                <div class="sponsors-row row" data-margin="10">
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-12 shadow d-none d-lg-block d-md-block">
                        <img src="/images/sponsors/iitma.png" alt="">
                        <!-- <div class="sponsor-label"><h1>IIT Madras Alumni Association</h1></div> -->
                    </div>
                    <div class="sponsor-item col-lg-12 shadow d-lg-none d-md-none">
                        <img src="/images/sponsors/iitma-mobile.png" alt="">
                        <!-- <div class="sponsor-label"><h1>IIT Madras Alumni Association</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/edii-tn.png" alt="">
                        <!-- <div class="sponsor-label"><h1>EDII Tamil Nadu</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/gcloud.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Google Cloud</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/fb.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Facebook</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/l&t.png" alt="">
                        <!-- <div class="sponsor-label"><h1>L&T Realty</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/oil-india.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Oil India</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/ubi.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Union Bank of India</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/airtel.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Airtel</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/startup-jalsa.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Startup Jalsa</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/oyo-ws.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Oyo Workspaces</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/yourstory.png" alt="">
                        <!-- <div class="sponsor-label"><h1>YourStory</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/network-capital.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Network Capital</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/newsvoir.png" alt="">
                        <!-- <div class="sponsor-label"><h1>NewsVoir</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/d2c.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Dare2Compete</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/townscript.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Townscript</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/bisleri.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Bisleri</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/zebronics.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Zebronics</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/croma.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Croma</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/souled-store.png" alt="">
                        <!-- <div class="sponsor-label"><h1>The Souled Store</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/oyo.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Oyo Rooms</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/ginger.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Ginger Hotel</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/redbus.png" alt="">
                        <!-- <div class="sponsor-label"><h1>RedBus</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                </div>
                <h1 id="sponsors-heading" class="p-t-50 text-medium text-center">INVESTMENT SPONSORS</h1>
                <div class="sponsors-row row" data-margin="10">
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/ah-ventures.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Ah! Ventures</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/chiratae.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Chiratae Ventures</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/equanimity.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Equanimity Ventures</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/artha.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Artha Venture Fund</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/100x.png" alt="">
                        <!-- <div class="sponsor-label"><h1>100x.VC</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/tie-chennai.png" alt="">
                        <!-- <div class="sponsor-label"><h1>TiE Chennai</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/netapp-exc.png" alt="">
                        <!-- <div class="sponsor-label"><h1>NetApp Excellerator</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/chennai-angels.png" alt="">
                        <!-- <div class="sponsor-label"><h1>The Chennai Angels</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/indian-angels.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Indian Angels Network</h1></div> -->
                    </div>
                    <!-- end: Sponsor item -->
                    <!-- Sponsor item -->
                    <div class="sponsor-item col-lg-3 col-6 col-md-6">
                        <img class="shadow" src="/images/sponsors/chandigarh-angel.png" alt="">
                        <!-- <div class="sponsor-label"><h1>Chandigarh Angels Network</h1></div> -->
                    </div>
                </div>
                <h1 id="sponsors-heading" class="text-medium p-t-50 text-center">CONSISTENT ECOSYSTEM PARTNER
                </h1>
                <div class="sponsors-row row" data-margin="10">
                    <div class="col-lg-3"></div>
                    <div class="sponsor-item col-lg-6 col-md-12">
                        <img class="shadow" src="/images/sponsors/iitmic.png" alt="">
                        <!-- <div class="sponsor-label"><h1>IITM Incubation Cell</h1></div> -->
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>

            <div class="text-center" style="width: 100%">
                <h1 class="h3 text-center p-l-20 p-r-20">For any sponsorship related queries, do reach out to
                    us at <a style="color: #0e64f9 !important;"
                        href="mailto:corporate_ecell@smail.iitm.ac.in">corporate_ecell@smail.iitm.ac.in <i
                            class="fa fa-envelope"></i></a> </h1>
            </div>
        </section>

        <footer id="footer">
            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Abhijit <i class="fab fa-whatsapp"></i> : +91
                                        8895219514</div>
                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Abhijit <i class="fab fa-whatsapp"></i> : +91 8895219514</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <a id="scrollTop">
        <i class="fa fa-angle-up"></i><i class="fa fa-angle-double-up"></i></a>
    <!--Plugins-->
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/custom.js"></script>
    <!--Template functions-->
    <script src="/js/functions.js"></script>
</body>

</html>
