<!DOCTYPE html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Startup Series, E-Cell IIT Madras">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Startup Series
    </title>
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/blogs.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/StartupSeriesStyles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo_white.png" type="image/gif" sizes="16x16">
    <script src="/js/update.js">
    </script>

</head>

<body onload="loader()">
    <div class="body-inner">
        <!-- *Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true" class="header header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-default" style="margin: 0 !important;">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" class="_blank">HOME</a></li>
                                    <li class="dropdown">
                                        <a href="#">INITIATIVES<i class="text-right fa fa-angle-down"></i></a>
                                        <ul id="my-dropdown-nav" class="dropdown-menu">
                                            <li>
                                                <a target="blank"
                                                    href="/event/Startup_Series">Startup Series</a>
                                            </li>
                                            <li>
                                                <a target="blank"
                                                    href="/event/Eupdates">E-UPDATES</a>
                                            </li>
                                            <li>
                                                <a target="blank"
                                                    href="/event/Plandemic">PLANDEMIC</a>
                                            </li>
                                            <li>
                                                <a target="blank"
                                                    href="/event/Ideathon">IDEATHON</a>
                                            </li>
                                            <li><a target="blank"
                                                href="/event/Entrepreneurship_Development_Drive">ENTREPRENEURSHIP DEVELOPMENT DRIVE</a></li>
                                            <li>
                                                <li>
                                                    <a target="blank" href="/cap">CAMPUS AMBASSADOR PROGRAM</a>
                                                </li>
                                                <a target="blank" href="/event/Team_Building_Forum">TEAM
                                                    BUILDING FORUM</a>
                                            </li>

                                        </ul>
                                    </li>
                                    
                                    <li><a href="/home/Team">TEAM</a></li>

                                    <li><a href="/home/Sponsors" target="_blank">PAST SPONSORS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
            </div>
        </header>

        <div class="page">
            <div class="head-container">
                <h1 class="head">STARTUP</h1>
                <h2 class="sub-head">SERIES</h2>
                    <button class="header-register-button" style="cursor: not-allowed;" >REGISTRATIONS CLOSED</button>
            </div>
            <div class="content-container" id="left-content-container">
                <h1 class="content-head">What is Startup Series?</h1>
                <span class="content">
                    Startup Series is a 6-week long program for aspiring entrepreneurs
                    who want to solve complex challenges in society in an innovative way.
                    The program is designed to provide idea-phased startups a
                    structured framework that consists of a series of Workshops and
                    Knowledge-Transfer sessions on essential aspects of bringing a
                    product to the market and an experiential component where
                    participants get to simultaneously apply the techniques learnt in
                    building and validating their solutions.
                </span>
            </div>
            <div class="content-container" id="right-content-container">
                <h1 class="content-right-head">Our Vision</h1>
                <span class="content-right">
                    Vision of Startup Series is to build, nurture and grow the startup
                    ecosystem in institute by strengthening support for early stage startups.
                    Our goal is to create an environment for budding entrepreneurs to assist
                    startup ideas technically and help orient their business strategy through
                    domain specific mentorship to prepare them for the startup arena.
                </span>
            </div>
        </div>

            <!--timeline-->
    <div class="heading-text heading-section text-center m-b-40" style="padding-top: 30px;" >
        <h2>Timeline</h2>
    </div>
    <section style=" background-color: #e2f3f3;padding-bottom: 20px;">
     <div class="container">
        <div class="row justify-content-center">
        <div class="content col-lg-8">
        <div class="card" style="border-radius: 30px;">
            <div class="card-body">
                <!-- Timeline -->
                <ul class="timeline">
                    <!--Timeline item-->
                    <li class="timeline-item">
                        <div class="timeline-icon"><i class="icon-life-buoy"></i></div>
                        <h4>Registrations</h4>
                        <div class="timeline-item-date">24th Aug to 31st Aug (11:59 PM)</div>
                    </li>
                    <!--end: Timeline item-->
                    <!--Timeline item-->
                    <li class="timeline-item">
                        <div class="timeline-icon"><i class="icon-heart"></i></div>
                        <h4>Shortlisting</h4>
                        <div class="timeline-item-date">1st Sept – 3rd Sept</div>
                    </li>
                    <!--end: Timeline item-->
                    <!--Timeline item-->
                    <li class="timeline-item">
                        <div class="timeline-icon"><i class="icon-unlock"></i></div>
                        <h4>Workshop: Design Thinking</h4>
                        <div class="timeline-item-date">5th Sept</div>
                    </li>
                    <!--end: Timeline item-->
                    <!--Timeline item-->
                    <li class="timeline-item">
                        <div class="timeline-icon"><i class="icon-play-circle"></i></div>
                        <h4>KT: Competitor Analysis and USP</h4>
                        <div class="timeline-item-date">6th Sept</div>
                    </li>
                    <!--end: Timeline item-->
                    <!--Timeline item-->
                    <li class="timeline-item">
                        <div class="timeline-icon"><i class="icon-truck"></i></div>
                        <h4>KT: Understand What Users Want</h4>
                        <div class="timeline-item-date">12th Sept</div>
                    </li>
                    <!--end: Timeline item-->
                    <!--Timeline item-->
                    <li class="timeline-item">
                        <div class="timeline-icon"><i class="icon-sunrise"></i></div>
                        <h4>Mentor Mapping & User Interviews</h4>
                        <div class="timeline-item-date">13th Sept – 19th Sept</div>
                    </li>
                    <!--end: Timeline item-->
                    <!--Timeline item-->
                    <li class="timeline-item">
                        <div class="timeline-icon"><i class="icon-codepen"></i></div>
                        <h4>KT: Proof of Concept & Planning an MVP</h4>
                        <div class="timeline-item-date">20th Sept</div>
                    </li>
                    <!--end: Timeline item-->
                    <!--Timeline item-->
                    <li class="timeline-item">
                        <div class="timeline-icon"><i class="icon-file"></i></div>
                        <h4>Workshop: Lean Model Canvas</h4>
                        <div class="timeline-item-date">26th Sept</div>
                    </li>
                    <!--end: Timeline item-->
                    <!--Timeline item-->
                    <li class="timeline-item">
                        <div class="timeline-icon"><i class="icon-filter"></i></div>
                        <h4>User Interviews</h4>
                        <div class="timeline-item-date">27th Sept – 3rd Oct</div>
                    </li>
                    <!--end: Timeline item-->
                    <!--Timeline item-->
                    <li class="timeline-item">
                        <div class="timeline-icon"><i class="icon-award"></i></div>
                        <h4>KT: How to Achieve Product-Market Fit</h4>
                        <div class="timeline-item-date">4th Oct</div>
                    </li>
                    <!--end: Timeline item-->
                    <!--Timeline item-->
                    <li class="timeline-item">
                        <div class="timeline-icon"><i class="icon-unlock"></i></div>
                        <h4>Workshop: Art of Pitching</h4>
                        <div class="timeline-item-date">11th Oct</div>
                    </li>
                    <!--end: Timeline item-->
                    <!--Timeline item-->
                    <li class="timeline-item">
                        <div class="timeline-icon"><i class="icon-heart"></i></div>
                        <h4>Finale: B-Plan Pitching</h4>
                        <div class="timeline-item-date">18th Oct</div>
                    </li>
                    <!--end: Timeline item-->
                </ul>
                <!-- end: Timeline -->
            </div>
        </div>
        </div>
        </div>
     </div>
    </section>
    <!--end : timeline-->

    <!-- <div class="heading-text heading-section text-center m-b-40" style="padding-top: 30px;" >
        <h2>Our Speakers</h2>
    </div>
        <div class="speaker-container">
            <div class="speaker">
                <img alt="speaker" src="/blogimg/post2-big.jpg">

                            <div class="team-desc">
                                <h3 style="font-size: 24px;">
                                    Dr. Abha Rishi
                                </h3>
                                <h3 style="color: gray;font-size: 16px !important;line-height: 22px !important;">CEO, Atal Incubation Centre</h3>
                                <div class="align-center m-t-20">
                                <a data-toggle="modal" href="#"
                            class="btn btn-dark btn-sm btn-outline">Know More</a>
                                </div>
                            </div>
            </div>
            <div class="speaker">
                <img alt="speaker" src="/blogimg/post2-big.jpg">
                            <div class="team-desc">
                                <h3 style="font-size: 24px;">
                                    Dr. Abha Rishi
                                </h3>
                                <h3 style="color: gray;font-size: 16px !important;line-height: 22px !important;">CEO, Atal Incubation Centre</h3>
                                <div class="align-center m-t-20">
                                <a data-toggle="modal" href="#"
                            class="btn btn-dark btn-sm btn-outline">Know More</a>
                                </div>
                            </div>
            </div>
            <div class="speaker">
                <img alt="speaker" src="/blogimg/post2-big.jpg">
                            <div class="team-desc">
                                <h3 style="font-size: 24px;">
                                    Dr. Abha Rishi
                                </h3>
                                <h3 style="color: gray;font-size: 16px !important;line-height: 22px !important;">CEO, Atal Incubation Centre</h3>
                                <div class="align-center m-t-20">
                                <a data-toggle="modal" href="#"
                            class="btn btn-dark btn-sm btn-outline">Know More</a>
                                </div>
                            </div>
            </div>
        </div> -->

    <!--Why Register for Startup Services:-->
     <section style="padding-bottom:50px;padding-top:50px">
        <div class="heading-text heading-section text-center m-b-40">
            <h2 style="padding: 10px;">Why Register for Startup Series?</h2>
        </div>
        <div class="row col-no-margin text-box-startup-container">
            <!--Box 1-->
                <div class="text-box-startup col-lg-4 col-12 col-sm-12 col-md-4 col-xl-4" style="cursor:auto;">
                    <img src="/images/edd/what_do_we_have/module.png" style="width: 114px;height: 84px;border-radius: 20px;">
                    <h3>Build</h3>
                            <p>Build you business model.</p>
                    </div>
                <!--End: Box 1-->
                <!--Box 2-->
                    <div class="text-box-startup col-lg-4 col-12 col-sm-12 col-md-4 col-xl-4" style="cursor:auto;">
                        <img src="/images/edd/what_do_we_have/workshop.png" style="width: 114px;height: 84px;border-radius: 20px;">
                           <h3>Workshop</h3>
                           <p>Opportunity to attend sessions on essential aspects of bringing product to the market.</p>
                </div>
                <!--End: Box 2-->
                <!--Box 3-->
                    <div class="text-box-startup col-lg-4 col-12 col-sm-12 col-md-4 col-xl-4" style="cursor:auto;">
                        <img src="/images/edd/what_do_we_have/webinar.png" style="width: 114px;height: 84px;border-radius: 20px;">
                           <h3>Mentorship</h3>
                           <p>Get mentored by technical and business experts.</p>

                </div>
                <!--End: Box 3-->
                <!--Box 4-->
                    <div class="text-box-startup col-lg-4 col-12 col-sm-12 col-md-4 col-xl-4" style="cursor:auto;">
                        <img src="/images/edd/what_do_we_have/conference.png" style="width: 114px;height: 84px;border-radius: 20px;">
                           <h3>Measure</h3>
                           <p>Measure customer feedback and improve your product.</p>
                   </div>
                <!--End: Box 4-->
                <!--Box 5-->
                    <div class="text-box-startup col-lg-4 col-12 col-sm-12 col-md-4 col-xl-4" style="cursor:auto;">
                        <img src="/images/edd/what_do_we_have/competition.png" style="width: 114px;height: 84px;border-radius: 20px;">
                           <h3>Network</h3>
                           <p>Networking opportunities and one on one interaction with entrepreneurs.</p>
                   </div>
                <!--End: Box 5-->
                <!--Box 6-->
                    <div class="text-box-startup col-lg-4 col-12 col-sm-12 col-md-4 col-xl-4" style="cursor:auto;">
                        <img src="/images/edd/what_do_we_have/task.png" style="width: 114px;height: 84px;border-radius: 20px;">
                           <h3>Pitch</h3>
                           <p>Opportunity to pitch your product in front of investors in Finale.</p>
                   </div>
                <!--End: Box 6-->
            </div>
            </section>
        <!--End: Why Register for Startup Services:-->
        <!-- SPEAKERS -->
        <div class="modal fade events-modals" id="saurabh-modal" tabindex="-1" role="modal"
            aria-labelledby="modal-label-3" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #251e26;">
                        <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Saurabh Dayal</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                            type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <img class="d-none d-lg-block d-md-block" src="/images/Startup_Series/saurbh.jpg" alt="Saurabh image" style="float: left; margin-right:20px; width:100%; max-width: 200px;">
                        <img class="d-block d-lg-none d-md-none" src="/images/Startup_Series/saurbh.jpg" alt="Saurabh image" style="width:100%; margin-bottom: 20px;">
                        <br><br>
                            Saurabh Dayal is the founder of Cleardekho.com which is a budget eyewear brand with 50+ stores in India to provide standardised and consistent affordable optical solutions to consumers.He is also having 8+ years of sales, technology & e-commerce experience at PayTM (the largest e-wallet in India), Wipro & HCL. He is Business development and Management expert.
                    </div>
                    <div class="text-center p-b-20">
                        <button data-dismiss="modal" class="btn btn-outline btn-dark" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade events-modals" id="samar-modal" tabindex="-1" role="modal"
        aria-labelledby="modal-label-3" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #251e26;">
                    <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Samar Singla</h4>
                    <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                        type="button">×</button>
                </div>
                <div class="modal-body">
                    <img class="d-none d-lg-block d-md-block" src="/images/Startup_Series/samar.jpg" alt="Samar image" style="float: left; margin-right:20px; width:100%; max-width: 200px;">
                    <img class="d-block d-lg-none d-md-none" src="/images/Startup_Series/samar.jpg" alt="Samar image" style="width:100%; margin-bottom: 20px;">
                      <br><br>
                    Samar Singla is the founder and CEO of Jugnoo ,Jungleworks and Founder of Clicklabs. He did his Bachelors from IIT Delhi and masters from IIT Bombay. He was also worked as a Scientist at CERN. He is also an angel investor and has been actively investing in startups.
                </div>
                <div class="text-center p-b-20">
                    <button data-dismiss="modal" class="btn btn-outline btn-dark" type="button">Close</button>
                </div>
            </div>
        </div>
        </div>
        <div class="modal fade events-modals" id="varun-modal" tabindex="-1" role="modal"
        aria-labelledby="modal-label-3" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #251e26;">
                    <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Varun Kumar </h4>
                    <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                        type="button">×</button>
                </div>
                <div class="modal-body">
                    <img class="d-none d-lg-block d-md-block" src="/images/Startup_Series/varun.jpg" alt="Varun image" style="float: left; margin-right:20px; width:100%; max-width: 200px;">
                    <img class="d-block d-lg-none d-md-none" src="/images/Startup_Series/varun.jpg" alt="Varun image" style="width:100%; margin-bottom: 20px;">
                      <br><br>
                    Varun Kumar is vice President of Detect technologies. He is having more than 7 years of experience in leading cross-functional and multicultural teams. He did his MBA from IIM Bangalore and B.Tech from NIT Jamshedpur.
                </div>
                <div class="text-center p-b-20">
                    <button data-dismiss="modal" class="btn btn-outline btn-dark" type="button">Close</button>
                </div>
            </div>
        </div>
        </div>
        <div class="modal fade events-modals" id="mandeep-modal" tabindex="-1" role="modal"
        aria-labelledby="modal-label-3" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #251e26;">
                    <h4 id="modal-label-3" class="h4 text-center text-light m-b-0">Mandeep Toor</h4>
                    <button aria-hidden="true" data-dismiss="modal" class="text-medium p-t-0 close"
                        type="button">×</button>
                </div>
                <div class="modal-body">
                    <img class="d-none d-lg-block d-md-block" src="/images/Startup_Series/Mandeep.jpg" alt="Mandeep image" style="float: left; margin-right:20px; width:100%; max-width: 200px;">
                    <img class="d-block d-lg-none d-md-none" src="/images/Startup_Series/Mandeep.jpg" alt="Mandeep image" style="width:100%; margin-bottom: 20px;">
                      <br><br>
                    Mandeep Toor is design thinking, behaviour change, Innovation facilitator at Tinkerlabs. He is also an entrepreneur and is very well known for his design thinking workshops. He is having a diploma in Entrepreneurship and business management as well as MBA from Army Institute of management.
                </div>
                <div class="text-center p-b-20">
                    <button data-dismiss="modal" class="btn btn-outline btn-dark" type="button">Close</button>
                </div>
            </div>
        </div>
        </div>
    <section id="speakers" class="light p-t-50 p-b-40" style="background: linear-gradient(#54cce745, #ffffff);">
            <div class="container ">
                <h1 class="text-center m-b-30">Speakers</h1>
                <div class="row team-members">
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/Startup_Series/saurbh.jpg" />
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size: 24px;">
                                    Saurabh Dayal
                                </h3>
                                <h3 style="color: gray;">Founder<br>Cleardekho.com</h3>
                                <div class="align-center m-t-20">
                                <a data-target="#saurabh-modal" data-toggle="modal" href="#"
                            class="btn btn-dark btn-sm btn-outline">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/Startup_Series/samar.jpg" />
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size: 24px;">
                                    Samar Singla
                                </h3>
                                <h3 style="color: gray;">CEO<br>Jugnoo</h3>
                                <div class="align-center m-t-20">
                                <a data-target="#samar-modal" data-toggle="modal" href="#"
                                class="btn btn-dark btn-sm btn-outline">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/Startup_Series/varun.jpg" />
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size: 24px;">
                                    Varun Kumar
                                </h3>
                                <h3 style="color: gray;">Vice-President<br> Detect Technologies</h3>
                                <div class="align-center m-t-20">
                                <a data-target="#varun-modal" data-toggle="modal" href="#"
                                class="btn btn-dark btn-sm btn-outline">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/Startup_Series/Mandeep.jpg" />
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size: 24px;">
                                    Mandeep Toor
                                </h3>
                                <h3 style="color: gray;">Design Thinking Facilitator<br>Tinkerlabs</h3>
                                <div class="align-center m-t-20">
                                <a data-target="#mandeep-modal" data-toggle="modal" href="#"
                                class="btn btn-dark btn-sm btn-outline">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- end: SPEAKERS -->
            <!--FAQ-->
        <section style ="padding-top: 0px;">
            <div class = "container">
            <div class="heading-text heading-section text-center m-b-40" data-animate="fadeInUp" data-animate-delay="400">
                <h2>Frequently Asked Questions</h2>
            </div>
            <div class="accordion accordion-shadow">
                <div class="ac-item">
                    <h5 class="ac-title"><i class="fa fa-rocket"></i>Who can participate?</h5>
                    <div class="ac-content">
                        <p> Any Idea phase startup from IIT Madras can participate. </p>
                    </div>
                </div>
                <div class="ac-item">
                    <h5 class="ac-title"><i class="fa fa-heart"></i>What is the selection process?</h5>
                    <div class="ac-content">
                        <p> Startups are supposed to apply by filling application form and startup market report given on website. Startups who participated in Ideathon can submit their idea validation reports (part-1 and 2) instead of market report. Application forms submitted by startups will be basis for shortlisting and the final selection will be based on informal interview with E-Cell IITM members. </p>
                    </div>
                </div>
                <div class="ac-item">
                    <h5 class="ac-title"><i class="icon-message-circle"></i>How many startups will be selected to participate in program?</h5>
                    <div class="ac-content">
                        <p> Up to 12 startups will be selected into the Startup Series program. </p>
                    </div>
                </div>
                <div class="ac-item">
                    <h5 class="ac-title"><i class="icon-activity"></i>What kind of mentoring will startups get?</h5>
                    <div class="ac-content">
                        <p>Each selected startup will be assigned a domain expert mentor to help them orient their business strategies and solve problems faced in early stage.</p>
                    </div>
                </div>
                <div class="ac-item">
                    <h5 class="ac-title"><i class="icon-layout"></i>What is outcome of program?</h5>
                    <div class="ac-content">
                        <p>The program is aimed at creating an environment for budding entrepreneurs to assist
                            startup ideas technically and help orient their business strategy through
                            domain specific mentorship to prepare them for the startup arena.</p>
                    </div>
                </div>
                <div class="ac-item">
                    <h5 class="ac-title"><i class="icon-flag"></i>Do startup founders have to be from IIT Madras to be eligible?</h5>
                    <div class="ac-content">
                        <p>Yes.</p>
                    </div>
                </div>
            </div>
            </div>
            </section>
            <!-- end: FAQ-->
            <!-- Announcement -->
            <section style="background-color: #e2f3f3;padding-bottom:50px;padding-top:50px">
                <div class="container">
                    <div class="heading-text heading-line text-center">
                        <h3 class="impAnnouncement">Important Announcement !!!</h3>
                        <span class ="impann">Registration will close on 31st August 11:59 PM</span>
                    </div>
                </div>
            </section>
            <!-- end: Anouncement -->
             <!-- PRE-FOOTER -->
             <section id="contact" class="background-grey p-t-40 p-b-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon-box effect small clean">
                                <div class="icon">
                                    <a href="#"><i class="fa fa-map-marker-alt"></i></a>
                                </div>
                                <h3>Our Location</h3>
                                <p><strong>IIT Madras:</strong>
                                    <br> Indian Institute of Technology Madras
                                    <br> IIT P.O. Chennai 600 036
                                    <br>Tamil Nadu, INDIA
                                    <br>
                                </p>
                            </div>
                        </div>



                        <div class="col-lg-4">
                            <div class="icon-box effect small clean">
                                <div class="icon">
                                    <a href="#"><i class="fa fa-phone"></i></a>
                                </div>
                                <h3>Contact</h3>
                                <p><strong>Phone:</strong>
                                    <br/>Adithya Beera (+91)9390054215
                                    <br/>Anurag Gupta (+91)8000967089
                                    <br/>Gaurav Jhawar (+91)8239754801
                                    <br/>Nimish Gupta (+91)9701116602
                                </p>
                            </div>
                        </div>


                        <div class="col-lg-4 m-b-30">
                            <h4 style="color:black">We are social</h4>
                            <div class="social-icons social-icons-light social-icons-colored-hover">
                                <ul>
                                    <!-- <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li> -->
                                    <li class="social-facebook"><a href="https://www.facebook.com/ECELLIITM/"target="blank"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <!-- <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                             <li class="social-vimeo"><a href="#"><i class="fab fa-vimeo"></i></a></li> -->
                                    <li class="social-youtube"><a
                                            href="https://www.youtube.com/channel/UCtPazFT8VSfAeREcgag4zMw"target="blank"><i
                                                class="fab fa-youtube"></i></a></li>
                                    <li class="social-instagram"><a href="https://www.instagram.com/ecell_iitm/?hl=en"target="blank"><i
                                                class="fab fa-instagram"></i></a></li>
                                    <!-- <li class="social-pinterest"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                             <li class="social-gplus"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                             <li class="social-dribbble"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                             <li class="social-skype"><a href="#"><i class="fab fa-skype"></i></a></li> -->
                                    <li class="social-linkedin"><a
                                            href="https://www.linkedin.com/company/e-cell-iitm/?originalSubdomain=in"target="blank"><i
                                                class="fab fa-linkedin"></i></a></li>
                                    <!-- <li class="social-behance"><a href="#"><i class="fab fa-behance"></i></a></li>
                                             <li class="social-flickr"><a href="#"><i class="fab fa-flickr"></i></a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end: PRE-FOOTER -->
            <!-- Footer -->
            <footer id="footer">

                <div class="copyright-content p-t-20 p-b-20">
                    <div class="container">
                        <div class="row h5">
                            <div class="col-lg-6">
                                <div class="d-none d-xl-block d-lg-block">
                                    &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                    <br>
                                    All Rights Reserved.
                                </div>
                                <div class="d-block d-lg-none text-center">
                                    &copy;Developed by
                                    <br>
                                    <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                    <br>
                                    All Rights Reserved.
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-none d-xl-block d-lg-block">
                                    <span>For issues related to the website, contact:</span>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">Shobhan  <i class="fab fa-whatsapp"></i> :
                                            (+91)6385188219</div>

                                    </div>
                                </div>
                                <div class="d-block d-lg-none text-center">
                                    <br>
                                    <span>For issues related to the website, contact:</span>
                                    <div>Shobhan  <i class="fab fa-whatsapp"></i> : (+91)6385188219</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end: Footer -->
        </div>
        </div>
        <!-- end: Body Inner -->
        <!-- Scroll top -->
        <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
        <!--Plugins-->
        <script src="/js/jquery.js"></script>
        <script src="/js/plugins.js"></script>

        <!--Template functions-->
        <script src="/js/functions.js"></script>
        <script>
            function VerticalTimeline( element ) {
           this.element = element;
           this.blocks = this.element.getElementsByClassName("cd-timeline__block");
           this.images = this.element.getElementsByClassName("cd-timeline__img");
           this.contents = this.element.getElementsByClassName("cd-timeline__content");
           // ..
        };

        VerticalTimeline.prototype.showBlocks = function() {
           var self = this;
           for( var i = 0; i < this.blocks.length; i++) {
              (function(i){
                 if( self.contents[i].classList.contains("cd-timeline__content--hidden") && self.blocks[i].getBoundingClientRect().top <= window.innerHeight*self.offset ) {
                    // add bounce-in animation
                    self.images[i].classList.add("cd-timeline__img--bounce-in");
                    self.contents[i].classList.add("cd-timeline__content--bounce-in");
                    self.images[i].classList.remove("cd-timeline__img--hidden");
                    self.contents[i].classList.remove("cd-timeline__content--hidden");
                 }
              })(i);
           }
        };
        </script>
        </body>

        </html>
