<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="TeamUp - Let's build it together, E-Cell IIT Madras" />
    <link rel="icon" type="image/png" href="/images/logos/e-cell_favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Document title -->
    <title>TeamUp | E-Cell IITM</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/teamUp.css" rel="stylesheet" />
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <header id="header" data-transparent="true" data-fullwidth="true" class="submenu-light">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo" style="padding-top: 10px !important;">
                        <a href="index.html">
                            <img class="logo-default" src="/images/logos/e-cell_logo_wt_captions.png" alt="E-Cell-Logo">
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="col-md-6 container">
                            <nav>
                                <ul>
                                    <li class="current"><a href="/home" class="scroll-to">HOME</a></li>
                                    <li class="dropdown">
                                        <a href="#">
                                            INITIATIVES
                                            <i class="text-right fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a target="_blank" noopener noreferer href="/event/Eupdates">
                                                    E-UPDATES
                                                </a>
                                            </li>
                                            
                                            <li>
                                                <a target="_blank" noopener noreferer href="/event/Plandemic">
                                                    PLANDEMIC
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" noopener noreferer href="/event/IDEATHON">
                                                    IDEATHON
                                                </a>
                                            </li>

                                            <li>
                                                <a target="_blank" noopener noreferer
                                                    href="/event/Entrepreneurship_Development_Drive">
                                                    Entrepreneurship Development Drive
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" noopener noreferer href="/cap">
                                                    Campus Ambassador Program
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/blog" target="_blank" noopener noreferer>BLOGS</a></li>
                                    <li><a href="#contact" class="scroll-to">CONTACT</a></li>
                                    <li><a href="/home/Team" class="scroll-to">TEAM</a></li>
                                    <li><a href="/home/Sponsors" class="scroll-to">PAST SPONSORS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Landing Section -->
        <section class="fullscreen p-b-0">
            <div id="landing" class="bg-overlay" data-style="9" style="opacity: 0.4;"></div>
            <div class="container m-t-0">
                <div class="row col-reverse">
                    <div class="col-lg-6 col-12">
                        <div class="text-left" data-animate="fadeInUp" data-animate-delay="500">
                            <!-- Captions -->
                            <h1>TeamUp</h1>
                            <h2>Let's build it together</h2>
                            <a type="button" href="#entry-student" class="scroll-to btn">For Students</a>
                            <a type="button" href="#entry-startup" class="scroll-to m-l-0 btn">For Startups and
                                Projects</a>
                            <!-- end: Captions -->
                            <!-- <a href="#about">more</a> -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-12" data-animate="fadeInUp">
                        <img src="/images/team-up/progress_.webp" alt="TeamUp First Image" srcset="">
                    </div>
                </div>
            </div>
            <div class="shape-divider" data-style="1" data-flip-horizontal="true"></div>
        </section>
        <!--end: Landing Section -->

        <!-- About us -->
        <section id="about" class="p-b-0 p-t-0">
            <div class="container m-t-0">
                <div class="row">
                    <div class="col-lg-6 col-md-12 m-b-60" data-animate="fadeInRight">
                        <img src="/images/team-up/startup_.webp" alt="">
                    </div>

                    <div class="col-lg-6 col-md-12 m-b-60 p-r-0 middle" style="font-size: large;"
                        data-animate="fadeInLeft" data-animate-delay="500">
                        <div>
                            <strong>TeamUp</strong>, a team-building initiative where startups/potential projects from
                            our
                            institute will get
                            a chance to build their teams, while it would help students understand the opportunities and
                            obstacles involved in this field.
                            <br><br>
                            The vision behind this initiative is to promote and
                            nurture
                            startup culture in IITM by providing <strong>Insti entrepreneurs</strong> with team members
                            for
                            their venture
                            and provide <strong>Insti students</strong> with a feel of startup journey.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: About us -->

        <!-- Entry Points -->
        <section id="entry" class="p-t-100 p-b-100">
            <div class="bg-overlay" data-style="9" style="opacity: 0.2;"></div>
            <div class="shape-divider d-block d-md-none" data-style="2" data-flip-vertical="true" data-position="top">
            </div>
            <div class="shape-divider d-none d-md-block" data-style="10" data-flip-vertical="true" data-position="top">
            </div>
            <div class="container">
                <div class="row" style="align-items: flex-end;justify-content: center;">
                    <div id="entry-student" class="col-lg-5 col-md-12" data-animate="fadeInLeft">
                        <img src="/images/team-up/brainstorming_.webp" alt="">
                        <h2 class="m-b-0">
                            For Students
                        </h2>
                        <p>
                            Students can view projects/startups and get an idea about their work and job profiles
                            available and apply for job profile of their choice.
                        </p>
                        <a target="_blank" type="button" style="cursor: not-allowed !important;"
                            class="entry-button btn btn-lg btn-block btn-reveal disabled">
                            <span>
                                Registrations Closed
                            </span>
                            <i class="icon-external-link"></i>
                        </a>
                        <a target="_blank" noopener noreferer href="https://ecell.iitm.ac.in/login" type="button"
                            class="entry-button btn-reveal m-l-0 btn btn-light btn-lg btn-block">
                            <span>Log In</span>
                            <i class="icon-external-link"></i>
                        </a>
                    </div>
                    <div id="entry-startup" class="col-lg-5 col-md-12" data-animate="fadeInRight">
                        <hr class="d-block d-md-none" style="width: 100%; padding-bottom: 3em;" />
                        <img src="/images/team-up/team_meeting_.webp" alt="">
                        <h2 class="m-b-0">
                            For Startups/Projects
                        </h2>
                        <p>
                            Professors/Startups can view the information of students applied and can get the right
                            students onboard for their project/startup.
                        </p>
                        <a target="_blank" noopener noreferer href="https://forms.gle/3VmxLCZMkZLdHVLd9" type="button" class="entry-button btn-reveal btn btn-lg btn-block">
                            <span>Register your startup</span>
                            <i class="icon-external-link"></i>
                        </a>
                        <a target="_blank" noopener noreferer href="https://ecell.iitm.ac.in/mentor-login" type="button"
                            class="entry-button btn-reveal m-l-0 btn btn-light btn-lg btn-block">
                            <span>Log In</span>
                            <i class="icon-external-link"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="shape-divider" data-style="10"></div>
        </section>
        <!-- end: Entry Points -->

        <!-- Quote -->
        <section id="quote" data-animate="fadeIn">
            <div id="particles-stars" class="particles"></div>
            <div class="container">
                <div class="row quote" style="align-items: center;">
                    <div class="col-lg-2 col-md-12">
                        <img src="/images/team-up/henry-ford.webp" alt="Henry Ford"
                            style="border-radius: 100%; max-width: 200px;">
                    </div>
                    <div class="col-lg-10 col-md-12">
                        <div class="blockquote blockquote-simple">
                            <p>
                                If everyone is moving forward together, then success takes care of itself.
                            </p>
                            <cite>Henry Ford</cite>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Quote -->

        <!-- Contact -->
        <section id="contact" class="p-t-60 p-b-20" style="background-color: #eff1f4;">
            <div class="shape-divider" data-style="10" data-flip-vertical="true" data-position="top"></div>
            <div class="container" style="display:flex; flex-direction:column; align-items: center;">
                <h2 class="m-b-10">For queries, contact:</h2>
                <div>
                    <div class="row" style="align-items: center;">
                        <div class="col-3">
                            <i class="fa-2x icon-mail"></i>
                        </div>
                        <div class="col-9 text-left">
                            <strong>
                                dna_ecell@smail.iitm.ac.in
                            </strong>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="align-items: center;">
                        <div class="col-3">
                            <i class="fa-2x icon-phone"></i>
                        </div>
                        <div class="col-9 text-left">
                            <strong>9413976637</strong> (Ashish)
                            <br>
                            <strong>6379042272</strong> (Prithviraj)
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Contact -->

        <!-- Footer -->
        <footer id="footer">
            <div class="copyright-content p-t-20 p-b-20">
                <hr>
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Abhijit
                                        <i class="fab fa-whatsapp"></i> : +91 8895219514</div>
                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Abhijit <i class="fab fa-whatsapp"></i> : +91 8895219514</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop">
        <i class="icon-chevron-up"></i>
        <i class="icon-chevron-up"></i>
    </a>

    <!--Plugins-->
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/plugins.js" type="text/javascript"></script>
    <script src="/plugins/particles/particles.js" type="text/javascript"></script>
    <script src="/plugins/particles/particles-stars.js"></script>
    <!--Template functions-->
    <script src="/js/functions.js"></script>
</body>

</html>
