<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EE48L2Q4HV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-EE48L2Q4HV');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="Meet the E-Cell crew!">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Team | E-Cell | IIT Madras</title>
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link rel="icon" href="/images/logos/e-cell_logo_white.png" type="image/gif" sizes="16x16">
</head>

<body>
    <!-- TEAM -->
    <div class="body-inner">
        <header id="header" data-fullwidth="true" data-responsive-fixed="true" class="header-sticky header-mini">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/home">
                            <img src="/images/logos/e-cell_logo.png" class="p-t-10 p-b-10 logo-fixed">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Navigation Responsive Trigger-->
                    <div class="mainmenu-trigger-container">
                        <div id="mainMenu-trigger">
                            <button class="lines-button x"> <span class="lines"></span> </button>
                        </div>
                    </div>
                    <!--end: Navigation Responsive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="dark">
                        <div class="col-md-6 container">
                            <nav>
                                <ul id="my-nav">
                                    <li><a href="/home" class="scroll-to">HOME</a></li>
                                    <li><a href="/blog" target="_blank">BLOGS</a></li>
                                    <li class="dropdown">
                                        <a href="#">INITIATIVES<i class="text-right fa fa-angle-down"></i></a>
                                        <ul id="my-dropdown-nav" class="dropdown-menu">
                                            <li>
                                                <a target="blank"
                                                    href="/event/team-up">Team Up</a>
                                            </li> 
                                            <li>
                                              <a target="blank"
                                                  href="/event/Eupdates">E-UPDATES</a>
                                          </li>
                                          <li>
                                            <a target="blank"
                                                href="/event/Startup_Series">Startup Series</a>
                                          </li>
                                          <li>
                                              <a target="blank"
                                                  href="/event/Plandemic">PLANDEMIC</a>
                                          </li>
                                          <li>
                                              <a target="blank"
                                                  href="/event/Ideathon">IDEATHON</a>
                                          </li>
                                          <li>
                                              <a target="blank" href="/event/Entrepreneurship_Development_Drive">Entrepreneurship
                                                  Development Drive</a>
                                          </li>
                                          <li>
                                            <a target="blank" href="/cap">Campus Ambassador Program</a>
                                        </li>
                                            <li>
                                                <a href="/home#events"
                                                    class="scroll-to">OTHER EVENTS</a>
                                            </li>
                                        </ul>
                                    </li>
                                   
                                    <li><a href="#footer" class="scroll-to">CONTACT</a></li>
                                    <li><a href="/home/Sponsors" target="_blank">PAST
                                            SPONSORS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <section id="heading-image" class="fullscreen p-t-0 p-b-150" data-bg-image="/images/team/team.jpg">
            <div class="bg-overlay" style="background: linear-gradient(transparent, whitesmoke); opacity: 1;"></div>
            <div class="bg-overlay" data-style="1" style="z-index: -1; opacity: 0.4;"></div>
            <div class="container m-t-0">
                <div id="team-heading" class="text-light text-center">
                    <h1 class="text-lg text-dark" style="color: #001d55 !important">TEAM MEMBERS</h1>
                    <h1 class="text-uppercase" style="color: #001641 !important;line-height: 50px;"> <span
                            style="color: #001641 !important;font-weight: 800;">E-Cell</span> IIT Madras</h1>
                    <h1 style="color: #001641 !important; line-height: 0px;">2020-21</h1>
                </div>
            </div>
            <div class="scrolldown-animation p-b-200 text-center" id="scroll-down">
                <a class="scroll-to" href="#team"><i style="color: #001641;" class="fa fa-2x fa-angle-down"></i></a>
            </div>
        </section>
        <section id="team" style="background-color: whitesmoke;">
            <div class="container">

                <div class="row team-members">
                      
                    
                    <div class="col-lg-6">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/ashwin-sir.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:24px">Prof. Ashwin Mahalingam</h3>
                                <h3 style="color:gray">Faculty Advisor</h3>
                                <div class="align-center">
                                  
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="mailto:mash@iitm.ac.in">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                    <h5 style="color:black; font-size: 16px;"> <a href = "mailto:mash@iitm.ac.in" style="color: black;">mash@iitm.ac.in</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/Thillai-sir.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:24px">Prof. Thillai Rajan A </h3>
                                <h3 style="color:gray">Faculty Advisor</h3>
                                <div class="align-center">
                                  
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="mailto:thillair@iitm.ac.in">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                    <h5 style="color:black; font-size: 16px;"> <a href = "mailto:thillair@iitm.ac.in" style="color: black;">thillair@iitm.ac.in</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                   

                    

                    <div class="col-lg-6">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/akshit.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:24px">Akshit Bagde</h3>
                                <h3 style="color:gray">Students' Head</h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://m.facebook.com/akshit2000.bagde">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/akshit2000bagde">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/ayush.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:24px">Ayush Toshniwal</h3>
                                <h3 style="color:gray">Students' Head</h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/ayush.toshniwal">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/toshniwalayush8">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/vaidehi.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Vaidehi Mishra</h3>
                                <h3 style="color:gray">Corporate Relations </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/profile.php?id=100007803466016">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/vaidehi-mishra/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/sid.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Siddharth PM</h3>
                                <h3 style="color:gray">Corporate Relations </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/profile.php?id=100007803466016">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/siddharth.pms">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/indraneel.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Indraneel Chavan</h3>
                                <h3 style="color:gray">Development and Associations</h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/indraneel.chavhan">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/indraneel-chavan-286914174">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/saurav.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Saurav chandak</h3>
                                <h3 style="color:gray">Development and Associations</h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/sourav.chandak.73">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/sourav-chandak-b902aa174">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/manasee.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Manasee Jadhav</h3>
                                <h3 style="color:gray">Editorial and Research </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/manasee-jadhav-504638187">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/sunny.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Sunny Duggepogu</h3>
                                <h3 style="color:gray">Editorial and Research </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" href="https://m.facebook.com/lazer.sunny"
                                        target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/sunny-d-614a3596">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/neha.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Neha Rana</h3>
                                <h3 style="color:gray">Entrepreneurship Club </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/neharana1106">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/neha-rana11/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/madhur.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Madhur Jindal</h3>
                                <h3 style="color:gray">Entrepreneurship Club </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/madhurjindal30">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/madhur-jindal-178296169/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/shreyas.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Shreyas Wani</h3>
                                <h3 style="color:gray">Events and Networking</h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" href="https://www.facebook.com/shreyasvswani"
                                        target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/shreyaswani">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/harshit.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Harshit Shrivastava</h3>
                                <h3 style="color:gray">Events and Networking </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/harshit.shrivastava.9809">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/harshit-shrivastava-19a27a176/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/vikas.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">M. Vikas Vardhan</h3>
                                <h3 style="color:gray">Finance and Operations </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/prince.vicky.96930013">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/vikas-vardhan-85a9a3165/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/naveen.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">S Naveen</h3>
                                <h3 style="color:gray">Finance and Operations</h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/naveen.sankar.946">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/naveen-s-978b1b84">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/chhaya.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Chhaya Sharma </h3>
                                <h3 style="color:gray">Graphic Design and Media </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/profile.php?id=100009368382553">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/chhaya-sharma-15a515168">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/aditya.png">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Aditya Parag Rindani</h3>
                                <h3 style="color:gray">Graphic Design and Media </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/aditya.rindani/">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/aditya-rindani-05405a17a/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/hanusha.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Hanushavardhini.S</h3>
                                <h3 style="color:gray">Marketing and Public Relations </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://m.facebook.com/profile.php?id=100027203912674">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/hanushavardhini-senthur-selvam-378097174/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/karil.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Karil Garg</h3>
                                <h3 style="color:gray">Marketing and Public Relations </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://m.facebook.com/karil.garg">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="http://linkedin.com/in/karil-garg-521ab3173">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/yuvraj.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Yuvraj Singh</h3>
                                <h3 style="color:gray">Startup Services </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/uv1107/">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/yuvrajsingh11/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/suraj.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Chamakura Suraj Reddy</h3>
                                <h3 style="color:gray">Startup Services </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.facebook.com/profile.php?id=100009276154321">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/suraj-chamakura-5b9051175/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/manu.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Manu Chauhan</h3>
                                <h3 style="color:gray">Student Relations and Outreach </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/manuchauhan955/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/atharva.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Atharva Mashalkar</h3>
                                <h3 style="color:gray">Web and Mobile Operations </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/atharva-mashalkar">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member shadow">
                            <div class="team-image">
                                <img src="/images/team/gaurik.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="font-size:18px">Gaurik</h3>
                                <h3 style="color:gray">Web and Mobile Operations </h3>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-light" target="_blank"
                                        href="https://www.linkedin.com/in/gaurik-mukherjee-53548217a/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

















                </div>
            </div>
        </section>
        <!-- end: TEAM -->

        <footer id="footer">
            <div class="copyright-content p-t-20 p-b-20">
                <div class="container">
                    <div class="row h5">
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                &copy;Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                            <div class="d-block d-lg-none text-center">
                                &copy;Developed by
                                <br>
                                <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                <br>
                                All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-none d-xl-block d-lg-block">
                                <span>For issues related to the website, contact:</span>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">Abhijit <i class="fab fa-whatsapp"></i> : +91
                                        8895219514</div>
                                </div>
                            </div>
                            <div class="d-block d-lg-none text-center">
                                <br>
                                <span>For issues related to the website, contact:</span>
                                <div>Abhijit <i class="fab fa-whatsapp"></i> : +91 8895219514</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <a id="scrollTop">
        <i class="fa fa-angle-up"></i><i class="fa fa-angle-double-up"></i></a>
    <!--Plugins-->
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/custom.js"></script>
    <!--Template functions-->
    <script src="/js/functions.js"></script>
</body>

</html>
